<div class="section-title">Riconoscimenti</div>
<div class="button-container">
    <button mat-mini-fab color="accent" class="add-button" (click)="openAchievementDialog()" *ngIf="isOwnerData">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div class="achievement-container">
    <div class="achievement-item" *ngFor="let achievement of achievementsData; let i = index;">
        <details class="achievement-details" [hidden]="!achievement.visible && !isOwnerData">
            <summary class="achievement-title"><mat-icon *ngIf="!achievement.visible && isOwnerData">visibility_off</mat-icon> <div class="achievement-title-label">{{achievement.title}}</div></summary>
            <div class="achievement-description">{{achievement.content}}</div>
            <div class="reclamedby-container">
                <img *ngFor="let char of achievement.reclamedBy" [src]="char.url" class="reclamedby-image" />
            </div>
            <!-- <div class="achievement-content">Riferimento: {{achievement.reference !== '' ? achievement.reference : '-'}}</div> -->
            <div class="button-container">
                <button color="accent" class="edit-button" (click)="openAchievementDialog(achievement, i)" *ngIf="isOwnerData">
                    Modifica
                </button>
            </div>
        </details>
    </div>
</div>