<div mat-dialog-title class="dialog-title">{{data.organization ? 'Modifica' : 'Aggiungi'}} Organizzazione</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div class="step-form" [formGroup]="form">
        <div class="line-container">
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Luogo</mat-label>
                <input matInput formControlName="lastPlace">
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Relazione</mat-label>
                <mat-select formControlName="relationship">
                    @for (relation of relationships; track $index) {
                    <mat-option [value]="relation">{{relation}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Note</mat-label>
            <textarea matInput formControlName="notes" rows="5"></textarea>
        </mat-form-field>
        <div class="line-container img-upload">
            @if (form.value.imgUrl !== '' || form.value.imgName !== '') {
                <img [src]="form.value.imgUrl" referrerpolicy="no-referrer">
                <div class="divider"></div>
            }
            <input hidden [disabled]="form.value.name === ''" #orgFile id="file" class="" type="file" accept="image"
                (change)="onPicSelected($event)">
            <button mat-raised-button color="accent" [disabled]="form.value.imgUrl !== '' || !form.valid"
                (click)="orgFile.click()"><mat-icon>add_photo_alternate</mat-icon> Carica
            </button>
            <button mat-raised-button color="accent" [disabled]="form.value.imgUrl === '' && form.value.imgName === ''"
                (click)="deletePic(form.value.imgName)">
                <mat-icon>delete</mat-icon> Elimina
            </button>
        </div>

    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>
        <mat-icon>close</mat-icon> Annulla
    </button>
    <button *ngIf="data.organization" mat-raised-button mat-dialog-close color="warn" (click)="delete()">
        <mat-icon>delete</mat-icon> Elimina
    </button>
    <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="confirm()">
        <mat-icon>{{data.organization ? 'check' : 'add'}}</mat-icon> {{data.organization ? 'Modifica' : 'Aggiungi'}}
    </button>
</div>