<div class="money-container" (click)="openEditMoneyDialog()" (mouseover)="tooltip.showTooltip($event, 'center', true, 'money-tooltip')" (mouseleave)="tooltip.hideTooltip()">
    <div class="money-title">Denaro</div>
    <div class="moneys">
      <div class="single-coins-viewer">
        <img src="../assets/coins/copper.svg" alt="">
        <div>
          {{denaroData.MR}}
        </div>
      </div>
      <div class="single-coins-viewer">
        <img src="../assets/coins/silver.svg" alt="">
        <div>
          {{denaroData.MA}}
        </div>
      </div>
      <div class="single-coins-viewer">
        <img src="../assets/coins/electrum.svg" alt="">
        <div>
          {{denaroData.ME}}
        </div>
      </div>
      <div class="single-coins-viewer">
        <img src="../assets/coins/gold.svg" alt="">
        <div>
          {{denaroData.MO}}
        </div>
      </div>
      <div class="single-coins-viewer">
        <img src="../assets/coins/platinum.svg" alt="">
        <div>
          {{denaroData.MP}}
        </div>
      </div>
    </div>
  </div>
<app-description-tooltip id="money-tooltip" info="denaro" *ngIf="tooltip.show && tooltip.id === 'money-tooltip'" [ngStyle]="{'top.px': tooltip.tooltipPosition.top, 'left.px': tooltip.tooltipPosition.left}"></app-description-tooltip>
