<div class="sheet-container">
    <div class="item-name">{{data.item.name}}</div>
    <div class="item-type">{{data.item.category}}, {{data.item.rarity}}<span *ngIf="data.item.magicItem">, magico</span>
    </div>
    <div class="arcane-focus-label" *ngIf="data.item.focus">
        <img src="./assets/icons/arcane-focus.svg"> Focus Arcano
    </div>
    <div class="consumable-label" *ngIf="data.item.consumable">
        <img src="./assets/icons/consumable.svg"> Uso singolo
    </div>
    <div class="item-description">
        {{data.item.description}}
    </div>
    @if (data.item.weaponProperties && data.item.weaponProperties.length > 0) {
    <div class="category-label">Proprietà arma</div>
    @for (prop of data.item.weaponProperties; track $index) {
        <div class="property-label">{{prop.name}}</div>
        <div class="property-description">{{prop.description}}</div>
    }
    }
    @if (data.item.traits && data.item.traits.length > 0) {
        <div class="category-label">Tratti</div>
        <ul class="unordered-list">
            @for (trait of data.item.traits; track $index) {
            <!-- <div>
                <span class="trait-name">{{trait.title}}</span>: {{trait.description}}
            </div> -->
            <li>
                <span class="trait-name">{{trait.title}}</span>: <span class="trait-description">{{trait.description}}</span>
            </li>
            }
        </ul>
    }

    @if (isCampaign && !data.isOwner) {
    <div class="reclame-container">
        <button *ngIf="data.item.quantity > 1" mat-raised-button color="accent" (click)="reclameItem(data.item, 1)"
            autofocus="false">Reclama 1</button>
        <button mat-raised-button color="accent" (click)="reclameItem(data.item, data.item.quantity)"
            autofocus="false">Reclama tutto</button>
    </div>
    }
    <div class="sheet-footer">
        <div *ngIf="data.item.weight" class="footer-element"><img src="./assets/icons/weight.svg"> {{data.item.weight *
            data.item.quantity}}</div>
        <div class="footer-element"><img src="./assets/tabs-icons/inventory.svg"> {{data.item.quantity}}</div>
        <div class="footer-element"><img class="gold-icon" src="./assets/coins/gold.svg"> {{data.item.value *
            data.item.quantity}}</div>
        <div *ngIf="data.item.reference" class="footer-element"><img src="./assets/icons/bookmark.svg">
            {{data.item.reference}}</div>
    </div>
</div>

@if (data.isOwner || !isCampaign) {
<button mat-mini-fab class="edit-button" (click)="openEditDialog(data.item)">
    <mat-icon>edit</mat-icon>
</button>
}