.sheet-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header-container {
    background-color: rgba($color: #212121, $alpha: 0.9);
    color: whitesmoke;
    padding: 8px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.header-title {
    font-family: 'Cinzel', serif;
    font-size: medium;
    text-align: center;
}

.header-title::first-letter {
    font-size: large;
}

.item-type {
    text-align: center;
    font-size: x-small;
    opacity: 0.9;
}

.item-type::first-letter {
    text-transform: uppercase;
}

.actions-container {
    padding: 0 8px;
}

.item-description {
    text-align: justify;
    font-size: small;
    font-style: italic;
    opacity: 0.7;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 8px;
}

.content-container {
    padding: 0 12px;
    // background-color: whitesmoke;
}

.info-container {
    width: 100%;
}

.info-label {
    font-size: 0.8rem;
    font-weight: bold;
}

.sheet-footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    
    background-color: rgba($color: #212121, $alpha: 0.9);
    color: whitesmoke;
    padding: 8px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    
    font-size: 0.8rem;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .sheet-footer {
        height: 72px;
    }
}

.item-value {
    display: flex;
    gap: 4px;
    align-items: center;

    img {
        width: 16px;
        height: 16px;
    }
}

.property-label {
    font-size: small;
    font-weight: bold;
    text-transform: capitalize;
}

.property-description {
    font-size: small;
    text-align: justify;
    opacity: 0.7;
}


.reclame-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.reclame-container>button {
    flex-grow: 1;
    width: 40%;
}

.category-label {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 4px;
}

.unordered-list {
    padding-left: 20px;
    margin: 0;
}

.trait-name {
    font-weight: 500;
}

.trait-description {
    font-size: small;
    opacity: 0.7;
}

.damage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.damage-formula {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.damage-type {
    font-size: small;
    opacity: 0.7;
}