<div mat-dialog-title class="dialog-title">Inizia nuovo capitolo</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div as-description-text>
        Stai per iniziare un nuovo Capitolo nella Campagna in corso. Inserisci un <strong>Titolo</strong> e una
        <strong>Descrizione</strong> che sostituiranno i precedenti dopodichè premi 'Conferma'. Tutto ciò che è stato
        inserito finora in: storia, missioni, npc e ricompense, verrà archiviato nelle rispettive sezioni e sia tu che i
        giocatori potrete visualizzare ciò che è stato da un tasto apposito.
    </div>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Titolo</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Descrizione</mat-label>
        <textarea matInput formControlName="description" rows="5"></textarea>
    </mat-form-field>
</div>
<div as-buttons-container mat-dialog-actions align="end">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div> <div>Annulla</div>
    </button>
    <button as-btn [disabled]="!form.valid" (click)="confirm()">
        <div class="material-symbols-outlined">check</div> <div>Conferma</div>
    </button>
</div>