<div mat-dialog-title class="dialog-title">Aggiorna Punti Ferita</div>
<div class="pf-container">
    <div class="pf-line">
        <span class="pf-value">{{data.parametriVitali.pf}}/{{data.parametriVitali.pfMax}}</span>
        <mat-icon class="pf-icon" matTooltip="Punti Ferita Attuali / Massimi" matTooltipPosition="above">favorite</mat-icon>
        <progress class="pf-progress" max="{{data.parametriVitali.pfMax}}"
            value="{{data.parametriVitali.pf}}"></progress>
    </div>
    <div class="pf-line" *ngIf="data.parametriVitali.pftMax > 0">
        <span class="pf-value">{{data.parametriVitali.pft}}/{{data.parametriVitali.pftMax}}</span>
        <mat-icon class="pf-icon-temp"
            matTooltip="Punti Ferita Temporanei" matTooltipPosition="above">hourglass_empty</mat-icon>
        <progress class="pf-progress pf-progress-temp "
            max="{{data.parametriVitali.pftMax}}"
            value="{{data.parametriVitali.pft}}"></progress>
    </div>
</div>

<div mat-dialog-content class="dialog-content" [formGroup]="hpForm">
    <div class="input-pf-container">
        <mat-form-field color="accent" class="custom-form-field" appearance="outline">
            <mat-label>Valore</mat-label>
            <input type="number" min="0" matInput formControlName="value">
        </mat-form-field>
        <div class="health-buttons-container">
            <button mat-icon-button class="hp-button" color="accent" (click)="add()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button class="hp-button" color="accent" (click)="remove()">
                <mat-icon>remove</mat-icon>
            </button>
            <button mat-icon-button class="hp-button" color="accent" (click)="addTemp()">
                <mat-icon>hourglass_empty</mat-icon>
            </button>
        </div>
    </div>
    <div class="description-text">
        Inserisci un valore poi premi la clessidra per impostare <strong>punti ferita temporanei</strong>.
    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="accent" (click)="close()">Chiudi</button>
</div>