.dialog-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

// .dialog-content {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     padding: 0 20px;
//     gap: 4px;
// }

.hp-button {
    background-color: #212121;
    color: white;
    border-radius: 4px;
    // height: 100%;
    box-shadow: 0 0 4px #212121;

}

.custom-form-field {
    width: 100%;
    // margin-top: 20px;
}

.pf-container {
    display: flex;
    align-items: center;
    margin: 0 20px;
    gap: 8px;
}

.pf-line {
    display: flex;
    gap: 4px;
    align-items: center;
    // width: 50%;
    flex-grow: 1;
}

.pf-value {
    font-weight: bold;
    font-size: x-large;
    margin-left: 4px;
}

.pf-icon {
    color: red;
    overflow: unset;
}

.pf-icon-temp {
    color: orange;
    overflow: unset;
}

.pf-progress {
    height: 10px;
    border-radius: 4px;
    background-color: lightgray;
    margin: 0 8px;
    flex-grow: 1;
}

.pf-progress-temp::-webkit-progress-value {
    background-color: orange;
}

.pf-progress-temp::-moz-progress-bar {
    background-color: orange;
}

.input-pf-container{
    display: flex;
    // width: 50%;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
}

.health-buttons-container {
    display: flex;
    gap: 8px;
}

.description-text {
    font-size: small;
    opacity: 0.5;
    font-style: italic;
    margin: 12px 0px;
    text-align: justify;
}

@media screen and (max-width: 500px) {
    .pf-container {
        flex-direction: column;
    }

    .pf-line {
        width: 100%;
    }

    .dialog-content {
        flex-wrap: wrap;
    }

    .prova {
        width: 100%;
    }

    .input-pf-container{
        width: 100%;
        flex-direction: column;
    }

    .health-buttons-container {
        width: 100%;
        justify-content: space-between;
    }

    .hp-button {
        flex-grow: 1;
    }
}