<div mat-dialog-title class="dialog-title">Aggiorna Punti Ferita</div>
<div class="pf-container">
    <div class="pf-line">
        <span class="pf-value">{{data.parametriVitali.pf}}/{{data.parametriVitali.pfMax}}</span>
        <mat-icon class="pf-icon" matTooltip="Punti Ferita Attuali / Massimi"
            matTooltipPosition="above">favorite</mat-icon>
        <progress class="pf-progress" max="{{data.parametriVitali.pfMax}}"
            value="{{data.parametriVitali.pf}}"></progress>
    </div>
    <div class="pf-line" *ngIf="data.parametriVitali.pftMax > 0">
        <span class="pf-value">{{data.parametriVitali.pft}}/{{data.parametriVitali.pftMax}}</span>
        <mat-icon class="pf-icon-temp" matTooltip="Punti Ferita Temporanei"
            matTooltipPosition="above">hourglass_empty</mat-icon>
        <progress class="pf-progress pf-progress-temp " max="{{data.parametriVitali.pftMax}}"
            value="{{data.parametriVitali.pft}}"></progress>
    </div>
</div>

<div mat-dialog-content class="dialog-content" [formGroup]="hpForm">
    <div class="input-pf-container">
        <mat-form-field color="accent" class="custom-form-field" appearance="outline">
            <mat-label>Valore</mat-label>
            <input type="number" min="0" matInput formControlName="value">
        </mat-form-field>
        <div class="health-buttons-container">
            <button as-bottom-btn (click)="add()" [disabled]="!hpForm.dirty">
                <div class="material-symbols-outlined">add</div>
            </button>
            <button as-bottom-btn (click)="remove()" [disabled]="!hpForm.dirty">
                <div class="material-symbols-outlined">remove</div>
            </button>
            <button as-bottom-btn (click)="addTemp()" [disabled]="!hpForm.dirty">
                <div class="material-symbols-outlined">hourglass_empty</div>
            </button>
            <button as-bottom-btn (click)="restore()">
                <div class="material-symbols-outlined">restart_alt</div>
            </button>
        </div>
    </div>
    <div as-label>Punti ferita temporanei</div>
    <div as-description-text>
        Per impostare dei <strong>Punti ferita temporanei</strong> inserire un valore dopodichè premere il tasto con la
        clessidra. I Punti ferita temporanei vengono sovrascritti ogni volta che vengono impostati.
    </div>
</div>

<div as-buttons-container mat-dialog-actions align="end">
    <button as-btn (click)="close()">Chiudi</button>
</div>