<div class="home-container">
  <div class="home-title">
    Adventurer Studio
  </div>
  @if (user) {
    <div class="user-box">
      <div class="user-identity-container">
        <img class="user-image" src="{{user.photoURL}}" referrerpolicy="no-referrer">
        <div class="infos">
          <div class="user-name">
            {{user.displayName}}
          </div>
          <div class="char-length">
            <span class="material-symbols-outlined">description</span> {{user.characters.length}}/{{user.charactersLimit}} Personaggi
          </div>
        </div>
      </div>
    </div>
  }

  <div class="main-actions-container">
    <div class="actions-container">
      <button as-btn [routerLink]="['/home']" (click)="close()">
        <mat-icon>home</mat-icon>
        Home
      </button>
    
      <button as-btn [routerLink]="['/characters']" (click)="close()">
        <mat-icon>description</mat-icon>
        Personaggi
      </button>

      <button as-btn [routerLink]="['/resources']" (click)="close()">
        <mat-icon>inventory_2</mat-icon>
        Risorse
      </button>

      <button as-btn [routerLink]="['/campaigns']" (click)="close()">
        <mat-icon>group</mat-icon>
        Campagne
      </button>
    
      <button as-btn [routerLink]="['/adventures']" (click)="close()">
        <mat-icon>map</mat-icon>
        Avventure
      </button>
    
    </div>
  
    <div class="actions-container">
      <div class="socials-container">
        <a href="https://t.me/+iL05tCdpuSgxODM8" target="_blank">
          <img class="social-icon" src="./assets/socials/telegram.svg">
        </a>
      </div>
      <div class="version-label">vers. 02072024.1</div>
      <button as-btn (click)="openSettingsDialog()" [disabled]="!user" *ngIf="isAdmin">
        <mat-icon>settings</mat-icon>
        Impostazioni
      </button>
    
      <button as-btn (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Disconnettiti
      </button>
    </div>
  </div>

  <!-- <div class="toggle-container">
    <div class="toggle-label">Abilita tiri</div>
    <mat-slide-toggle color="accent" [checked]="roomExist" (change)="toggle($event)"></mat-slide-toggle>
  </div> -->
  
</div>
