<div class="home-container">
  <div class="home-title">
    Adventurer Studio
  </div>
  <div class="user-box" *ngIf="firebaseService.user.value">
    <div class="user-identity-container">
      <img class="user-image" src="{{firebaseService.user.value.photoURL}}" referrerpolicy="no-referrer">
      <div class="user-name">
        {{firebaseService.user.value.displayName}}
      </div>
      <div class="characters-count">
        <mat-icon matTooltip="Schede create" matTooltipPosition="below">description</mat-icon> {{firebaseService.user.value.characters.length}} / 3
      </div>
    </div>
  </div>

  <button mat-raised-button color="primary" [routerLink]="['/home']" (click)="close()">
    <mat-icon>home</mat-icon>
    Inizio
  </button>

  <button mat-raised-button color="primary" [routerLink]="['/characters']" (click)="close()">
    <mat-icon>description</mat-icon>
    I tuoi personaggi
  </button>

  <button mat-raised-button color="primary" disabled (click)="close()">
    <mat-icon>group</mat-icon>
    Campagne
  </button>

  <button mat-raised-button color="primary" disabled (click)="close()">
    <mat-icon>inventory_2</mat-icon>
    Creazioni
  </button>

  <button mat-raised-button color="primary" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Disconnettiti
  </button>

  <div class="toggle-container">
    <div class="toggle-label">Abilita tiri</div>
    <mat-slide-toggle color="primary" [checked]="roomExist" (change)="toggle($event)"></mat-slide-toggle>
  </div>
  
</div>
