.home-container {
  display: flex;
  gap: 4px;
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
}

.first-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  width: 20%;
  margin: 8px;
  box-sizing: border-box;
  // background-color: blue;
}

.home-title {
  color: white;
  font-family: Cinzel, serif;
  font-size: x-large;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  padding: 48px 24px;
  text-align: center;
  // border-radius: 8px;
  // height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user-box {
  background-color: white;
  width: 100%;
  // border-radius: 8px;
  padding: 4px;
  box-sizing: border-box;
  // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.user-identity-container {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  // border-radius: 5px;
}

.user-name {
  text-transform: uppercase;
  flex-grow: 1;
}

.second-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 8px;
}

.characters-count {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: smaller;
  margin-right: 8px;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.toggle-label {
  text-transform: uppercase;
}

button {
  border-radius: 0;
}

@media screen and (min-width: 501px) {
  // .home-container {
  //     // position: fixed;
  //     // width: 25%;
  // }
}

@media screen and (max-width: 900px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .home-title {
    width: 100%;
    box-sizing: border-box;
  }

  button {
    width: 100%;
  }
}

.subtitle {
  margin-top: 8px;
  font-weight: bold;
  border-bottom: 1px solid rgba(#212121, 0.9);
  width: 100%;
}

.main-actions-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.actions-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

.fav-char-container {
  cursor: pointer;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  color: whitesmoke;

  &:hover {
    opacity: 0.8;
  }
}

.fav-char-image {
  min-width: 50px;
  height: 50px;
  object-fit: cover;
}

.fav-char-name {
  font-family: 'Cinzel', serif;
  flex-grow: 1;
}

.nav-arrow {
  margin-right: 8px;
  color: yellow;
}