<div class="section-title">Missioni</div>
<div class="description-text">
    Questo è l'elenco delle Missioni che il DM rivela man mano che vengono scoperte (le missioni variano a seconda della
    Campagna in corso).
</div>
<div class="button-container">
    <button mat-mini-fab color="accent" class="archive-button" (click)="openArchiveQuestsDialog()"
        [disabled]="archiveData.length === 0">
        <mat-icon>inventory_2</mat-icon>
    </button>
    <button mat-mini-fab color="accent" class="add-button" (click)="collapseAll()">
        <mat-icon>unfold_less</mat-icon>
    </button>
    <button mat-mini-fab color="accent" class="add-button" (click)="openQuestDialog()" *ngIf="isOwnerData">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div class="subtitle">Scoperte</div>
<div class="quest-container">
    <div class="story-item" *ngFor="let quest of questsData; let i = index;">
        <details class="quest-details" [hidden]="quest.completed || (!quest.visible && !isOwnerData)">
            <summary class="quest-title"><mat-icon *ngIf="!quest.visible && isOwnerData">visibility_off</mat-icon>
                <div class="quest-title-label">{{quest.title}}</div>
            </summary>
            <div class="quest-description">{{quest.description}}</div>
            @if (quest.steps.length > 0) {
            <div class="progress-title">Progresso missione</div>
            <div class="sc-item-line">
                <ul class="sc-item-ul">
                    @for (step of quest.steps; track $index) {
                    <li>{{step.text}}</li>
                    }
                </ul>
            </div>
            }


            @if (isOwnerData && quest.dmNotes !== '') {
            <div class="quest-dm-notes" *ngIf="isOwnerData"><strong>Note del DM</strong>: {{quest.dmNotes}}</div>
            }
            <div class="button-container">
                <button color="accent" class="edit-button" (click)="openQuestDialog(quest, i)" *ngIf="isOwnerData">
                    Modifica
                </button>
            </div>
        </details>
    </div>
</div>
<div class="subtitle">Completate</div>
<div class="quest-container">
    @for(quest of questsData; track i; let i = $index) {
    <div class="story-item">
        <details class="quest-details" [hidden]="!quest.completed || (!quest.visible && isOwnerData)">
            <summary class="quest-title"><mat-icon *ngIf="!quest.visible && isOwnerData">visibility_off</mat-icon>
                <div class="quest-title-label">{{quest.title}}</div>
            </summary>
            <div class="quest-description">{{quest.description}}</div>
            <div class="quest-description" *ngIf="quest.result"><strong>Completata</strong>: {{quest.result}}</div>
            <div class="button-container">
                <button color="accent" class="edit-button" (click)="openQuestDialog(quest, i)" *ngIf="isOwnerData">
                    Modifica
                </button>
            </div>
        </details>
    </div>
    }
</div>