.checkbox-section{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hint {
  color: grey;
}

.checkbox-line {
  display: flex;
  align-items: center;
  gap: 12px;
}

.divider {
  border-bottom: 1px dotted lightgray;
  flex-grow: 1;
}

.modificatore {
  font-size: medium;
  font-weight: bold;
  margin-right: 8px;
}

mat-form-field {
  width: 100% !important;
  margin-bottom: 8px;
}

.description-text {
  font-size: small;
  opacity: 0.5;
  font-style: italic;
  margin-bottom: 12px;
}

button {
  border-radius: 0;
}

details {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;
  background-color: whitesmoke;
}

details[open] {
  display: flex;
  flex-direction: column;
}

details[open] summary {
  margin-bottom: 4px;
}

summary {
  font-weight: bold;
  text-transform: uppercase;
}