<ng-container *ngIf="group">
  <div class="step-form" [formGroup]="group">
    <div class="description-text">Ci sono modi differenti per calcolare le <strong>Caratteristiche</strong>, decidi con
      il Master e gli altri giocatori come. Vai a PHB 12-13 dove sono descritti questi metodi per saperne di più. I
      <strong>Modificatori</strong> sono calcolati automaticamente sempre secondo quanto spiegato nelle pagine di cui
      sopra.
    </div>
    <div class="form-field-container">
      <mat-form-field color="accent" appearance="outline">
        <mat-label class="input-field">Forza</mat-label>
        <input class="" type="number" matInput formControlName="forza" max="20">
      </mat-form-field>
      <div class="modificatore"> <span *ngIf="modForza > 0">+ </span> {{modForza}}</div>
    </div>

    <div class="description-text">La <strong>Forza</strong> misura la potenza del proprio corpo, l'addestramento fisico
      e l'efficacia con cui un personaggio è in grado di esercitare la propria potenza fisica (PHB 175).</div>

    <div class="form-field-container">
      <mat-form-field color="accent" appearance="outline">
        <mat-label class="input-field">Destrezza</mat-label>
        <input class="" type="number" matInput formControlName="destrezza" max="20">
      </mat-form-field>
      <div class="modificatore"> <span *ngIf="modDestrezza > 0">+ </span> {{modDestrezza}}</div>
    </div>

    <div class="description-text">La <strong>Destrezza</strong> misura l'agilità, i riflessi e l'equilibrio (PHB 176).
    </div>

    <div class="form-field-container">
      <mat-form-field color="accent" appearance="outline">
        <mat-label class="input-field">Costituzione</mat-label>
        <input class="" type="number" matInput formControlName="costituzione" max="20">
      </mat-form-field>
      <div class="modificatore"> <span *ngIf="modCostituzione > 0">+ </span> {{modCostituzione}}</div>
    </div>

    <div class="description-text">La <strong>Costituzione</strong> misura la salute, la resistenza e l'energia vitale
      del Personaggio (PHB
      177).</div>

    <div class="form-field-container">
      <mat-form-field color="accent" appearance="outline">
        <mat-label class="input-field">Intelligenza</mat-label>
        <input class="" matInput type="number" formControlName="intelligenza" max="20">
      </mat-form-field>
      <div class="modificatore"> <span *ngIf="modIntelligenza > 0">+ </span> {{modIntelligenza}}</div>
    </div>

    <div class="description-text">L'<strong>Intelligenza</strong> misura l'acume mentale, la precisione della memoria e
      le capacità logiche (PHB 177).</div>

    <div class="form-field-container">
      <mat-form-field color="accent" appearance="outline">
        <mat-label class="input-field">Saggezza</mat-label>
        <input class="" matInput type="number" formControlName="saggezza" max="20">
      </mat-form-field>
      <div class="modificatore"> <span *ngIf="modSaggezza > 0">+ </span> {{modSaggezza}}</div>
    </div>

    <div class="description-text">La <strong>Saggezza</strong> rappresenta la percezione, l'intuizione e il grado di
      sintonia del personaggio con il mondo circostante (PHB 178).</div>

    <div class="form-field-container">
      <mat-form-field color="accent" appearance="outline">
        <mat-label class="input-field">Carisma</mat-label>
        <input class="" matInput type="number" formControlName="carisma" max="20">
      </mat-form-field>
      <div class="modificatore"> <span *ngIf="modCarisma > 0">+ </span> {{modCarisma}}</div>
    </div>

    <div class="description-text">Il <strong>Carisma</strong> misura la capacità del personaggio di interagire con
      successo con gli altri. Include fattori come la sua sicurezza e la sua eloquenza e può rappresentare una
      personalità accattivante o imperiosa (PHB 178).</div>

  </div>
</ng-container>