* {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 32px 16px;
    box-sizing: border-box;
    width: 100dvw;
    height: 100dvh;
}

.header-container {
    background-color: rgba(#212121, 0.9);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: fit-content;
    max-width: 1000px;
    padding: 20px;

    &>div[as-description-text] {
        font-size: medium;
    }
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-title {
    font-family: 'Cinzel', serif;
    font-size: x-large;
    // text-align: center;
}

.header-counter {
    background-color: whitesmoke;
    color: #212121;
    padding: 8px;
    width: 100px;
    border-radius: 12px;
    text-align: center;
    cursor: default;
}

.no-limit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 120px;
}

.sections-container {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    width: 100%;
    max-width: 1000px;
}

.section-item {
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

    padding: 12px;
    color: #212121;
    width: 100%;
    min-height: 32px;
    box-sizing: border-box;
    border-radius: 12px;
}

.list-container {
    display: grid;
    width: 100%;
    gap: 4px;
    grid-template-columns: repeat(10, 1fr);
    min-height: 32px;
}

.list-item {
    background-color: black;
    padding: 4px;
    border-radius: 4px;
    box-sizing: border-box;

    max-height: 42px;
    max-width: 42px;

    cursor: pointer;
}

.img-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.not-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.init-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.init-message {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: x-large;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    line-height: 1.3;
}

@media screen and (max-width: 768px) {

    .main-container {
        padding: 16px;
    }

    .sections-container {
        grid-template-columns: 1fr;
    }

    .header-container {
        flex-direction: column;
    }

    .header-counter {
        width: 100%;
    }

    .list-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .list-item {
        max-height: 52px;
        max-width: 52px;
    }

    .last-container {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1500px) {
    .header-container {
        max-width: 1450px;
    }

    .sections-container {
        max-width: 1450px;
        grid-template-columns: repeat(3, 1fr);
    }
}