.main-container {
    display: flex;
    flex-direction: column;
    // height: 100%;
    // overflow-y: auto;
    margin: 8px 0 20px 0;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    margin: 4px 0 12px 0;
    position: sticky;
}

.search-input {
    width: 100%;
}

.add-button {
    background-color: #212121;
    box-shadow: none;
    height: 30px;
    width: 30px;

    &:hover {
        box-shadow: none;
    }
}

.competenze-label {
    // font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
    margin-bottom: 4px;
}

.empty-list {
    font-size: small;
    opacity: 0.7;
}

.org-line {
    width: 100%;
    background-color: rgba($color: #212121, $alpha: 0.9);
    border: 1px solid rgba($color: #212121, $alpha: 0.9);
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.org-line>img {
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.org-title-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 2px;
    flex-grow: 1;
    color: whitesmoke;
}

.org-title {
    font-family: 'Cinzel', serif;
    font-size: large;
    display: flex;
    align-items: center;
}

.org-visibility>mat-icon {
    font-size: medium !important;
    display: inline !important;
    margin-right: 8px;
}

.edit-button {
    background-color: whitesmoke;
    color: #212121;
    box-shadow: none;
    height: 30px;
    width: 30px;
    margin-right: 8px;

    &:hover {
        box-shadow: none;
    }
}

.org-description {
    background-color: whitesmoke;
    color: #212121;
    font-size: small;
    padding: 8px;
    border: 1px solid rgba($color: #212121, $alpha: 0.9);
}

.npc-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.npc-footer>img {
    height: 16px;
    width: 16px;
}

.addon-name {
    background-color: #212121;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-summary {
    opacity: 0.9;
}

.bg-description {
    padding: 8px;
}

.main-details[open] {
    border: 1px solid #212121;
}

details>summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: url("/assets/icons/chevron_right.svg");
    cursor: pointer;
}

details[open]>summary::after {
    content: url("/assets/icons/chevron_down.svg");
    cursor: pointer;
}

.caratteristiche-main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 4px;
    padding: 4px;
    box-sizing: border-box;
}

.caratteristiche-line {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 4px;
}

.caratteristiche-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    width: 100%;
    border: 1px solid #212121;
    min-width: 30%;
}

.caratteristica-label {
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    background-color: #212121;
    padding: 5px 0;
    color: whitesmoke;
}

.caratteristica-value {
    font-size: small;
    padding: 4px 0;
    font-weight: bold;
    background-color: whitesmoke;
    width: 100%;
    letter-spacing: 2px;
}

.caratteristica-mod {
    font-size: small;
    font-weight: 700;
    background-color: #212121;
    width: 100%;
    padding: 5px 0;
    color: whitesmoke;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    width: 100%;
}

.info-line {
    display: flex;
    gap: 8px;
}

.info-label {
    font-size: small;
    font-weight: bold;
    letter-spacing: 1px;
}

.info-value {
    font-size: small;
}

.hp-container {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    // height: 25px;
    position: relative;
}

.hp-value {
    position: absolute;
    font-weight: bold;
    background-color: white;
    color: #212121;
    padding: 0 5px;
    // top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.hp-bar {
    flex-grow: 1;
    height: 8px;
    background-color: lightgray;
}

.zero-hp {
    animation: toGrayscale 0.5s ease-in-out forwards;
}

@keyframes toGrayscale {
    0% {
        filter: grayscale(0%);
    }

    100% {
        filter: grayscale(100%);
    }
}

.hp-button {
    height: 25px;
    width: 25px;
    // cursor: pointer;
    // padding: 6px;
    // font-size: x-large;
    // font-weight: bold;
    // background: rgba($color: #212121, $alpha: 0.9);
    // color: whitesmoke;
    // width: 15px;
    // height: 15px;
    // border-radius: 50%;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    // &:hover {
    //     opacity: 0.6;
    // }
}

.hp-button>mat-icon {
    overflow: clip !important;
}

.inner-details {
    padding: 0 4px;
    padding-bottom: 4px;
}

.inner-line {
    padding: 4px;
}

.inner-label {
    font-size: small;
    font-weight: bold;
}

.inner-value {
    font-size: smaller;
}

.section-title {
    margin: 8px 0;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

@media screen and (max-width: 500px) {
    .caratteristiche-line {
        min-width: 99%;
    }

    .org-line {
        max-height: 70px;
    }

    .org-title {
        font-size: small;
    }

    .org-place {
        font-size: x-small;
    }
}