<div as-section-title>Annotazioni</div>
<div as-description-text>
    Questo è un diario personale, usalo per raccogliere i tuoi pensieri e le tue riflessioni sulla campagna. Le annotazioni sono visibili solo a te.
</div>
<div as-buttons-container>
    <button as-mini-circle-btn (click)="openEntryDialog()">
        <div class="material-symbols-outlined">add</div>
    </button>
</div>
<div class="rule-container">
    @if (entriesData.length > 0) {
        @for(tag of tags; track $index) {
            <div class="tag-label">{{tag}}</div>
            @for(entry of entriesData; track idx; let idx = $index) {
                @if(entry.tag.toLowerCase() === tag) {
                    <details as-details>
                        <summary as-summary [ngStyle]="{'backgroundColor': entry.backgroundColor, 'color': entry.contrastColor}">{{entry.title}}</summary>
                        <div class="entry-content">{{entry.content}}</div>
                        <div as-buttons-container as-buttons-container-details>
                            <button as-btn (click)="openEntryDialog(entry, idx)">
                                <div class="material-symbols-outlined">edit</div> <div>Modifica</div>
                            </button>
                        </div>
                    </details>
                }
            }
        }
    } @else {
        <div class="empty-text">Nessuna annotazione presente.</div>
    }
</div>