<div class="section-title">Annotazioni</div>
<div class="description-text">
    Questo è un diario personale, usalo per raccogliere i tuoi pensieri e le tue riflessioni sulla campagna. Le annotazioni sono visibili solo a te.
</div>
<div class="button-container">
    <button mat-mini-fab color="accent" class="add-button" (click)="openEntryDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div class="rule-container">
    @if (entriesData.length > 0) {
        @for(tag of tags; track $index) {
            <div class="tag-label">{{tag}}</div>
            @for(entry of entriesData; track idx; let idx = $index) {
                @if(entry.tag.toLowerCase() === tag) {
                    <details class="entry-details" *ngIf="entry.userId === userId">
                        <summary class="entry-title" [ngStyle]="{'backgroundColor': entry.backgroundColor, 'color': entry.contrastColor}">{{entry.title}}</summary>
                        <div class="entry-content">{{entry.content}}</div>
                        <div class="button-container">
                            <button color="accent" class="edit-button" (click)="openEntryDialog(entry, idx)">
                                Modifica
                            </button>
                        </div>
                    </details>
                }
            }
        }
    } @else {
        <div class="empty-text">Nessuna annotazione presente.</div>
    }
</div>