<div mat-dialog-title class="dialog-title">Prossima sessione</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div as-description-text>
        Scegli una data per la prossima sessione di gioco, questa sarà visibile ai giocatori per ricordare loro quando
        tenersi liberi e pronti a ruolare.
    </div>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Data prossima sessione</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="nextDate" [min]="tomorrow">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div as-buttons-container mat-dialog-actions align="end">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div> Annulla
    </button>
    <button as-btn [disabled]="!form.valid" (click)="confirm()">
        <div class="material-symbols-outlined">calendar_month</div> Conferma
    </button>
</div>