<div class="home-container">
  <div class="second-section">
    <form class="form-container">
      <div class="header-container">
        <div class="header-title">
            Creazione del Personaggio
        </div>
    </div>
      <mat-stepper class="stepper-container" orientation="vertical" #stepper>

        <mat-step class="step-label" label="Informazioni base">
          <form>
            <br>
            <app-informazioni-base></app-informazioni-base>

          </form>
        </mat-step>
        <mat-step class="step-label" label="Caratteristiche">
          <form>
            <br>
            <app-caratteristiche></app-caratteristiche>

          </form>
        </mat-step>
        <mat-step class="step-label" label="Tiri salvezza">
          <form>
            <br>
            <app-tiri-salvezza></app-tiri-salvezza>

          </form>
        </mat-step>

        <mat-step class="step-label" label="Abilità">
          <form>
            <br>
            <app-abilita></app-abilita>
          </form>
        </mat-step>

        <mat-step class="step-label" label="Parametri vitali">
          <form>
            <br>
            <app-parametri-vitali></app-parametri-vitali>
          </form>
        </mat-step>

        <mat-step class="step-label" label="Competenze e linguaggi">
          <form>
            <br>
            <app-linguaggi-competenze></app-linguaggi-competenze>
          </form>
        </mat-step>

        <!-- <mat-step class="step-label" label="Equipaggiamento">
          <form>
            <br>
            <app-equipaggiamento></app-equipaggiamento>
          </form>
        </mat-step> -->

        <mat-step class="step-label" label="Privilegi e tratti">
          <form>
            <br>
            <app-privilegi-tratti></app-privilegi-tratti>
          </form>
        </mat-step>

        <mat-step class="step-label" label="Background">
          <form>
            <br>
            <app-background></app-background>
          </form>
        </mat-step>

        <mat-step class="step-label" label="Storia del personaggio">
          <form>
            <br>
            <app-storia></app-storia>
          </form>
        </mat-step>

        <mat-step class="step-label" label="Trucchetti e Incantesimi">
          <form>
            <br>
            <app-trucchetti-incantesimi></app-trucchetti-incantesimi>
          </form>
        </mat-step>
      </mat-stepper>
    </form>
  </div>
</div>

<div class="action-buttons" *ngIf="formService.formSubject.value">
  <button class="step-button" mat-icon-button (click)="saveForm()" matTooltip="Salva" matTooltipPosition="left">
    <mat-icon>save</mat-icon>
  </button>
  <button class="step-button" mat-icon-button (click)="completeForm()" matTooltip="Completa" matTooltipPosition="left"
    [disabled]="formService.formSubject.value && !formService.formSubject.value.valid">
    <mat-icon>check</mat-icon>
  </button>
  <a href="" target="_blank" id="export-button">
    <button class="step-button" (click)="parseExport()" mat-icon-button matTooltip="Esporta JSON" matTooltipPosition="left">
      <mat-icon>download</mat-icon>
    </button>
  </a>
</div>

<div class="stepper-buttons">
  <button class="step-button" mat-icon-button (click)="previousStep()" matTooltip="Sezione precedente"
    matTooltipPosition="left">
    <mat-icon>move_up</mat-icon>
  </button>
  <button class="step-button" mat-icon-button (click)="nextStep()" matTooltip="Sezione successiva"
    matTooltipPosition="left">
    <mat-icon>move_down</mat-icon>
  </button>
</div>

<div class="sidenav-buttons" id="menu-button">
  <!-- <app-dice></app-dice> -->
  <button class="step-button" mat-icon-button (click)="openSidenav()" matTooltip="Menu" matTooltipPosition="right">
    <mat-icon>menu</mat-icon>
  </button>
</div>
