.view-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 80%;
    padding: 16px 0;
    box-sizing: border-box;
    max-width: 1200px;
}

.view-header {
    background-color: rgba($color: #212121, $alpha: 0.9);
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    height: 110px;
}

.character-image {
    width: 90px;
    height: 110px;
    padding: 1px;
    object-fit: cover;
    box-sizing: border-box;
}

.character-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.character-name {
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Cinzel', serif;
}

.character-name::first-letter {
    font-size: xx-large;
}

.character-class {
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: lightgrey;
}

.view-tabs {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
}

.view-tabs>mat-tab-group {
    max-width: 50%;
    flex-grow: 1;
    background-color: white;
    // border-radius: 8px;
    // padding-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.label-icon {
    height: 30px;
}

.status-container {
    // border-radius: 8px;
    background: rgba($color: #FFFFFF, $alpha: 0.5);
    flex-grow: 1;
    padding: 0 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    // height: 100%;
    // padding: 0 4px;
    padding: 0 20px;
    overflow: hidden;
    // max-width: 50%;
    box-sizing: border-box;
}

.sidenav-buttons {
    position: fixed;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dice-buttons {
    position: fixed;
    bottom: 16px;
    right: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 2000;
}

.step-button {
    background-color: #212121;
    color: white;
    border-radius: 0;
    padding: 8px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.mat-tab-label {
    background: #e7e7e7;
    color: #212121;
    min-width: 60px !important;
}

.tab-label:active {
    color: #212121;
}

::ng-deep.mat-mdc-tab-header {
    padding: 20px;
}

::ng-deep.mat-mdc-tab-body-content {
    padding: 0 20px;
    // overflow-y: hidden !important;
}

::ng-deep mat-tab-group .mat-mdc-tab-body-wrapper {
    height: 100%;
}

@media screen and (min-width: 501px) {
    .status-container {
        max-height: 100%;
        overflow: auto;
        flex-grow: 1;
        box-sizing: border-box;
        max-width: 50%;
    }

    .view-tabs {
        overflow: hidden;
    }

    .view-tabs>mat-tab-group {
        max-height: 100%;
        overflow: hidden;
    }

}

// @media screen and (max-width: 1325px) {

//     .status-container {
//         min-height: 100% !important;
//         // overflow: hidden !important;
//         // max-height: none;
//     }

//     .view-tabs {
//         overflow: auto;
//     }

//     .view-tabs>mat-tab-group {
//         min-height: 100% !important;
//         max-width: 100% !important;
//         overflow: hidden !important;
//         // max-height: none;
//     }
// }

@media screen and (max-width: 500px) {

    .view-container {
        width: 90%;
    }

    .view-tabs>mat-tab-group {
        max-width: 100%;
        margin-bottom: 50px;
    }

    .status-container {
        width: 100%;
        box-sizing: border-box;
    }

    .view-tabs {
        margin-bottom: 20px;
        overflow: auto;
    }

    .sidenav-buttons {
        flex-direction: row;
        z-index: 2000;
        left: 8px;
    }

    ::ng-deep.mat-mdc-tab-header {
        padding: 10px;
    }

    .character-info-container {
        gap: 0;
        font-size: small;
    }

    .character-name {
        font-size: unset;
    }

    .character-name::first-letter {
        font-size: medium;
    }
}

::ng-deep.mdc-tab {
    min-width: 50px !important;
    max-width: 50px !important;
}

::ng-deep.mat-mdc-tab-labels {
    justify-content: space-evenly;
}