.view-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 80%;
    padding: 32px 16px;
    box-sizing: border-box;
    max-width: 1200px;
}

.view-header {
    background-color: rgba($color: #212121, $alpha: 0.9);
    color: white;
    display: flex;
    align-items: center;
    // gap: 12px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    height: 110px;
}

.character-image {
    width: 90px;
    height: 110px;
    padding: 1px;
    object-fit: cover;
    box-sizing: border-box;
}

.character-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    margin-left: 12px;
}

.name-container {
    display: flex;
    gap: 8px;
    align-items: center;

    &>.material-symbols-outlined {
        font-size: x-large;
    }
}

@media screen and (max-width: 768px) {
    .name-container {
        gap: 4px;
        &>.material-symbols-outlined {
            font-size: medium;
        }
    }
}

.character-name {
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Cinzel', serif;
}

.character-name::first-letter {
    font-size: xx-large;
}

.character-class {
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: lightgrey;
}

.view-tabs {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    // flex-wrap: wrap;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
}

.view-tabs>mat-tab-group {
    // max-width: 50%;
    flex-grow: 1;
    background-color: white;
    border-radius: 12px;
}

.label-icon {
    height: 30px;
}

.status-container {
    background: rgba($color: #FFFFFF, $alpha: 0.5);
    flex-grow: 1;
    padding: 0 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 0 20px;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 45%;
    min-width: 45%;
    overflow: auto;
}

.dice-buttons {
    position: fixed;
    bottom: 16px;
    right: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 2000;
}

.sidenav-buttons {
    position: fixed;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.step-button {
    background-color: #212121;
    color: white;
    border-radius: 0;
    padding: 8px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.step-button[disabled] {
    background-color: #212121;
    color: white;
    border-radius: 0;
    padding: 8px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

.mat-tab-label {
    background: #e7e7e7;
    color: #212121;
    min-width: 60px !important;
}

.tab-label:active {
    color: #212121;
}

::ng-deep.mat-mdc-tab-header {
    padding: 20px;
}

::ng-deep.mat-mdc-tab-body-content {
    padding: 0 20px;
    // overflow-y: hidden !important;
}

::ng-deep mat-tab-group .mat-mdc-tab-body-wrapper {
    height: 100%;
}

::ng-deep.mdc-tab {
    min-width: 50px !important;
    max-width: 50px !important;
}

::ng-deep.mat-mdc-tab-labels {
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {

    .view-container {
        width: 100%;
        padding: 16px;
    }

    .view-tabs>mat-tab-group {
        width: 100%;
        margin-bottom: 50px;
    }

    .status-container {
        max-width: 100%;
        min-width: none;
        box-sizing: border-box;
        overflow: hidden;
    }

    .view-tabs {
        margin-bottom: 20px;
        overflow: auto;
        flex-wrap: wrap
    }

    .sidenav-buttons {
        flex-direction: row;
        z-index: 2000;
        left: 8px;
    }

    ::ng-deep.mat-mdc-tab-header {
        padding: 10px;
    }

    .character-info-container {
        gap: 0;
        font-size: x-small;
    }

    .character-name {
        font-size: unset;
    }

    .character-name::first-letter {
        font-size: medium;
    }
}

@media screen and (min-width: 1500px) {

    .view-container {
        max-width: 1450px;
    }

    .status-container {
        max-width: 35%;
        min-width: 35%;
    }
}

.pride-flag-column {
    display: flex;
    width: 10px;
    height: 100%;
    flex-direction: column;
    align-self: flex-end;

    &>div {
        width: 100%;
        opacity: 0.9;
    }

    &>.pride-flag-color {
        flex-grow: 1;
    }

    // &>div.red {
    //     background-color: red;
    //     height: calc(100% / 6);
    // }
    // &>div.orange {

    //     background-color: orange;
    //     height: calc(100% / 6);
    // }
    // &>div.yellow {
    //     background-color: yellow;
    //     height: calc(100% / 6);
    // }
    // &>div.green {
    //     background-color: green;
    //     height: calc(100% / 6);
    // }
    // &>div.blue {
    //     background-color: blue;
    //     height: calc(100% / 6);
    // }
    // &>div.purple {
    //     background-color: purple;
    //     height: calc(100% / 6);
    // }
}

.inspired {
    color: yellow;
    text-shadow: 0px 0px 8px yellow;
    cursor: default;
}