<div class="main-dice-selector-container">
    <div class="selection-displayer">
        <p *ngIf="selectedDices.length === 0">Seleziona i dadi che vuoi lanciare poi premi il tasto TIRA per lanciarli.</p>
        <p *ngIf="dicesSelected.length === 20">Hai raggiunto il limite massimo di dadi selezionabili.</p>
        <span>{{selectedDices}}{{modifiersLabel}}</span>
    </div>

    <div class="dice-container">
        <div *ngFor="let dice of dices">
            <button class="dice-button" (click)="addDiceToRoll(dice.value)" [disabled]="rollType">
                <img class="dice-icon" [src]="dice.icon" alt="" [ngClass]="{'disabled' : rollType.length > 0 }">
            </button>
        </div>
    </div>

    <div class="modifier-container">
        <div *ngFor="let positiveModifier of modifiers.positive">
            <button class="step-button" mat-flat-button (click)="addModifier(positiveModifier.value)">
                <span>{{positiveModifier.name}}</span>
            </button>
        </div>
        <div *ngFor="let negativeModifier of modifiers.negative">
            <button class="step-button" mat-flat-button (click)="addModifier(negativeModifier.value)">
                <span>{{negativeModifier.name}}</span>
            </button>
        </div>
        <div *ngFor="let specialModifier of modifiers.special">
            <button *ngIf="specialModifier.icon" class="step-button" mat-flat-button (click)="addSpecialModifier(specialModifier.value)" [disabled]="selectedDices.length > 0">
                <img [src]="specialModifier.icon" alt="">
            </button>
        </div>
    </div>

    <div class="action-container">
        <button class="step-button" mat-flat-button (click)="closeDiceSheet($event)">
            <mat-icon>refresh</mat-icon> RESET
        </button>
        <button class="step-button" mat-flat-button (click)="rollDice($event)" [disabled]="!isRollActive">
            <mat-icon>casino</mat-icon> TIRA
        </button>
    </div>
    
    
    
</div>