.main-dice-selector-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
}

.step-button {
    background-color: #212121;
    color: white;
    border-radius: 0;
    padding: 8px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
}

.close-dice-selector-button{
    align-self: flex-end;
}

.dice-container{
    display: flex;
    // gap: 8px;
    justify-content: space-between;
}

.selection-displayer {
    min-height: 20px;
    font-size: 16px;
    font-style: italic;
    color: black;
    opacity: 0.5;
}

.modifier-container, .action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

::ng-deep .modifier-container button{
    line-height: 0 !important;
}

.modifier-container img {
    // height: 20px;
    width: 40px;
}

.modifier {
    display: flex;
    gap: 8px;
}

.modifier>button{
    flex-grow: 1;
    cursor: pointer;
}

.dice-button {
    border: none;
    background: transparent;
}

.dice-icon {
    // width: 40px;
    height: 40px;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}