<div class="main-dice-selector-container">

    <div class="selection-displayer">
        <span>{{selectedDiceResult}}{{modifier}}</span>
    </div>

    <div class="dice-container">
        <div *ngFor="let dice of diceInformationList">
            <button class="dice-button" (click)="addDiceToRoll(dice.value)">
                <img class="dice-icon" [src]="dice.icon" alt="">
            </button>
        </div>
    </div>

    <div class="modifier-container">
        <div *ngFor="let positiveModifier of modifierInformationList.positive">
            <button *ngIf="!positiveModifier.icon" class="step-button" mat-flat-button (click)="addModifier(positiveModifier.value)">
                <span>{{positiveModifier.name}}</span>
            </button>
            <button *ngIf="positiveModifier.icon" class="step-button" mat-flat-button (click)="addModifier(positiveModifier.value)">
                <img *ngIf="positiveModifier.icon" [src]="positiveModifier.icon" alt="">
            </button>
        </div>
        <div *ngFor="let negativeModifier of modifierInformationList.negative">
            <button class="step-button" mat-flat-button (click)="addModifier(negativeModifier.value)">
                {{negativeModifier.name}}
            </button>
        </div>
    </div>

    <div class="action-container">
        <button class="step-button" mat-flat-button (click)="closeDiceSheet($event)">
            <mat-icon>refresh</mat-icon> RESET
        </button>
        <button class="step-button" mat-flat-button (click)="rollDice($event)" [disabled]="selectedDiceResult.length <= 0">
            <mat-icon>casino</mat-icon> TIRA
        </button>
    </div>
    
    
    
</div>