<div as-section-title>Attacchi</div>
<!-- <div class="search-container">
    <mat-form-field appearance="outline" class="search-input" color="accent">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" (keyup)="filterSearch($event)">
    </mat-form-field> -->
    <div as-mini-buttons-container>
        <button as-mini-circle-btn (click)="openAddAttackDialog()">
            <div class="material-symbols-outlined">add</div>
        </button>
    </div>
<!-- </div> -->
<div class="subtitle">Elenco</div>
<div *ngFor="let a of attacchiData; let i = index;" [hidden]="a.filtered">
    <details as-details>
        <summary as-summary as-summary-with-icon>
            <img class="attack-icon" [src]="a.icon"> <span>{{a.name}}</span>
        </summary>
        <div class="attack-info">
            <span class="attack-label">Bonus attacco</span> {{a.attackBonus}}
            <span class="attack-label">Danno</span> {{a.damage}}
            <span class="attack-label">Tipo</span> {{a.damageType}}
            <span class="attack-label">Gittata</span> {{a.range}}
        </div>
        <div class="attack-description"> <span class="attack-label">Note</span> {{a.notes != '' ? a.notes : "-"}}</div>
        <div as-buttons-container as-buttons-container-details>
            <button as-btn (click)="openAddAttackDialog(a, i)">
                <div class="material-symbols-outlined">edit</div> <div>Modifica</div>
            </button>
        </div>
    </details>
</div>