.dialog-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dialog-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.custom-form-field {
    width: 100%;
    margin-top: 20px;
}

button {
    border-radius: 0;
}

.line-container {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.line-input {
    flex-grow: 1;
    min-width: 30%;
}

.text-area-input {
    margin-top: 8px;
}

.option-label::first-letter {
    text-transform: uppercase;
}

.switch-container {
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.4);
    margin: 8px 0;
}

.switch-input {
    margin: 8px 0;
    width: 100%;
}

.checkbox-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.toggle-group {
    width: 100%;
    justify-content: space-around;
}

.toggle-button {
    max-width: 50%;
    flex-grow: 1;
}

::ng-deep.mat-button-toggle-checked {
    background-color: #212121 !important;
    color: white !important;
}

.magic-item-container {
    width: 100%;
}

.step-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-top: 8px;
}

.section-title {
    margin-bottom: 4px;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.delete-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.option-line {
    display: flex;
    gap: 8px;
    align-items: center;
}

.icon-image {
    height: 40px;
}

@media screen and (max-width: 500px) {

    .line-container {
        flex-direction: column;
    }

    .line-input {
        width: 100%;
    }

    .delete-button>button {
        width: 100%;
    }

    .button-container>button {
        width: 100%;
    }
}