<div mat-dialog-title class="dialog-title">{{data.spell ? 'Modifica' : 'Aggiungi'}} incantesimo</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div class="step-form" [formGroup]="form">
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
        </mat-form-field>
        <div class="line-container">
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Tipologia</mat-label>
                <mat-select formControlName="tipologia">
                    <mat-option value="trucchetto">Trucchetto</mat-option>
                    <mat-option value="incantesimo">Incantesimo</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline"
                *ngIf="form.value.scuola === '' || form.value.scuola !== 'Altro'">
                <mat-label>Scuola</mat-label>
                <mat-select formControlName="scuola">
                    <mat-option value="Abiurazione">Abiurazione</mat-option>
                    <mat-option value="Ammaliamento">Ammaliamento</mat-option>
                    <mat-option value="Divinazione">Divinazione</mat-option>
                    <mat-option value="Evocazione">Evocazione</mat-option>
                    <mat-option value="Illusione">Illusione</mat-option>
                    <mat-option value="Invocazione">Invocazione</mat-option>
                    <mat-option value="Necromanzia">Necromanzia</mat-option>
                    <mat-option value="Trasmutazione">Trasmutazione</mat-option>
                    <mat-option value="Altro">Altro (specificare)</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="line-input" color="accent" appearance="outline"
                *ngIf="form.value.scuola === 'Altro'">
                <mat-label>Scuola personalizzata</mat-label>
                <input matInput formControlName="scuolaPersonalizzata">
            </mat-form-field>

            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Livello</mat-label>
                <input matInput type="number" formControlName="livello" min="0" max="9" inputmode="numeric">
            </mat-form-field>

            <button mat-raised-button color="accent" class="jump-button"
                (click)="resetScuola()"
                *ngIf="form.value.scuola === 'Altro'">
                <mat-icon>move_down</mat-icon>
                Annulla Scuola personalizzata
            </button>
        </div>
        <div class="line-container">
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Tempo di Lancio</mat-label>
                <input matInput formControlName="tempoLancio">
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Gittata</mat-label>
                <input matInput formControlName="gittata">
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Durata</mat-label>
                <input matInput formControlName="durata">
            </mat-form-field>
        </div>
        <div class="line-container">
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Componenti</mat-label>
                <input matInput formControlName="componenti">
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Formula danni (senza spazi)</mat-label>
                <input matInput formControlName="formula" placeholder="es. 2d8+2">
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Icona</mat-label>
                <mat-select formControlName="icon">
                    <mat-option *ngFor="let icon of selectIcons" [value]="icon.link">
                        <div class="option-line">
                            <img class="icon-image" [src]="icon.link" alt="">
                            <div>{{icon.name}}</div>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Descrizione</mat-label>
            <textarea matInput formControlName="descrizione" rows="5"></textarea>
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Ai livelli superiori</mat-label>
            <textarea matInput formControlName="livelloSuperiore" rows="5"></textarea>
        </mat-form-field>
        <mat-checkbox formControlName="preparato">
            Preparato
        </mat-checkbox>
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Riferimento (Sigla manuale / pagina)</mat-label>
            <input matInput formControlName="riferimento">
        </mat-form-field>
        <!-- <div class="delete-button">
                    <button mat-raised-button color="accent" (click)="deleteTrucchettoIncantesimo(i)">
                        <mat-icon>delete</mat-icon> Rimuovi
                    </button>
                </div> -->
    </div>

    <!-- <div class="button-container">
        <button mat-raised-button color="accent" (click)="addTrucchettoIncantesimo()">
            <mat-icon>add</mat-icon>
            Aggiungi nuovo
        </button>
    </div> -->
</div>
<div mat-dialog-actions align="end" *ngIf="!isMobile">
    <button mat-raised-button mat-dialog-close>
        <mat-icon>close</mat-icon> Annulla
    </button>
    <button *ngIf="data.spell" mat-raised-button mat-dialog-close color="warn" (click)="delete()">
        <mat-icon>delete</mat-icon> Elimina
    </button>
    <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="confirm()">
        <mat-icon>{{data.spell ? 'check' : 'add'}}</mat-icon> {{data.spell ? 'Modifica' : 'Aggiungi'}}
    </button>
</div>
<div mat-dialog-actions align="end" *ngIf="isMobile">
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <button *ngIf="data.spell" mat-icon-button mat-dialog-close color="warn" (click)="delete()">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="accent" [disabled]="!form.valid" (click)="confirm()">
        <mat-icon>{{data.spell ? 'check' : 'add'}}</mat-icon>
    </button>
</div>