.main-container {
    // box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    // display: block;
    margin-top: 8px;
}

.items-container {
    // height: 100%;
    overflow-y: auto;
  height: calc(100% - 60px);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 4px 0 12px 0;
    position: sticky;
}

.search-input {
    width: 100%;
}

.add-button {
    border-radius: 0;
    background-color: #212121;
    box-shadow: 0 0 4px #212121;

}

.inventory-container {
    height: calc(100% - 60px);
    overflow-y: auto;
}

.items-icon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.items-icon-container>div{
    max-width: calc(100% / 5 - 12px);
    max-height: calc(100% / 5 - 12px);
    height: 100%;
    width: 100%;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

@media screen and (max-width: 500px) {
    .items-icon-container>div{
        // max-width: calc(100% / 2 - 6px);
        // max-height: calc(100% / 2 - 6px);
        max-width: calc(100% / 3 - 12px);
        max-height: calc(100% / 3 - 12px);
    }
}