.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.main-container {
    // box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    // display: block;
    margin-top: 8px;
}

.items-container {
    // height: 100%;
    overflow-y: auto;
    height: calc(100% - 60px);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin: 4px 0 12px 0;
    position: sticky;
}

.search-input {
    width: 100%;
}

.add-button {
    border-radius: 50%;
    background-color: #212121;
    box-shadow: none;
    height: 30px;
    width: 30px;

    &:hover {
        box-shadow: none;
    }
}

.inventory-container {
    height: calc(100% - 60px);
    overflow-y: auto;
}

.items-icon-container {
    // display: flex;
    // flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    box-sizing: border-box;
    // justify-content: flex-start;
    // align-items: flex-start;
}

.campaign-columns {
    grid-template-columns: repeat(8, 1fr);
}

.items-icon-container>div {
    position: relative;
    // max-width: calc(100% / 6 - 10px);
    // max-height: calc(100% / 6 - 10px);
    height: 100%;
    width: 100%;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.image-icon {
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(#212121, 1);
}

.quantity-value {
    position: absolute;
    bottom: 6px;
    left: 3px;
    background-color: #212121;
    color: whitesmoke;
    padding: 2px 4px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    display: none;
    /* Nasconde inizialmente l'elemento quantity-value */
    border: 3px solid whitesmoke;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

.items-icon-container>div:hover .quantity-value {
    display: block;
}

.weared-label {
    position: absolute;
    top: 6px;
    right: 2px;
    background-color: #f1c952;
    color: #212121;
    padding: 2px 4px;
    // border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    display: none;
    /* Nasconde inizialmente l'elemento quantity-value */
}

.items-icon-container>div:hover .weared-label {
    display: block;
}

.emptyStack {
    opacity: 0.3;
}

@media screen and (max-width: 500px) {
    // .items-icon-container>div {
    //     // max-width: calc(100% / 2 - 6px);
    //     // max-height: calc(100% / 2 - 6px);
    //     // max-width: calc(100% / 3 - 10px);
    //     // max-height: calc(100% / 3 - 10px);
    // }

    .items-icon-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .quantity-value {
        opacity: 1;
        display: block;
    }

    .weared-label {
        opacity: 1;
        display: block;
    }
}

.item-info-sheet {
    background-color: red;
}

.visibility-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    color: whitesmoke;
}

.not-visible {
    display: none;
}

.example-tooltip-uppercase {
    width: 400px;
    height: 200px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}