<div class="main-container">
    <div class="search-container">
        <mat-form-field appearance="outline" class="search-input" color="accent">
            <mat-label>Cerca</mat-label>
            <input matInput type="text" (keyup)="filterSearch($event)">
        </mat-form-field>
        <button mat-icon-button color="primary" class="add-button" (click)="openAddItemDialog()" disableRipple><mat-icon>add</mat-icon></button>
    </div>
    <div class="items-container">
        <div *ngIf="inventoryData.length === 0">Nessun oggetto nell'inventario</div>
        <div *ngIf="inventoryData.length > 0" class="items-icon-container" >
            <div *ngFor="let i of inventoryData" [hidden]="i.filtered">
                <img class="image-icon" [src]="i.icon" alt="" [ngStyle]="{'border-color': setColor(i.rarity)}" matTooltip="{{i.name}}" matTooltipPosition="above">
            </div>
        </div>
    </div>
</div>
