.section-title {
    margin: 8px 0;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.background-main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 4px;
}

.bg-line {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
}

.bg-info {
    background-color: lightgray;
    padding: 4px 8px;
    // border-radius: 8px;
    flex-grow: 1;
}

.character-history-container {
    text-align: justify;
    font-size: small;
    font-style: italic;
    padding: 4px 0;
    white-space: pre-wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.character-history-container::first-letter {
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Cinzel', serif;
}

.bg-name {
    background-color: #212121;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.bg-description {
    padding: 8px;
}

details[open] {
    border: 1px solid #212121;
    margin-bottom: 4px;
}

details>summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: url("/assets/icons/chevron_right.svg");
}

details[open] > summary::after {
    content: url("/assets/icons/chevron_down.svg");
}

.picture-container {
    display: flex;
    gap: 8px;
}

.picture-container > img {
    width: 50%;
}

.action-buttons-container {
    width: 50%;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 500px)  {
    .picture-container {
        flex-direction: column;
    }
    
    .picture-container > img {
        width: 100%;
    }
    
    .action-buttons-container {
        width: 100%;
    }
}