
<div class="character-name-container">
    {{charData.informazioniBase.nomePersonaggioEsteso !== '' ? charData.informazioniBase.nomePersonaggioEsteso :
    charData.informazioniBase.nomePersonaggio}}
</div>
<div as-section-title>Caratteristiche fisiche</div>
<div class="background-main-container">
    <!-- <div class="bg-line"> -->
        <div class="bg-info"><strong>Età</strong> {{charData.caratteristicheFisiche.eta}} anni</div>
        <div class="bg-info"><strong>Altezza</strong> {{charData.caratteristicheFisiche.altezza}} cm</div>
        <div class="bg-info"><strong>Peso</strong> {{charData.caratteristicheFisiche.peso}} Kg</div>
    <!-- </div>
    <div class="bg-line"> -->
        <div class="bg-info"><strong>Occhi</strong> {{charData.caratteristicheFisiche.occhi}}</div>
        <div class="bg-info"><strong>Carnagione</strong> {{charData.caratteristicheFisiche.carnagione}}</div>
        <div class="bg-info last-info"><strong>Capelli</strong> {{charData.caratteristicheFisiche.capelli}}</div>
    <!-- </div> -->

</div>
<div as-section-title>Background: {{charData.informazioniBase.background}} <span
        *ngIf="charData.informazioniBase.dettaglioBackground !== ''">
        ({{charData.informazioniBase.dettaglioBackground}})</span></div>
<details as-details>
    <summary as-summary>Tratti caratteriali</summary>
    <div class="bg-description">
        {{charData.trattiBackground.trattiCaratteriali}}
    </div>
</details>
<details as-details>
    <summary as-summary>Ideali</summary>
    <div class="bg-description">
        {{charData.trattiBackground.ideali}}
    </div>
</details>
<details as-details>
    <summary as-summary>Legami</summary>
    <div class="bg-description">
        {{charData.trattiBackground.legami}}
    </div>
</details>
<details as-details>
    <summary as-summary>Difetti</summary>
    <div class="bg-description">
        {{charData.trattiBackground.difetti}}
    </div>
</details>
<div as-section-title>Ritratto personaggio</div>
<div class="picture-container">
    <img [src]="charData.informazioniBase.urlImmaginePersonaggio" referrerpolicy="no-referrer">
    @if (editModeData) {
        <div class="action-buttons-container">
            <button as-btn (click)="file.click()" [disabled]="charData.informazioniBase.urlImmaginePersonaggio !== '' || inCampaign">
                <div class="material-symbols-outlined">add_photo_alternate</div> <div>Carica</div>
            </button>
            <input #file id="file" hidden class="" type="file" accept="image" (change)="onPicSelected($event)">
            <button as-btn (click)="deletePic(charData.informazioniBase.nomeImmaginePersonaggio)" [disabled]="charData.informazioniBase.urlImmaginePersonaggio === '' || inCampaign">
                <div class="material-symbols-outlined">delete</div> <div>Elimina</div>
            </button>
        </div>
    }
</div>
<div as-section-title>Storia</div>
@if (editModeData) {
<div class="character-history-container">
    {{charData.storiaPersonaggio}}
</div>
<div class="button-container">
    <!-- <button mat-raised-button color="accent" (click)="openEditStoryDialog()"><mat-icon>edit</mat-icon> Modifica</button> -->
    <button as-btn (click)="openEditStoryDialog()">
        <div class="material-symbols-outlined">edit</div> <div>Modifica</div>
    </button>
</div>
} @else {
<div class="description">Questa storia è visibile solo al proprietario della scheda personaggio e al DM della Campagna
    in cui esso è inserito, se presente.</div>
}
<div as-section-title>Alleati e Organizzazioni</div>
<div class="description">Puoi inserire qui sotto Alleati e Organizzazioni legate al tuo background o incontrati durante
    le tue avventure. Alleati evocabili, compagni animali, ecc... vanno inseriti nel tab dedicato (icona bandiera).
</div>
<app-npcs [npcs]="charData.allies" [organizations]="charData.organizations" [tab]="false"></app-npcs>
<!-- </div> -->