<ng-container *ngIf="groupInfo && groupCaratteristiche">
  <div class="step-form" [formGroup]="groupInfo">
    <div class="line-container">
      <mat-form-field class="line-input" color="accent" appearance="outline">
        <mat-label class="input-field">Nome giocatore</mat-label>
        <input matInput formControlName="nomeGiocatore">
      </mat-form-field>

      <mat-form-field class="line-input" color="accent" appearance="outline">
        <mat-label class="input-field">Nome Personaggio</mat-label>
        <input matInput #nomePersonaggio maxlength="24" formControlName="nomePersonaggio">
        <mat-hint align="end">{{nomePersonaggio.value.length}}/24</mat-hint>
      </mat-form-field>
    </div>
    <mat-form-field class="line-input" color="accent" appearance="outline">
      <mat-label class="input-field">Nome Personaggio (esteso)</mat-label>
      <input matInput #nomePersonaggioEsteso maxlength="256" formControlName="nomePersonaggioEsteso">
      <mat-hint align="end">{{nomePersonaggioEsteso.value.length}}/256</mat-hint>
    </mat-form-field>
    <div class="description-text">Il campo <strong>Nome Personaggio Esteso</strong> ti permette di inserire nomi più
      lunghi rispetto a quello standard. Il nome Esteso sarà visualizzabile nella scheda personaggio alla sezione delle
      informazioni del Personaggio mentre il nome standard sarà usato dove è necessario ridurre un po' lo spazio
      utilizzato.
    </div>
    <div class="line-container">
      <mat-form-field class="line-input" color="accent" appearance="outline">
        <mat-label class="input-field">Genere</mat-label>
        <input matInput formControlName="genere">
      </mat-form-field>

      <mat-form-field class="line-input" color="accent" appearance="outline">
        <mat-label class="input-field">Pronomi</mat-label>
        <input matInput formControlName="pronomi">
      </mat-form-field>
    </div>

    <div as-section-title>Razza</div>
    <div class="description-text">Non tutte le Razze possiedono il tratto <strong>Sottorazza</strong> pertanto è
      probabile che lascerai questo campo vuoto. Puoi usare questo campo anche per indicare una Discendenza Draconica,
      un'Etnia umana, ecc... per tutti quei Personaggi che di fatto non prevedono Sottorazze.
    </div>

    <div class="line-container">
      <!-- <mat-form-field class="line-input" color="accent" appearance="outline">
        <mat-label class="input-field">Nome</mat-label>
        <input matInput formControlName="razza">
        <mat-icon class="suffix-icon" matSuffix matTooltip="PHB 17-42, MMoM 5-36, FToD 9-12"
          matTooltipPosition="left">auto_stories</mat-icon>
      </mat-form-field> -->

      <mat-form-field class="line-input" color="accent" appearance="outline"
        *ngIf="groupInfo.value.razza === '' || groupInfo.value.razza !== 'Altro'">
        <mat-label>Razza</mat-label>
        <mat-select formControlName="razza">
          <mat-option value="Elfo">Elfo</mat-option>
          <mat-option value="Halfling">Halfling</mat-option>
          <mat-option value="Nano">Nano</mat-option>
          <mat-option value="Umano">Umano</mat-option>
          <mat-option value="Dragonide">Dragonide</mat-option>
          <mat-option value="Gnomo">Gnomo</mat-option>
          <mat-option value="Mezzelfo">Mezzelfo</mat-option>
          <mat-option value="Mezzorco">Mezzorco</mat-option>
          <mat-option value="Tiefling">Tiefling</mat-option>
          <mat-option value="Altro">Altro (specificare)</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="line-input" color="accent" appearance="outline" *ngIf="groupInfo.value.razza === 'Altro'">
        <mat-label class="input-field">Razza personalizzata</mat-label>
        <input matInput formControlName="razzaPersonalizzata">
      </mat-form-field>


      <mat-form-field class="line-input" color="accent" appearance="outline">
        <mat-label class="input-field">Sottorazza / Discendenza / Etnia</mat-label>
        <input matInput formControlName="sottorazza">
      </mat-form-field>
    </div>

    <button mat-raised-button color="accent" class="jump-button" (click)="resetRazza()"
      *ngIf="groupInfo.value.razza === 'Altro'">
      <mat-icon>move_down</mat-icon>
      Annulla Razza personalizzata
    </button>

    <div as-section-title>Classe/i</div>
    <div class="description-text">Solo alcune Classi hanno una <strong>Sottoclasse</strong> al 1° Livello quindi è
      probabile che lascerai questo campo vuoto al momento.</div>

    <details>
      <summary class="summary-label">Multiclasse</summary>
      <div class="description-text summary-text">
        L'avanzamento <strong>Multiclasse</strong> consente a un personaggio di guadagnare livelli in più classi.
        In questo modo, è possibile combinare le abilità di
        quelle classi per realizzare un tipo di personaggio
        che potrebbe non essere rappresentato a dovere
        dalle opzioni di classe standard.
        Grazie a questa regola, un personaggio può
        acquisire un livello in una nuova classe ogni volta
        che avanza di livello, anziché guadagnare un livello
        nella sua classe attuale. I livelli in tutte le sue classi,
        sommati, determinano il suo livello del personaggio.
        Ad esempio, con tre livelli da mago e due da
        guerriero, si ottiene un personaggio di 5° livello.
        Man mano che un personaggio avanza di livello,
        può continuare a concentrarsi principalmente sulla
        propria classe originale e acquisire soltanto pochi
        livelli in un'altra classe, oppure può cambiare rotta
        definitivamente, senza mai voltarsi a guardare la
        classe che si è lasciato alle spalle. Potrebbe perfino
        iniziare ad avanzare di livello in una terza o una
        quarta classe. Rispetto a un personaggio monoclasse,
        rinuncerà a certe specializzazioni, ma guadagnerà in
        versatilità. Per maggiori informazioni sulla Multiclasse vai a pagina PHB 163.
      </div>
    </details>

    <ng-container formArrayName="classi">
      <ng-container class="classe-container" *ngFor="let c of classi.controls; let i = index;">
        <div class="step-form" [formGroupName]="i">
          <div class="line-container">

            <mat-form-field class="line-input" color="accent" appearance="outline"
              *ngIf="c.get('nome').value === '' || c.get('nome').value !== 'Altro'">
              <mat-label>Nome</mat-label>
              <mat-select formControlName="nome">
                <mat-option value="Barbaro">Barbaro</mat-option>
                <mat-option value="Bardo">Bardo</mat-option>
                <mat-option value="Chierico">Chierico</mat-option>
                <mat-option value="Druido">Druido</mat-option>
                <mat-option value="Guerriero">Guerriero</mat-option>
                <mat-option value="Ladro">Ladro</mat-option>
                <mat-option value="Mago">Mago</mat-option>
                <mat-option value="Monaco">Monaco</mat-option>
                <mat-option value="Paladino">Paladino</mat-option>
                <mat-option value="Ranger">Ranger</mat-option>
                <mat-option value="Stregone">Stregone</mat-option>
                <mat-option value="Warlock">Warlock</mat-option>
                <mat-option value="Altro">Altro (specificare)</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="line-input" color="accent" appearance="outline"
              *ngIf="c.get('nome').value === 'Altro'">
              <mat-label class="input-field">Nome personalizzato</mat-label>
              <input matInput formControlName="nomePersonalizzato">
            </mat-form-field>

            <!-- <mat-form-field class="line-input" color="accent" appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome">
            </mat-form-field> -->
            <mat-form-field class="line-input" color="accent" appearance="outline">
              <mat-label>Livello</mat-label>
              <input type="number" matInput formControlName="livello" min="1" max="20" (change)="onLevelChange($event)">
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
              <mat-label>Sottoclasse</mat-label>
              <input matInput formControlName="sottoclasse">
            </mat-form-field>
          </div>
          <div class="delete-button">
            <button mat-raised-button color="accent" (click)="deleteClasse(i)">
              <mat-icon>delete</mat-icon> Rimuovi
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div class="button-container">
      <button mat-raised-button color="accent" (click)="addClasse()">
        <mat-icon>add</mat-icon>
        Aggiungi nuova
      </button>
    </div>

    <div as-section-title>Risorse aggiuntive</div>

    <div class="description-text">Alcune Classi possono assegnare (solitamente a livelli superiori al 1°) delle
      <strong>Risorse Aggiuntive</strong>, come punti o dadi, da spendere per utilizzare delle capacità speciali. È
      quindi probabile
      che lascerai questo campo vuoto al momento.
    </div>

    <ng-container class="" formArrayName="risorseAggiuntive">
      <ng-container *ngFor="let r of risorseAggiuntive.controls; let i = index;">
        <div class="step-form" [formGroupName]="i">
          <div class="line-container">
            <mat-form-field class="line-input" color="accent" appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome">
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
              <mat-label>Valore massimo</mat-label>
              <input #valoreRisorsa type="number" matInput formControlName="valoreMassimo" min="1"
                (change)="setValoreAttuale(i, valoreRisorsa.value)">
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
              <mat-label>Colore</mat-label>
              <input matInput type="color" formControlName="color">
            </mat-form-field>
          </div>

          <div class="delete-button">
            <button mat-raised-button color="accent" (click)="deleteRisorsa(i)">
              <mat-icon>delete</mat-icon> Rimuovi
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div class="button-container">
      <button mat-raised-button color="accent" (click)="addRisorsa()">
        <mat-icon>add</mat-icon>
        Aggiungi nuova
      </button>
    </div>

    <!-- <div as-section-title>Background</div>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Background</mat-label>
      <input matInput formControlName="background">
      <mat-icon class="suffix-icon" matSuffix matTooltip="PHB 125-141" matTooltipPosition="left">auto_stories</mat-icon>
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Dettaglio</mat-label>
      <input matInput formControlName="dettaglioBackground">
    </mat-form-field>

    <div class="description-text">Alle pagine di riferimento puoi trovare una serie di <strong>Background</strong>
      precostruiti che ti assegneranno capacità, competenze e oggetti, tuttavia, assieme al tuo DM, potete creare un
      Background personalizzato. Per maggiori informazioni prosegui nella compilazione alla sezione "Background" più
      avanti. Puoi anche lasciare vuoto questo campo al momento.</div>

    <div class="description-text">Alcuni Backround specificano anche un <strong>Dettaglio</strong> aggiuntivo, per
      esempio: le origini di un Forestiero, la Specializzazione di un Criminale, l'Evento Segnate di un Eroe, ecc... usa
      questo campo per annotare questa informazione, non obbligatoria.</div>

    <button mat-raised-button color="accent" class="jump-button" (click)="jumpToSpecificStep(8)">
      <mat-icon>move_down</mat-icon>
      Vai alla sezione Background
    </button> -->

    <div as-section-title>Allineamento</div>
    <div class="description-text">Tipicamente, le creature del gioco aderiscono a un
      allineamento che descrive a grandi linee la loro
      visione morale e personale. L'allineamento è una
      combinazione di due fattori: il primo identifica la
      moralità (buona, malvagia o neutrale), mentre il
      secondo descrive l'atteggiamento nei confronti della
      società e dell'ordine (legale, caotico o neutrale).
      Le combinazioni di allineamento possibili sono
      quindi nove.</div>

    <details>
      <summary class="summary-label">Combinazioni</summary>
      <div class="description-text summary-text">
        Le creature <strong>legali buone (LB)</strong> agiranno
        sicuramente nel modo considerato giusto dalla
        società. I draghi d'oro, i paladini e la maggior parte
        dei nani sono creature legali buone.
        I personaggi <strong>neutrali buoni (NB)</strong> fanno del loro
        meglio per aiutare gli altri in base alle necessità.
        Molti celestiali, alcuni giganti delle nuvole e la
        maggior parte degli gnomi sono creature neutrali
        buone.
        Le creature <strong>caotiche buone (CB)</strong> agiscono in base
        ai dettami della loro coscienza, senza curarsi troppo
        delle aspettative del prossimo. I draghi di rame,
        gli unicorni e molti elfi sono creature caotiche buone.
        I personaggi <strong>legali neutrali (LN)</strong> agiscono in base
        a quanto richiesto dalla legge, dalla tradizione o dai
        codici personali. Molti monaci e alcuni maghi sono
        legali neutrali.
        I personaggi <strong>neutrali puri (N)</strong> preferiscono
        tenersi alla larga dalle questioni morali e non si
        schierano, facendo ciò che sembra loro la cosa
        migliore di volta in volta. I lucertoloidi, molti druidi
        e molti umani sono neutrali.
        Le creature <strong>caotiche neutrali (CN)</strong> si lasciano
        guidare dai loro capricci e antepongono la loro
        libertà personale a ogni altra cosa. Molti barbari
        e ladri, e alcuni bardi, sono caotici neutrali.
        Le creature <strong>legali malvagie (LM)</strong> si impossessano
        metodicamente di ciò che vogliono, entro i limiti
        di un codice di tradizioni, di fedeltà o di ordine.
        I diavoli, i draghi blu e gli hobgoblin sono creature
        legali malvagie.
        I personaggi <strong>neutrali malvagi (NM)</strong> fanno
        tutto ciò che pensano di poter fare senza subire
        ripercussioni, privi di qualsiasi remora
        o compassione. Molti drow, alcuni giganti delle
        nuvole e goblin sono neutrali malvagi.
        Le creature <strong>caotiche malvagie (CM)</strong> agiscono con
        violenza arbitraria, spronate dall'avidità, dall'odio
        o dalla sete di sangue. I demoni, i draghi rossi e gli
        orchi sono caotici malvagi.
      </div>
    </details>

    <!-- <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Allineamento</mat-label>
      <input matInput formControlName="allineamento">
      <mat-icon class="suffix-icon" matSuffix matTooltip="PHB 122" matTooltipPosition="left">auto_stories</mat-icon>
    </mat-form-field> -->

    <mat-form-field class="line-input" color="accent" appearance="outline">
      <mat-label>Allineamento</mat-label>
      <mat-select formControlName="allineamento">
        <mat-option value="Legale buono">Legale buono (LB)</mat-option>
        <mat-option value="Neutrale buono">Neutrale buono (NB)</mat-option>
        <mat-option value="Caotico buono">Caotico buono (CB)</mat-option>
        <mat-option value="Legale neutrale">Legale neutrale (LN)</mat-option>
        <mat-option value="Neutrale">Neutrale (N)</mat-option>
        <mat-option value="Caotico neutrale">Caotico neutrale (CN)</mat-option>
        <mat-option value="Legale malvagio">Legale malvagio (LM)</mat-option>
        <mat-option value="Neutrale malvagio">Neutrale malvagio (NM)</mat-option>
        <mat-option value="Caotico malvagio">Caotico malvagio (CM)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div as-section-title>Caratteristiche fisiche</div>
  <div class="step-form" [formGroup]="groupCaratteristiche">
    <div class="line-container">
      <mat-form-field class="line-input" color="accent" appearance="outline">
        <mat-label class="input-field">Età (anni)</mat-label>
        <input type="number" matInput formControlName="eta">
      </mat-form-field>

      <mat-form-field class="line-input" color="accent" appearance="outline">
        <mat-label class="input-field">Altezza (cm)</mat-label>
        <input type="number" matInput formControlName="altezza">
      </mat-form-field>

      <mat-form-field class="line-input" color="accent" appearance="outline">
        <mat-label class="input-field">Peso (Kg)</mat-label>
        <input type="number" matInput formControlName="peso">
      </mat-form-field>
    </div>
    <div class="line-container">
      <mat-form-field class="line-input" color="accent" appearance="outline">
        <mat-label class="input-field">Colore occhi</mat-label>
        <input matInput formControlName="occhi">
      </mat-form-field>

      <mat-form-field class="line-input" color="accent" appearance="outline">
        <mat-label class="input-field">Carnagione</mat-label>
        <input matInput formControlName="carnagione">
      </mat-form-field>

      <mat-form-field class="line-input" color="accent" appearance="outline">
        <mat-label class="input-field">Capelli</mat-label>
        <input matInput formControlName="capelli">
      </mat-form-field>
    </div>
  </div>

  <div as-section-title>Immagine Personaggio</div>

  <div class="step-form step-form-buttons" [formGroup]="groupInfo">
    <img *ngIf="groupInfo.value.urlImmaginePersonaggio !== ''" class="image-preview"
      [src]="groupInfo.value!.urlImmaginePersonaggio">
    <button class="image-button" mat-raised-button color="accent" (click)="file.click()">
      <mat-icon>add_a_photo</mat-icon>
      <span>Carica immagine</span>
    </button>
    <button class="image-button" mat-raised-button color="accent"
      [disabled]="groupInfo.value!.urlImmaginePersonaggio === ''"
      (click)="deletePic(groupInfo.value!.nomeImmaginePersonaggio)">
      <mat-icon>delete</mat-icon>
      <span>Rimuovi immagine</span>
    </button>
    <input #file id="file" hidden class="" type="file" accept="image" (change)="onPicSelected($event)">
  </div>

</ng-container>