<div mat-dialog-title class="dialog-title">Nuova risorsa aggiuntiva</div>
<div mat-dialog-content class="dialog-content">
    <form [formGroup]="form" class="form-container">
        <div class="line-container">
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Valore massimo</mat-label>
                <input #valoreRisorsa type="number" matInput formControlName="valoreMassimo" min="1"
                    (change)="setValoreAttuale(valoreRisorsa.value)">
            </mat-form-field>
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput type="color" formControlName="color">
            </mat-form-field>
        </div>
        <mat-checkbox formControlName="isTemporary" color="accent"><strong>Temporanea</strong>: questa risorsa deriva da un oggetto,
            un'abilità o comunque da qualcosa di temporaneo che prima o poi cesserà di esistere. Verrà mostrato un tasto
            aggiuntivo per la rimozione rapida.</mat-checkbox>
    </form>
</div>
<div mat-dialog-actions align="end" class="buttons-container">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div> <div>Annulla</div>
    </button>
    <button as-btn [disabled]="!form.valid" (click)="confirm()">
        <div class="material-symbols-outlined">done</div> <div>Conferma</div>
    </button>
</div>