<div class="char-container">
    <div class="section-title">Personaggi</div>
    <ng-template #noCharacters>
        <div class="no-characters">
            <div class="empty-text">Non ci sono personaggi iscritti a questa campagna</div>
        </div>
    </ng-template>
    <div class="characters-line" *ngIf="charData.length > 0; else noCharacters">
        <div class="character-item" *ngFor="let char of charData" (click)="navigateToChar(char.id)">
            <div class="character-header-card">
                <img class="character-image" [src]="char.informazioniBase.urlImmaginePersonaggio">
                <div class="character-name">{{char.informazioniBase.nomePersonaggio}}</div>
            </div>
            <div class="character-parameters-container">
                <!-- <div class="armor-class-label">CA</div>
                <div class="armor-class-value">{{char.CA}}</div> -->
                <div class="level-value">LV {{char.informazioniBase.livello}}°</div>
                <div class="health-points-value">PF
                    {{char.parametriVitali.puntiFeritaAttuali}}/{{char.parametriVitali.massimoPuntiFerita}}
                    <span
                        *ngIf="char.parametriVitali.massimoPuntiFeritaTemporanei > 0">+{{char.parametriVitali.puntiFeritaTemporaneiAttuali}}/{{char.parametriVitali.massimoPuntiFeritaTemporanei}}</span>
                </div>
                <div class="passive-container">
                    <mat-icon class="passive-icon" matTooltip="Percezione">visibility</mat-icon> {{char.percezionePassiva}}
                    <mat-icon class="passive-icon material-symbols-outlined" matTooltip="Intuizione">neurology</mat-icon> {{char.intuizionePassiva}}
                    <mat-icon class="passive-icon" matTooltip="Indagare">search</mat-icon> {{char.indagarePassiva}}
                </div>
            </div>
        </div>
    </div>
</div>