.no-fill {
  font-variation-settings:
    'FILL' 0,
}

.char-container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    flex-grow: 1;
    width: 100%;
    // padding: 8px;
}

.section-title {
    margin: 8px 0;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.no-characters {
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    opacity: 0.7;
}

.empty-text {
    font-size: small;
}

.characters-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.character-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    // gap: 12px;
    // align-items: center;
    // background-color: rgba($color: #212121, $alpha: 0.9);
    color: white;
}

.character-header-card {
    display: flex;
    gap: 8px;
    align-items: center;
    border-bottom: 1px dotted rgba(white, 0.5);
    background-color: rgba($color: #212121, $alpha: 0.9);

}

.character-image {
    min-width: 50px;
    height: 50px;
    object-fit: cover;
}

.character-name-container {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 100%;
}

.character-name {
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navigate-button {
    border: none;
    background-color: transparent;
    color: whitesmoke;
    cursor: pointer;
    & mat-icon {
        font-size: medium;
    }
}

.character-parameters-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
    gap: 8px;
    background-color: rgba($color: #212121, $alpha: 0.9);
}

.armor-class-label {
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.health-points-value {
    display: flex;
    align-items: center;
    gap: 4px;
}

.CA-container {
    display: flex;
    align-items: center;
    flex-grow: 1;

    & mat-icon {
        margin-right: 4px;
    }
}

.passive-container {
    display: flex;
    gap: 4px;
    align-items: center;
}

.passive-icon {
    font-size: medium;
    height: fit-content;
    width: fit-content;
}

.dead-hero {
    filter: grayscale(100%);
}

// .partecipant-char {
//     border-bottom: 5px solid whitesmoke;
//     box-sizing: border-box;
//     margin-bottom: 8px;
// }

.inspiration {
    font-size: medium;
    // margin-left: 8px;
    color: yellow;
    text-shadow: 0px 0px 8px yellow;
    cursor: default;
}

.resource-container {
    background-color: rgba($color: #212121, $alpha: 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    padding: 8px;
    margin-bottom: 4px;
    cursor: default;
  }

  .money-section-title {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  
  .money-setting-icon {
    cursor: pointer;
  }

  .money-title {
    text-transform: uppercase;
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  .moneys {
    display: flex;
    gap: 4px;
  }
  
  .single-coins-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  
  .single-coins-viewer>img {
    height: 12px;
  }

  .character-skill-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4px;
  }

  .char-sheet {
    padding: 8px;
  }

  .skill-line {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 4px;
  }

  .skill {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba($color: #212121, $alpha: 0.9);
    width: 100%;
    text-align: center;
  }

  .skill-title {
    background-color: rgba($color: #212121, $alpha: 0.9);
    color: whitesmoke;
    font-weight: bold;
    padding: 4px 0;
    font-size: medium;
  }

  .skill-value {
    color: #212121;
  }

  @media screen and (max-width: 768px) {
    .character-parameters-container {
      flex-wrap: wrap;
    }
  }

  .loading-container {
    display: flex;
    font-size: medium;
    gap: 8px;
    align-items: center;
  }