.char-container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    flex-grow: 1;
    width: 100%;
    padding: 8px;
}

.section-title {
    margin: 8px 0;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.no-characters {
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    opacity: 0.7;
}

.empty-text {
    font-size: small;
}

.characters-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.character-item {
    display: flex;
    width: 100%;
    gap: 12px;
    align-items: center;
    background-color: rgba($color: #212121, $alpha: 0.9);
    color: white;
    cursor: pointer;
}

.character-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.character-name {
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Cinzel', serif;
}
