<div *ngIf="isMenuOpen" class="dadi-container">
    <button *ngFor="let dado of dadi" (click)="salvaDadi(dado.valore)" class="dice-button" color="primary">
        <img *ngIf="dado.nome.includes('assets')" src="{{dado.nome}}" alt="">
        <span *ngIf="!dado.nome.includes('assets')">{{dado.nome}}</span>
        <span class="badge" *ngIf="dado.selezionati > 0">{{dado.selezionati}}</span>
    </button>
</div>

<button *ngIf="!isMenuOpen" (click)="isMenuOpen = !isMenuOpen" class="step-button" mat-icon-button>
    <img src="./assets/images/dice-placeholder.svg" alt="">
</button>
<button *ngIf="isMenuOpen && arrayDadiSalvati.length > 0" (click)="rollDice(); isMenuOpen = !isMenuOpen"
    class="step-button" mat-icon-button>
    <img src="./assets/images/rolling-placeholder.svg" alt="">
</button>
<button *ngIf="isMenuOpen && arrayDadiSalvati.length <= 0" (click)="rollDice(); isMenuOpen = !isMenuOpen"
    class="step-button" mat-icon-button>
    <mat-icon>close</mat-icon>
</button>


<div class="displayer-valore" *ngIf="totale > 0">
    <span>Il valore è </span>
    <span>{{totale}}</span>
</div>

<canvas id="dddice"></canvas>
