<div as-section-title>Impostazioni</div>
<div as-subtitle>Informazioni Campagna</div>
<div class="info-line even">
    <div class="info-label">DM</div>
    <div class="info-value">{{campaignData.dmName}}</div>
</div>
<div class="info-line">
    <div class="info-label">Giocatori iscritti (n°)</div>
    <div class="info-value">{{campaignData.characters.length}}</div>
</div>
<div class="info-line even">
    <div class="info-label">Creata il</div>
    <div class="info-value">{{campaignData.createdAt.seconds*1000 | date:'dd/MM/yyyy'}}</div>
</div>
<div class="info-line">
    <div class="info-label">Stato campagna</div>
    <div class="info-value">{{campaignData.status.statusMessage}}</div>
</div>
<div as-subtitle>ID e Password</div>
<div class="info-line even">
    <div class="info-label">ID Campagna</div>
    <div class="info-value">{{campaignData.id}}</div>
</div>
<div class="info-line">
    <div class="info-label">Password</div>
    <div class="info-value">{{campaignData.password}}</div>
</div>
<div as-subtitle>Titolo e Descrizione</div>
<div as-description-text>
    Attraverso i seguenti campi puoi aggiornare Titolo, Descrizione, Immagine e Avventura collegata alla Campagna.
</div>
<form class="form-container" [formGroup]="form">
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Titolo</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Descrizione</mat-label>
        <textarea matInput formControlName="description" rows="5"></textarea>
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Immagine capitolo</mat-label>
        <input matInput formControlName="chapterUrl" placeholder="Inserisci URL valido">
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Avventura connessa</mat-label>
        <mat-select formControlName="adventure">
        @for (a of adventures; track a.id) {
            <mat-option [value]="a.id">{{a.title}}</mat-option>
        }
        </mat-select>
    </mat-form-field>
    <div as-buttons-container>
        <button as-btn (click)="editTitleDescription()" [disabled]="!form.dirty">
            <mat-icon>check</mat-icon> Applica
        </button>
    </div>
</form>

<div as-subtitle>Avvia Campagna</div>
<div as-description-text>
    Fai sapere ai tuoi giocatori che la campagna è ufficialmente iniziata. Questa azione cambia lo stato della campagna
    da "Nuova" o "In preparazione" a "In corso", ciò non preclude ad altri giocatori di unirsi successivamente ma li
    avvisa che la Campagna potrebbe già essere iniziata.
</div>
<div as-buttons-container>
    <button as-btn (click)="startCampaign()" [disabled]="campaignData.status.statusCode > 1">
        <mat-icon>{{campaignData.status.statusCode > 1 ? 'check' : 'play_arrow'}}</mat-icon>
        {{campaignData.status.statusCode > 1 ? 'Campagna avviata' : 'Avvia campagna'}}
    </button>
</div>
<div as-subtitle>Prossimo capitolo</div>
<div as-description-text>
    Questa funzione è pensata per quando la tua campagna raggiunge un punto di svolta o un momento particolare. Potrai
    scegliere un nuovo titolo e tutto il contenuto delle sezioni: storia, missioni, npc e trofei saranno archiviati
    nelle rispettive sezioni per lasciar spazio a dei nuovi elementi. Questa funzione non cancella alcun dato ma rende
    questi dati non più modificabili. <strong>L'azione è irreversibile.</strong>
</div>
<div as-buttons-container>
    <button as-btn (click)="openNewChapterDialog()" [disabled]="campaignData.status.statusMessage !== 'In corso'">
        <mat-icon>grade</mat-icon> Nuovo capitolo
    </button>
</div>
<!-- <div as-subtitle>Stanza dddice {{campaignData.dddiceSlug !== '' ? '(' + campaignData.dddiceSlug + ')' : ''}}</div>
<div as-description-text>
    Abilita la Campagna al lancio di dadi nella stessa "stanza", in questo modo tutti vedranno i risultati dei loro
    tiri, te compreso.
</div>
<div as-buttons-container>
    <button as-btn (click)="createCampaignRoom()" [disabled]="campaignData.dddiceSlug !== ''">
        <mat-icon>{{campaignData.dddiceSlug !== '' ? 'check' : 'add'}}</mat-icon> {{campaignData.dddiceSlug !== '' ?
        'Stanza creata' : 'Crea stanza'}}
    </button>
</div> -->
<div class="warning-zone-container">
    <div class="material-symbols-outlined material-no-fill">warning</div> <strong>Attenzione più avanti</strong>
</div>
<div as-subtitle>Gestione dati</div>
<div as-description-text>
    In questa sezione puoi esportare un backup dell'intera campagna in formato JSON oltre ad altre collezioni di dati
    minori (schede, npc, inventario, ecc...) sempre nello stesso formato. Ad eccezione per il backup generale, gli altri
    file possono essere usati per importare i dati in un'altra campagna (per voi stessi o per un altro DM in difficoltà). Gli
    elementi importati non sostituiranno i precedenti venendo aggiunti a quelli già presenti, tuttavia elementi con nomi uguali a
    quelli già presenti verranno ignorati. Il <strong>Cestino</strong> elimina dal database l'intera sezione ma non prima di aver
    effettuato il backup della stessa.
</div>
<div as-description-text>
    <strong>Importante! Non tentare di importare un file non destinato alla sezione corrispondente, il funzionamento
        dell'intera Campagna potrebbe essere compromesso.</strong>
</div>
<div class="export-line">
    <div as-label>Campagna</div>
    <div as-mini-buttons-container>
        <!-- <button as-mini-circle-btn disabled>
            <div class="material-symbols-outlined">upload_file</div>
        </button> -->
        <a as-btn-link href="" target="_blank" id="export-all">
            <button as-mini-circle-btn (click)="exportJSON('all')">
                <div class="material-symbols-outlined">download</div>
            </button>
        </a>
    </div>
</div>
<div class="export-line">
    <div as-label>Schede (addons)</div>
    <div as-mini-buttons-container>
        <button as-mini-circle-btn (click)="input_addons.click()">
            <div class="material-symbols-outlined">upload_file</div>
        </button>
        <input hidden #input_addons type="file" accept=".json" (change)="importJSON('addons', $event)">
        <a as-btn-link href="" target="_blank" id="export-addons">
            <button as-mini-circle-btn (click)="exportJSON('addons')" [disabled]="campaignData.addons.length <= 0">
                <div class="material-symbols-outlined">download</div>
            </button>
        </a>
        <a as-btn-link href="" target="_blank" id="delete-addons">
            <button as-mini-circle-btn as-btn-warn (click)="emptySection('addons')" [disabled]="campaignData.addons.length <= 0">
                <div class="material-symbols-outlined">delete</div>
            </button>
        </a>
    </div>
</div>
<div class="export-line">
    <div as-label>Inventario</div>
    <div as-mini-buttons-container>
        <button as-mini-circle-btn (click)="input_inventory.click()">
            <div class="material-symbols-outlined">upload_file</div>
        </button>
        <input hidden #input_inventory type="file" accept=".json" (change)="importJSON('inventory', $event)">
        <a as-btn-link href="" target="_blank" id="export-inventory">
            <button as-mini-circle-btn (click)="exportJSON('inventory')" [disabled]="campaignData.inventory.length <= 0">
                <div class="material-symbols-outlined">download</div>
            </button>
        </a>
        <a as-btn-link href="" target="_blank" id="delete-inventory">
            <button as-mini-circle-btn as-btn-warn (click)="emptySection('inventory')" [disabled]="campaignData.inventory.length <= 0">
                <div class="material-symbols-outlined">delete</div>
            </button>
        </a>
    </div>
</div>
<div class="export-line">
    <div as-label>PNG (allies)</div>
    <div as-mini-buttons-container>
        <button as-mini-circle-btn (click)="input_allies.click()">
            <div class="material-symbols-outlined">upload_file</div>
        </button>
        <input hidden #input_allies type="file" accept=".json" (change)="importJSON('allies', $event)">
        <a as-btn-link href="" target="_blank" id="export-allies">
            <button as-mini-circle-btn (click)="exportJSON('allies')" [disabled]="campaignData.allies.length <= 0">
                <div class="material-symbols-outlined">download</div>
            </button>
        </a>
        <a as-btn-link href="" target="_blank" id="delete-allies">
            <button as-mini-circle-btn as-btn-warn (click)="emptySection('allies')" [disabled]="campaignData.allies.length <= 0">
                <div class="material-symbols-outlined">delete</div>
            </button>
        </a>
    </div>
</div>
<div class="export-line">
    <div as-label>Organizzazioni</div>
    <div as-mini-buttons-container>
        <button as-mini-circle-btn (click)="input_organizations.click()">
            <div class="material-symbols-outlined">upload_file</div>
        </button>
        <input hidden #input_organizations type="file" accept=".json" (change)="importJSON('organizations', $event)">
        <a as-btn-link href="" target="_blank" id="export-organizations">
            <button as-mini-circle-btn (click)="exportJSON('organizations')" [disabled]="campaignData.organizations.length <= 0">
                <div class="material-symbols-outlined">download</div>
            </button>
        </a>
        <a as-btn-link href="" target="_blank" id="delete-organizations">
            <button as-mini-circle-btn as-btn-warn (click)="emptySection('organizations')" [disabled]="campaignData.organizations.length <= 0">
                <div class="material-symbols-outlined">delete</div>
            </button>
        </a>
    </div>
</div>
<div as-subtitle>Gestione personaggi iscritti</div>
<div as-description-text>
    Seleziona dall'elenco uno dei personaggi che, per qualsiasi motivo, deve essere rimosso dalla Campagna. Premi il
    tasto con il "cestino" dopodichè "Conferma" per concludere l'operazione. <strong>L'azione è irreversibile.</strong>
</div>
<div class="characters-container">
    @for (char of charData; track i; let i = $index) {
    <div class="char-line" [ngStyle]="{'background-color': $even ? 'whitesmoke' : 'white'}">
        <img class="char-image" [src]="char.informazioniBase.urlImmaginePersonaggio" alt="">
        <div class="char-name">{{char.informazioniBase.nomePersonaggio}}</div>
        <button as-mini-circle-btn as-btn-warn (click)="openRemoveCharDialog(i)">
            <div class="material-symbols-outlined">delete</div>
        </button>
    </div>
    }

</div>
<div as-subtitle>Elimina campagna</div>
<div as-description-text>
    Una volta confermata la cancellazione perderai ogni dato relativo alla Campagna. I personaggi iscritti, se presenti,
    perderanno traccia di questa campagna e potranno unirsi ad un'altra. I Personaggi iscritti non verranno eliminati.
    <strong>L'azione è irreversibile.</strong>
</div>
<div as-buttons-container>
    <button as-btn as-btn-warn (click)="openRemoveCampaignDialog()">
        <div class="material-symbols-outlined">warning</div> Elimina
    </button>
</div>