.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    padding: 5px;
    background-color: #C20A0A;
    color: #efefef;
    box-shadow: 2px 2px 17px -10px #000;
}

.header-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 8px;
}