.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    padding: 5px;
    background-image: url("../../../assets/banner.jpg");
    background-size: cover;
    background-position: bottom;
    // background-color: #C20A0A;
    color: #efefef;
    box-shadow: 2px 2px 17px -10px #000;

}

.header-title {
    // text-transform: uppercase;
    letter-spacing: 1px;
    font-size: xx-large;
    font-weight: 400;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
}

.title-icon {
    width: 40px;
    margin-left: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    animation: infinite pulse 2s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}