
<div class="main-container">
    <div class="section-title">Inventario campagna</div>
    <div class="description-text">
        @if (isOwnerData) {
            Crea e poi mostra oggetti e ricompense ai tuoi giocatori che potranno reclamare il bottino con un apposito tasto.
        } @else {
            Quando viene rivelato un oggetto durante una sessione il DM lo mostrerà qui. Usa il tasto "Reclama" per farlo tuo, in accordo con gli altri.
        }
    </div>
    <div class="inventory-container">
        <app-inventory [inventory]="campaignData.inventory" [isCampaignOwner]="isOwnerData" [selectedChar]="selectedChar"></app-inventory>
    </div>
</div>