<div class="main-container">
    <!-- <div class="search-container">
        <mat-form-field appearance="outline" class="search-input" color="accent">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="text" (keyup)="filterSearch($event)">
        </mat-form-field>
    </div> -->
    <div as-mini-buttons-container>
        <button as-mini-circle-btn (click)="openExchangeDialog()" *ngIf="!isOwnerData"
            [disabled]="charsData.length < 2">
            <div class="material-symbols-outlined">compare_arrows</div>
        </button>
        <button as-mini-circle-btn [disabled]="!isResources" (click)="openResourcesDialog()" *ngIf="isOwnerData">
            <div class="material-symbols-outlined">create_new_folder</div>
        </button>
        <button as-mini-circle-btn (click)="openAddItemDialog()" *ngIf="isOwnerData">
            <div class="material-symbols-outlined">add</div>
        </button>
    </div>
    <div class="items-container">
        @if (inventoryData.length > 0) {
        <div class="items-icon-container">
            <div class="item-card" *ngFor="let i of inventoryData; let j = index;" [hidden]="i.filtered"
                [ngClass]="{ 'not-visible': !i.visible && !isOwnerData }" (click)="openInfoSheet(i, j)"
                (mouseover)="showTooltip($event, i)" (mouseleave)="hideTooltip()">

                @if (i.visible || isOwnerData) {
                <img class="image-icon" [src]="i.icon" alt="" [ngStyle]="{'border-color': setColor(i.rarity)}"
                    [ngClass]="{'emptyStack': i.quantity <= 0}">
                @if (!i.visible) {
                <mat-icon class="visibility-icon">visibility_off</mat-icon>
                }
                }

                <!-- Tooltip -->
                <app-item-tooltip id="item-tooltip" [item]="i" *ngIf="showItemTooltip && i === currentTooltipItem"
                    class="tooltip"
                    [ngStyle]="{'top.px': tooltipPosition.top, 'left.px': tooltipPosition.left}"></app-item-tooltip>
            </div>
        </div>
        } @else {
        <div as-description-text>Nessun oggetto nell'inventario</div>
        }
    </div>
</div>