<div mat-dialog-title class="dialog-title">Aggiorna Punti Ferita</div>
<div class="pf-container">
    <div class="pf-line">
        <span class="pf-value">{{data.group.value.puntiFeritaAttuali}}/{{data.group.value.massimoPuntiFerita}}</span>
        <mat-icon class="pf-icon" matTooltip="Punti Ferita Attuali / Massimi" matTooltipPosition="above">favorite</mat-icon>
        <progress class="pf-progress" max="{{data.group.value.massimoPuntiFerita}}"
            value="{{data.group.value.puntiFeritaAttuali}}"></progress>
    </div>
    <div class="pf-line">
        <span *ngIf="data.group.value.massimoPuntiFeritaTemporanei > 0"
            class="pf-value">{{data.group.value.puntiFeritaTemporaneiAttuali}}/{{data.group.value.massimoPuntiFeritaTemporanei}}</span>
        <mat-icon *ngIf="data.group.value.massimoPuntiFeritaTemporanei > 0" class="pf-icon-temp"
            matTooltip="Punti Ferita Temporanei" matTooltipPosition="above">hourglass_empty</mat-icon>
        <progress *ngIf="data.group.value.massimoPuntiFeritaTemporanei > 0" class="pf-progress pf-progress-temp "
            max="{{data.group.value.massimoPuntiFeritaTemporanei}}"
            value="{{data.group.value.puntiFeritaTemporaneiAttuali}}"></progress>
    </div>
</div>

<div mat-dialog-content class="dialog-content" [formGroup]="hpForm">
    <div class="input-pf-container">
        <mat-form-field color="accent" class="custom-form-field" appearance="outline">
            <mat-label>Valore</mat-label>
            <input type="number" min="0" matInput formControlName="value">
        </mat-form-field>
        <button mat-icon-button class="hp-button" color="accent" (click)="add()">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="hp-button" color="accent" (click)="remove()">
            <mat-icon>remove</mat-icon>
        </button>
    </div>
    <div class="input-pf-container">
        <mat-form-field color="accent" class="custom-form-field" appearance="outline">
            <mat-label>Valore temporaneo</mat-label>
            <input type="number" min="0" matInput formControlName="valueTemp">
        </mat-form-field>
        <button mat-icon-button class="hp-button" color="accent" (click)="addTemp()">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="hp-button" color="accent" (click)="removeTemp()">
            <mat-icon>remove</mat-icon>
        </button>
    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="accent" (click)="close()">Chiudi</button>
</div>