<ng-container *ngIf="group">
  <div class="step-form" [formGroup]="group">
    <section class="checkbox-section">

      <div class="description-text">
        Seleziona tutte le <strong>Abilità</strong> in cui il Personaggio ha competenza dopodichè premi il tasto "Aggiorna" (in basso)
        per calcolare i punteggi. Ricorda che se il Personaggio ha anche delle Maestrie trovi un elenco espandibile
        appena dopo questa lista (avere Maestria in un'abilità comporta un bonus di competenza raddoppiato per quella
        determinata abilità).
      </div>
      <div class="checkbox-line">
        <mat-checkbox class="check-label" formControlName="acrobazia">Acrobazia (Des)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modDestrezza > 0 || group.value.acrobazia">+ </span> {{tiroAcrobazia}}
        </div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox class="less-labels" formControlName="addestrareAnimali">Addestrare animali (Sag)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modSaggezza > 0 || group.value.addestrareAnimali">+ </span>
          {{tiroAddestrareAnimali}}</div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="arcano">Arcano (Int)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modIntelligenza > 0 || group.value.arcano">+ </span> {{tiroArcano}}
        </div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="atletica">Atletica (For)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modForza > 0 || group.value.atletica">+ </span> {{tiroAtletica}}</div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="furtivita">Furtività (Des)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modDestrezza > 0 || group.value.furtivita">+ </span> {{tiroFurtivita}}
        </div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="indagare">Indagare (Int)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modIntelligenza > 0 || group.value.indagare">+ </span> {{tiroIndagare}}
        </div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="inganno">Inganno (Car)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modCarisma > 0 || group.value.inganno">+ </span> {{tiroInganno}}</div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="intimidire">Intimidire (Car)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modCarisma > 0 || group.value.intimidire">+ </span> {{tiroIntimidire}}
        </div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="intrattenere">Intrattenere (Car)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modCarisma > 0 || group.value.intrattenere">+ </span>
          {{tiroIntrattenere}}</div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="intuizione">Intuizione (Sag)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modSaggezza > 0 || group.value.intuizione">+ </span> {{tiroIntuizione}}
        </div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="medicina">Medicina (Sag)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modSaggezza > 0 || group.value.medicina">+ </span> {{tiroMedicina}}
        </div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="natura">Natura (Int)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modIntelligenza > 0 || group.value.natura">+ </span> {{tiroNatura}}
        </div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="percezione">Percezione (Sag)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modSaggezza > 0 || group.value.percezione">+ </span> {{tiroPercezione}}
        </div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="persuasione">Persuasione (Car)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modCarisma > 0 || group.value.persuasione">+ </span> {{tiroPersuasione}}
        </div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="rapiditaDiMano">Rapidità di mano (Des)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modDestrezza > 0 || group.value.rapiditaDiMano">+ </span>
          {{tiroRapiditaMano}}</div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="religione">Religione (Int)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modIntelligenza > 0 || group.value.religione">+ </span>
          {{tiroReligione}}</div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="sopravvivenza">Sopravvivenza (Sag)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modSaggezza > 0 || group.value.sopravvivenza">+ </span>
          {{tiroSopravvivenza}}</div>
      </div>

      <div class="checkbox-line">
        <mat-checkbox formControlName="storia">Storia (Int)</mat-checkbox>
        <div class="divider"></div>
        <div class="modificatore"> <span *ngIf="modIntelligenza > 0 || group.value.storia">+ </span> {{tiroStoria}}
        </div>
      </div>

      <details>
        <summary>Maestrie</summary>
        <mat-checkbox class="master" formControlName="maestriaAcrobazia">Acrobazia</mat-checkbox>
        <mat-checkbox formControlName="maestriaAddestrareAnimali">Addestrare Animali</mat-checkbox>
        <mat-checkbox formControlName="maestriaArcano">Arcano</mat-checkbox>
        <mat-checkbox formControlName="maestriaAtletica">Atletica</mat-checkbox>
        <mat-checkbox formControlName="maestriaFurtivita">Furtività</mat-checkbox>
        <mat-checkbox formControlName="maestriaIndagare">Indagare</mat-checkbox>
        <mat-checkbox formControlName="maestriaInganno">Inganno</mat-checkbox>
        <mat-checkbox formControlName="maestriaIntimidire">Intimidire</mat-checkbox>
        <mat-checkbox formControlName="maestriaIntrattenere">Intrattenere</mat-checkbox>
        <mat-checkbox formControlName="maestriaIntuizione">Intuizione</mat-checkbox>
        <mat-checkbox formControlName="maestriaMedicina">Medicina</mat-checkbox>
        <mat-checkbox formControlName="maestriaNatura">Natura</mat-checkbox>
        <mat-checkbox formControlName="maestriaPercezione">Percezione</mat-checkbox>
        <mat-checkbox formControlName="maestriaPersuasione">Persuasione</mat-checkbox>
        <mat-checkbox formControlName="maestriaRapiditaDiMano">Rapidità di mano</mat-checkbox>
        <mat-checkbox formControlName="maestriaReligione">Religione</mat-checkbox>
        <mat-checkbox formControlName="maestriaSopravvivenza">Sopravvivenza</mat-checkbox>
        <mat-checkbox formControlName="maestriaStoria">Storia</mat-checkbox>
      </details>

      <button mat-raised-button color="accent" (click)="updateAbilita()">
        <mat-icon>update</mat-icon> Aggiorna</button>
    </section>
  </div>
</ng-container>