<div class="section-title">Caratteristiche</div>
<div class="caratteristiche-main-container">
    <div class="caratteristiche-line">
        <div class="caratteristiche-container">
            <div class="caratteristica-label">FOR</div>
            <div class="caratteristica-value">{{characterData.caratteristiche.forza}}</div>
            <div class="caratteristica-mod">{{modForza}}</div>
        </div>
        <div class="caratteristiche-container">
            <div class="caratteristica-label">DES</div>
            <div class="caratteristica-value">{{characterData.caratteristiche.destrezza}}</div>
            <div class="caratteristica-mod">{{modDestrezza}}</div>
        </div>
        <div class="caratteristiche-container">
            <div class="caratteristica-label">COS</div>
            <div class="caratteristica-value">{{characterData.caratteristiche.costituzione}}</div>
            <div class="caratteristica-mod">{{modCostituzione}}</div>
        </div>
    </div>
    <div class="caratteristiche-line">
        <div class="caratteristiche-container">
            <div class="caratteristica-label">INT</div>
            <div class="caratteristica-value">{{characterData.caratteristiche.intelligenza}}</div>
            <div class="caratteristica-mod">{{modIntelligenza}}</div>
        </div>
        <div class="caratteristiche-container">
            <div class="caratteristica-label">SAG</div>
            <div class="caratteristica-value">{{characterData.caratteristiche.saggezza}}</div>
            <div class="caratteristica-mod">{{modSaggezza}}</div>
        </div>
        <div class="caratteristiche-container">
            <div class="caratteristica-label">CAR</div>
            <div class="caratteristica-value">{{characterData.caratteristiche.carisma}}</div>
            <div class="caratteristica-mod">{{modCarisma}}</div>
        </div>
    </div>
</div>

<div class="section-title">Tiri salvezza</div>
<div class="bonus-competenza">
    <div>Bonus Competenza</div>
    <div class="bonus-value">+ {{characterData.tiriSalvezza.bonusCompetenza}}</div>
</div>
<div class="caratteristiche-main-container">
    <div class="caratteristiche-line">
        <div class="ts">
            <div class="ts-label">
                <div *ngIf="characterData.tiriSalvezza.forza" matTooltipPosition="left" matTooltip="Competente">●</div>
                FOR
            </div>
            <div class="ts-value">{{TSForza}}</div>
        </div>
        <div class="ts">
            <div class="ts-label">
                <div *ngIf="characterData.tiriSalvezza.destrezza" matTooltipPosition="left" matTooltip="Competente">●
                </div> DES
            </div>
            <div class="ts-value">{{TSDestrezza}}</div>
        </div>
        <div class="ts">
            <div class="ts-label">
                <div *ngIf="characterData.tiriSalvezza.costituzione" matTooltipPosition="left" matTooltip="Competente">●
                </div> COS
            </div>
            <div class="ts-value">{{TSCostituzione}}</div>
        </div>
    </div>
    <div class="caratteristiche-line">
        <div class="ts">
            <div class="ts-label">
                <div *ngIf="characterData.tiriSalvezza.intelligenza" matTooltipPosition="left" matTooltip="Competente">●
                </div> INT
            </div>
            <div class="ts-value">{{TSIntelligenza}}</div>
        </div>
        <div class="ts">
            <div class="ts-label">
                <div *ngIf="characterData.tiriSalvezza.saggezza" matTooltipPosition="left" matTooltip="Competente">●
                </div> SAG
            </div>
            <div class="ts-value">{{TSSaggezza}}</div>
        </div>
        <div class="ts">
            <div class="ts-label">
                <div *ngIf="characterData.tiriSalvezza.carisma" matTooltipPosition="left" matTooltip="Competente">●
                </div> CAR
            </div>
            <div class="ts-value">{{TSCarisma}}</div>
        </div>
    </div>
</div>

<div class="section-title">Parametri vitali</div>
<div class="punti-ferita-container">
    <div class="pf-line">
        <span
            class="PF">{{characterData.parametriVitali.puntiFeritaAttuali}}/{{characterData.parametriVitali.massimoPuntiFerita}}</span>
        <mat-icon class="pf-icon" matTooltip="Punti Ferita Attuali / Massimi"
            matTooltipPosition="above">favorite</mat-icon>
        <progress blueProgress class="pf-progress" max="{{characterData.parametriVitali.massimoPuntiFerita}}"
            value="{{characterData.parametriVitali.puntiFeritaAttuali}}"></progress>
        <span *ngIf="characterData.parametriVitali.massimoPuntiFeritaTemporanei > 0"
            class="PF">{{characterData.parametriVitali.puntiFeritaTemporaneiAttuali}}/{{characterData.parametriVitali.massimoPuntiFeritaTemporanei}}</span>
        <mat-icon *ngIf="characterData.parametriVitali.massimoPuntiFeritaTemporanei > 0" class="pft-icon" matTooltip="Punti Ferita Temporanei Attuali / Massimi"
            matTooltipPosition="above">hourglass_empty</mat-icon>
        <progress *ngIf="characterData.parametriVitali.massimoPuntiFeritaTemporanei > 0" class="pf-temp-progress" max="{{characterData.parametriVitali.massimoPuntiFeritaTemporanei}}"
            value="{{characterData.parametriVitali.puntiFeritaTemporaneiAttuali}}"></progress>
        <button matTooltip="Aggiorna Punti Ferita" matTooltipPosition="above" class="heart-button" mat-icon-button color="accent" (click)="openHPDialog()">
            <img src="./assets/icons/heart-check.svg">
        </button>
    </div>
    <div class="pf-group">
        <div class="pf-title"><span>CA</span> {{characterData.CA}}</div>
        <div class="pf-title"><span>Iniziativa</span> +{{characterData.iniziativa}}</div>
        <div class="pf-title"><span>Velocità</span> {{characterData.velocita}} m</div>
    </div>
</div>

<div class="section-title">Dadi vita</div>
<div class="dice-container">
    <div *ngFor="let d of dadiVitaData; let i = index;">
        <img class="dice-icon" [ngClass]="{'dice-used' : d.usato}" [src]="d.icon" (click)="updateDadiVita(i, d.tipologia)">
    </div>
    
    <!-- <div class="pf-group">
        <div class="pf-line">
            <img src="./assets/dice/dice-d6-2.svg" matTooltip="Dadi vita" matTooltipPosition="above">
            <span class="PF" *ngFor="let dice of characterData.parametriVitali.dadiVita">{{dice}}</span>
        </div>
    </div> -->
</div>
<div class="section-title">Prove passive</div>
<div class="passive-container">
    <div class="passive-line">
        <div class="passive-label">Percezione</div>
        <div class="passive-divider"></div>
        <div class="passive-value">{{percezionePassiva}}</div>
    </div>

    <div class="passive-line">
        <div class="passive-label">Intuizione</div>
        <div class="passive-divider"></div>
        <div class="passive-value">{{intuizionePassiva}}</div>
    </div>

    <div class="passive-line">
        <div class="passive-label">Indagare</div>
        <div class="passive-divider"></div>
        <div class="passive-value">{{indagarePassiva}}</div>
    </div>
</div>