.description-text {
    font-size: small;
    opacity: 0.5;
    font-style: italic;
    margin-bottom: 20px;
    text-align: justify;
}

.section-title {
    margin: 8px 0;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: black, $alpha: 0.3);
}

.caratteristiche-main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 4px;
}

.caratteristiche-line {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 4px;
    margin-bottom: 8px;
}

.caratteristiche-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.caratteristica-label {
    font-size: medium;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 100%;
    background-color: lightgray;
    padding: 10px;
    margin-top: -10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.caratteristica-value {
    font-size: small;
    opacity: 0.7;
}

.caratteristica-mod {
    font-size: large;
    font-weight: bold;
    background-color: black;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    color: white;
}

.bonus-competenza {
    background-color: black;
    color: white;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.ts {
    text-align: center;
    flex-grow: 1;
}

.ts-label {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    font-size: medium;
    margin-bottom: 4px;
}

.ts-value {
    font-weight: bold;
}

.punti-ferita-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 16px;
}

.pf-icon {
    color: red;
    overflow: unset;
}

.pf-group {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-bottom: 8px;
}

.pf-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.pf-line>img {
    width: 20px;
    height: auto;
}

.pf-title {
    font-size: large;
    font-weight: bold;

    background-color: lightgray;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    gap: 18px;
    width: calc(100% - 29px);
    flex-grow: 1;
    margin: 0 4px;
}

.pg-title, span {
    font-weight: 400;
    font-size: small;
}

.PF {
    font-weight: bold;
    font-size: x-large;
    margin-left: 4px;
}

.passive-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.passive-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.passive-divider {
    border-bottom: 1px dotted lightgray;
    flex-grow: 1;
    opacity: 0.5;
}

.passive-label {
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.passive-value {
    font-size: large;
}

.pf-progress {
    width: 100%;
    height: 10px;
    border-radius: 4px;
    background-color: lightgray;
}

.heart-button {
    background-color: black;
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 4px black;
}

.pft-icon {
    color: orange;
    overflow: unset;
}

.pf-temp-progress {
    max-width: 60px;
    height: 10px;
    border-radius: 4px;
    background-color: lightgray;
    border-radius: 4px;
}

.pf-temp-progress::-webkit-progress-value {
    background-color: orange;
}

.pf-temp-progress::-moz-progress-bar {
    background-color: orange;
}

.dice-container {
    display: flex;
    gap: 8px;
}

.dice-icon {
    width: 30px;
    cursor: pointer;
}

.dice-used {
    opacity: 0.2;
}

@media screen and (max-width: 500px) {
    .pf-line {
        gap: 4px;
    }

    .PF {
        font-weight: bold;
        font-size: large;
        margin-right: 4px;
    }

    .pf-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
}