.main-character-container {
    height: 100%;
    overflow-y: auto;
    padding: 0 12px;
}

.description-text {
    font-size: small;
    opacity: 0.5;
    font-style: italic;
    margin-bottom: 20px;
    text-align: justify;
}

.section-title {
    margin: 8px 0;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.caratteristiche-main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 4px;
}

.caratteristiche-line {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 4px;
    margin-bottom: 8px;
}

.caratteristiche-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 4px;
    flex-grow: 1;
    text-align: center;
    width: 100%;
    border: 1px solid #212121;
    // border-radius: 8px;
    min-width: 30%;
}

.caratteristica-label {
    font-size: medium;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    background-color: #212121;
    padding: 5px 0;
    color: whitesmoke;
}

.caratteristica-value {
    font-size: large;
    padding: 10px 0;
    font-weight: bold;
    background-color: whitesmoke;
    width: 100%;
    letter-spacing: 2px;
}

.caratteristica-mod {
    font-size: large;
    font-weight: 700;
    background-color: #212121;
    width: 100%;
    padding: 5px 0;
    color: whitesmoke;
}

.bonus-competenza {
    background-color: #212121;
    color: whitesmoke;
    margin-bottom: 4px;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.bonus-value {
    font-size: large;
}

.ts {
    text-align: center;
    flex-grow: 1;
}

.ts-label {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    font-size: medium;
    background-color: #212121;
    color: whitesmoke;
    padding: 4px;
}

.ts-value {
    font-weight: 700;
    background-color: whitesmoke;
    font-size: medium;
    padding: 4px;
    border-bottom: 4px solid whitesmoke;
}

.proficent {
    border-bottom: 4px solid #212121;

}

.punti-ferita-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 16px;
}

.pf-icon {
    color: red;
    overflow: unset;
}

.pf-group {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-bottom: 20px;
    gap: 4px;
}

.pf-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.pf-line>img {
    width: 20px;
    height: auto;
}

.pf-title {
    font-size: large;
    font-weight: 700;
    background-color: whitesmoke;
    padding: 12px;
    width: calc(100% - 29px);
    flex-grow: 1;
    // margin: 0 4px;
}

.pg-title,
span {
    font-weight: 400;
    font-size: small;
}

.PF {
    font-weight: bold;
    font-size: x-large;
    margin-left: 4px;
}

.passive-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.passive-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.passive-divider {
    border-bottom: 1px dotted lightgray;
    flex-grow: 1;
    opacity: 0.5;
}

.passive-label {
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.passive-value {
    font-size: large;
}

.pf-progress {
    width: 100%;
    height: 10px;
    border-radius: 4px;
    background-color: lightgray;
}

.heart-button {
    background-color: #212121;
    border-radius: 0px;
    color: whitesmoke;
    box-shadow: 0 0 4px #212121;
}

.pft-icon {
    color: orange;
    overflow: unset;
}

.pf-temp-progress {
    max-width: 60px;
    height: 10px;
    border-radius: 4px;
    background-color: lightgray;
    border-radius: 4px;
}

.pf-temp-progress::-webkit-progress-value {
    background-color: orange;
}

.pf-temp-progress::-moz-progress-bar {
    background-color: orange;
}

.dice-container {
    display: flex;
    gap: 8px;
}

.dice-icon {
    width: 30px;
    cursor: pointer;
}

.dice-used {
    opacity: 0.2;
}

.risorse-container-line {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
}

.risorsa-container {
    background-color: #212121;
    padding: 8px 16px;
    // border-radius: 4px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    gap: 4px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.active {
    font-size: 3rem;
    text-shadow: 0 0 2px lightblue;
    cursor: pointer;
}

.used {
    color: lightgrey;
    font-size: 3rem;
    text-shadow: none;
    opacity: 0.3;
    cursor: pointer;
}

.health-bar-component {
    width: 100%;
}

@media screen and (max-width: 500px) {
    .pf-line {
        gap: 4px;
    }

    .PF {
        font-weight: bold;
        font-size: large;
        margin-right: 4px;
    }

    .pf-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    .caratteristiche-line {
        min-width: 99%;
    }
}