<div as-section-title [ngStyle]="{'color': characterData.status.sheetTitleColor}">Caratteristiche</div>
<div class="caratteristiche-main-container">
    <div class="caratteristiche-line">
        <div class="caratteristiche-container">
            <div class="caratteristica-label">FOR</div>
            <div class="caratteristica-value">{{characterData.caratteristiche.forza}}</div>
            <div class="caratteristica-mod">{{initModCaratteristica('forza')}}</div>
        </div>
        <div class="caratteristiche-container">
            <div class="caratteristica-label">DES</div>
            <div class="caratteristica-value">{{characterData.caratteristiche.destrezza}}</div>
            <div class="caratteristica-mod">{{initModCaratteristica('destrezza')}}</div>

        </div>
        <div class="caratteristiche-container">
            <div class="caratteristica-label">COS</div>
            <div class="caratteristica-value">{{characterData.caratteristiche.costituzione}}</div>
            <div class="caratteristica-mod">{{initModCaratteristica('costituzione')}}</div>
        </div>
    </div>
    <div class="caratteristiche-line">
        <div class="caratteristiche-container">
            <div class="caratteristica-label">INT</div>
            <div class="caratteristica-value">{{characterData.caratteristiche.intelligenza}}</div>
            <div class="caratteristica-mod">{{initModCaratteristica('intelligenza')}}</div>
        </div>
        <div class="caratteristiche-container">
            <div class="caratteristica-label">SAG</div>
            <div class="caratteristica-value">{{characterData.caratteristiche.saggezza}}</div>
            <div class="caratteristica-mod">{{initModCaratteristica('saggezza')}}</div>
        </div>
        <div class="caratteristiche-container">
            <div class="caratteristica-label">CAR</div>
            <div class="caratteristica-value">{{characterData.caratteristiche.carisma}}</div>
            <div class="caratteristica-mod">{{initModCaratteristica('carisma')}}</div>
        </div>
    </div>
</div>

<div as-section-title [ngStyle]="{'color': characterData.status.sheetTitleColor}">Tiri salvezza</div>
<div class="bonus-competenza">
    <div>Bonus Competenza</div>
    <div class="bonus-value">+ {{characterData.tiriSalvezza.bonusCompetenza}}</div>
</div>
<div class="caratteristiche-main-container">
    <div class="caratteristiche-line">
        <div class="ts" [ngClass]="{'dice-rolls': diceService.roomConnected}"
            (click)="rollDice('Tiro Salvezza su Forza', initTiroSalvezza('forza'))">
            <div class="ts-label">
                FOR
            </div>
            <div class="ts-value" [ngClass]="{'proficent': characterData.tiriSalvezza.forza}"
            (mouseover)="tooltip.showTooltip($event, 'center', characterData.tiriSalvezza.forza, 'ts-tooltip')" (mouseleave)="tooltip.hideTooltip()">
                {{initTiroSalvezza('forza')}}</div>
        </div>
        <div class="ts" [ngClass]="{'dice-rolls': diceService.roomConnected}"
            (click)="rollDice('Tiro Salvezza su Destrezza', initTiroSalvezza('destrezza'))">
            <div class="ts-label">
                DES
            </div>
            <div class="ts-value" [ngClass]="{'proficent': characterData.tiriSalvezza.destrezza}"
            (mouseover)="tooltip.showTooltip($event, 'center', characterData.tiriSalvezza.destrezza, 'ts-tooltip')" (mouseleave)="tooltip.hideTooltip()">
                {{initTiroSalvezza('destrezza')}}</div>
        </div>
        <div class="ts" [ngClass]="{'dice-rolls': diceService.roomConnected}"
            (click)="rollDice('Tiro Salvezza su Costituzione', initTiroSalvezza('costituzione'))">
            <div class="ts-label">
                COS
            </div>
            <div class="ts-value" [ngClass]="{'proficent': characterData.tiriSalvezza.costituzione}"
            (mouseover)="tooltip.showTooltip($event, 'center', characterData.tiriSalvezza.costituzione, 'ts-tooltip')" (mouseleave)="tooltip.hideTooltip()">
                {{initTiroSalvezza('costituzione')}}</div>
        </div>
    </div>
    <div class="caratteristiche-line">
        <div class="ts" [ngClass]="{'dice-rolls': diceService.roomConnected}"
            (click)="rollDice('Tiro Salvezza su Intelligenza', initTiroSalvezza('intelligenza'))">
            <div class="ts-label">
                INT
            </div>
            <div class="ts-value" [ngClass]="{'proficent': characterData.tiriSalvezza.intelligenza}"
            (mouseover)="tooltip.showTooltip($event, 'center', characterData.tiriSalvezza.intelligenza, 'ts-tooltip')" (mouseleave)="tooltip.hideTooltip()">
                {{initTiroSalvezza('intelligenza')}}
            </div>
        </div>
        <div class="ts" [ngClass]="{'dice-rolls': diceService.roomConnected}"
            (click)="rollDice('Tiro Salvezza su Saggezza', initTiroSalvezza('saggezza'))">
            <div class="ts-label">
                SAG
            </div>
            <div class="ts-value" [ngClass]="{'proficent': characterData.tiriSalvezza.saggezza}"
            (mouseover)="tooltip.showTooltip($event, 'center', characterData.tiriSalvezza.saggezza, 'ts-tooltip')" (mouseleave)="tooltip.hideTooltip()">
                {{initTiroSalvezza('saggezza')}}</div>
        </div>
        <div class="ts" [ngClass]="{'dice-rolls': diceService.roomConnected}"
            (click)="rollDice('Tiro Salvezza su Carisma', initTiroSalvezza('carisma'))">
            <div class="ts-label">
                CAR
            </div>
            <div class="ts-value" [ngClass]="{'proficent': characterData.tiriSalvezza.carisma}"
            (mouseover)="tooltip.showTooltip($event, 'center', characterData.tiriSalvezza.carisma, 'ts-tooltip')" (mouseleave)="tooltip.hideTooltip()">
                {{initTiroSalvezza('carisma')}}</div>
        </div>
    </div>
    <app-description-tooltip id="ts-tooltip" info="competenzaTS" *ngIf="tooltip.show && tooltip.id === 'ts-tooltip'" [ngStyle]="{'top.px': tooltip.tooltipPosition.top, 'left.px': tooltip.tooltipPosition.left}"></app-description-tooltip>
</div>

<div as-section-title [ngStyle]="{'color': characterData.status.sheetTitleColor}">Parametri vitali</div>
<div class="punti-ferita-container">
    <div class="pf-line">
        <app-health-bar class="health-bar-component" [char]="characterData" [editMode]="editModeData"></app-health-bar>
    </div>
    <div class="equip-parameter-container">
        <app-equipment [character]="characterData" [editMode]="editModeData"></app-equipment>
        <div class="parameter-grid">
            <!-- <div class="grid-item"><span>CA</span> {{characterData.CA}} {{characterData.CAShield}}</div> -->
            <!-- <div class="grid-item"><span>Danni (arma)</span> 2-8</div> -->
            <!-- <div class="grid-item" [ngClass]="{'dice-rolls': diceService.roomConnected}"
                (click)="rollDice('Tiro di Iniziativa', characterData.iniziativa)"><span>Iniziativa</span>
                {{characterData.iniziativa > 0 ? '+' + characterData.iniziativa : characterData.iniziativa}}</div> -->
            <!-- <div class="grid-item speed-title">
                <span>Velocità (spazi)</span> <div class="speed-container">
                    {{characterData.velocita/1.5}}<span
                    class="meter-value">({{characterData.velocita}}m)</span>
                </div>
            </div> -->
        </div>
    </div>
</div>
@if(editModeData) {
<div as-section-title [ngStyle]="{'color': characterData.status.sheetTitleColor}">Dadi vita</div>
<div class="dice-container">
    <div *ngFor="let d of dadiVitaData; let i = index;">
        <img *ngFor="let used of d.used; let j = index;" src="{{'./assets/dice/dice-' + d.tipologia + '.svg'}}"
            class="dice-icon" [ngClass]="{'active': !used, 'used': used}" (click)="usaDadoVita(i, j)">
    </div>
</div>

<ng-container>
    <div as-section-title [ngStyle]="{'color': characterData.status.sheetTitleColor}">Risorse aggiuntive</div>
    <div class="risorse-container-line">
        <div *ngFor="let risorsa of risorseAggiuntiveData; let i = index;">
            @if (risorsa.valoreMassimo > 10) {
            <div class="risorsa-container">
                <div class="risorsa-title">{{risorsa.nome}}</div>
                <div class="risorsa-quantity">{{risorsa.valoreAttuale}}</div>
                <span class="resource-circle"
                    [ngClass]="{'active-static': risorsa.valoreAttuale > 0, 'not-active-static': risorsa.valoreAttuale <= 0}"
                    [style.color]="risorsa.color">•</span>

                <div class="material-symbols-outlined icon-button" (click)="increaseResource(i)">add</div>
                <div class="material-symbols-outlined icon-button" (click)="reduceResource(i)">remove</div>
                <div *ngIf="risorsa.isTemporary" class="material-symbols-outlined icon-button" (click)="removeResource(i)" matTooltip="Elimina risorsa" matTooltipPosition="above">close</div>
            </div>
            } @else {
            <div class="risorsa-container">
                <div class="risorsa-title">{{risorsa.nome}}</div>
                <div *ngFor="let used of risorsa.used; let j = index" [style.color]="risorsa.color"
                    class="resource-circle" [ngClass]="{'active': !used, 'used': used}" (click)="useRisorsa(i, j)">•
                </div>
                <div *ngIf="risorsa.isTemporary" class="material-symbols-outlined icon-button" (click)="removeResource(i)" matTooltip="Elimina risorsa" matTooltipPosition="above">close</div>
            </div>
            }
        </div>
        <div class="risorsa-container">
            <div class="risorsa-title">{{ispirazione.nome}}</div>
            <div *ngFor="let used of ispirazione.used; let j = index" [style.color]="ispirazione.color" class="resource-circle"
                [ngClass]="{'active': !used, 'used': used}" (click)="usaIspirazione()">•</div>
        </div>
        <button as-mini-circle-btn (click)="newAdditionalResource()">
            <div class="material-symbols-outlined">add</div>
        </button>
    </div>
</ng-container>
}

<div as-section-title [ngStyle]="{'color': characterData.status.sheetTitleColor}">Prove passive</div>
<div class="passive-grid">
    <div class="grid-item"><div class="material-symbols-outlined">visibility</div><span>Percezione</span> {{percezionePassiva}}</div>
    <div class="grid-item"><div class="material-symbols-outlined material-no-fill">neurology</div> <span>Intuizione</span>{{intuizionePassiva}}</div>
    <div class="grid-item"><div class="material-symbols-outlined material-no-fill">search</div> <span>Indagare</span> {{indagarePassiva}}</div>
</div>