<div mat-dialog-title class="dialog-title">Rimuovi personaggio</div>
<div mat-dialog-content class="dialog-content">
    <div as-description-text>
        Stai per rimuovere uno dei personaggi presenti in questa campagna, ogni traccia delle attività di quel Personaggio su questa campagna sarà rimossa. Procedere?
    </div>
</div>
<div as-buttons-container mat-dialog-actions align="end">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div> <div>Annulla</div>
    </button>
    <button as-btn as-btn-warn (click)="confirm()">
        <div class="material-symbols-outlined">warning</div> <div>Conferma</div>
    </button>
</div>