.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.empty-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.empty-message {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.new-sheet-button {
    border-radius: 0;
    max-width: 200px;
    background-image: url("../../../assets/banner.jpg");
    // background-size: cover;
    background-position: bottom;
}

.new-sheet-button:hover {
    background-color: black;
    color: #efefef;
}

.logout-button {
    position: absolute;
    bottom: 12px;
    right: 12px; 
    border-radius: 0 !important;
    box-shadow: none !important;
    // background-color: black;
    background-image: url("../../../assets/banner.jpg");
    // background-size: cover;
    background-position: bottom;
}

.logout-button:hover {
    // background-color:  !important;
    color: #efefef !important;
    box-shadow: none !important;
}

.mat-menu-bottom {
    width: 200px !important;
    max-width: 300px;
}

.user-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-image-container {
    width: 20%;
}

.user-name {
    padding: 0 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.user-image {
    width: 100%;
}

.hr-opacity {
    opacity: 0.1;
}

