<div class="home-container">
    <h1 class="title">Adventurer Studio</h1>
    <h2 class="subtitle">
        Crea personaggi e Campagne per il tuo gioco di ruolo preferito!
    </h2>
    <div class="dev-label" matTooltip="Attualmente in sviluppo, i contenuti sono limitati e le funzionalità in aggiornamento possono alterare il normale funzionamento del sistema (provocando anche perdita dei propri dati).">
        Dev
    </div>
    <div class="buttons-container">
        <button class="button-character" mat-raised-button color="accent" routerLink="/characters">
            <mat-icon>description</mat-icon> Personaggi</button>
        <button class="button-campaign" mat-raised-button color="accent" routerLink="/campaigns"> <mat-icon>people</mat-icon>
            Campagne</button>
        <button class="button-collection" mat-raised-button color="accent" disabled> <mat-icon>inventory_2</mat-icon>
            Creazioni</button>
    </div>
</div>
<div class="disclaimer-footer">
    <div class="disclaimer">
        Questo lavoro include materiale del System Reference Document 5.1 (“SRD 5.1”) di Wizards of the Coast LLC
        disponibile al <a href="https://dnd.wizards.com/it/resources/systems-reference-document">sito</a>.
        L’SRD 5.1 è concesso in licenza sotto l’Attribuzione 4.0 Internazionale di Creative Commons disponibile al
        <a href="https://creativecommons.org/licenses/by/4.0/legalcode.it">sito</a>.
        Le icone sono tratte da <a href="https://game-icons.net/">game-icons.net</a>.
    </div>
</div>
<!-- <div class="sidenav-buttons" id="menu-button">
    <button class="step-button" mat-icon-button (click)="openSidenav()" matTooltip="Menu" matTooltipPosition="right">
        <mat-icon>{{menuIcon}}</mat-icon>
    </button>
</div> -->