<div class="home-container">
    <h1 class="title">Adventurer Studio</h1>
    <h2 class="subtitle">
        Crea i tuoi personaggi per il gioco di ruolo più famoso del mondo
    </h2>
    <div class="buttons-container">
        <button class="button-character" mat-raised-button color="accent" routerLink="/characters"> <mat-icon>description</mat-icon> Personaggi</button>
        <button class="button-campaign" mat-raised-button color="accent" disabled> <mat-icon>people</mat-icon> Campagne</button>
        <button class="button-collection" mat-raised-button color="accent" disabled> <mat-icon>inventory_2</mat-icon> Creazioni</button>
    </div>

</div>
<div class="sidenav-buttons" id="menu-button">
    <button class="step-button" mat-icon-button (click)="openSidenav()" matTooltip="Menu" matTooltipPosition="right">
        <mat-icon>{{menuIcon}}</mat-icon>
    </button>
</div>