<div mat-dialog-title class="dialog-title">{{data.quest ? 'Modifica' : 'Nuova'}} missione</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div class="description">
        Indica un <strong>titolo</strong> e una <strong>descrizione</strong> per la missione da svolgere. Se visibile i giocatori potranno vedere queste
        informazioni, mentre il campo "Note del DM" è solo per te. Quando "Completata" compila anche la sezione
        aggiuntiva.
    </div>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Titolo</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Descrizione</mat-label>
        <textarea matInput formControlName="description" rows="5"></textarea>
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Note del DM</mat-label>
        <textarea matInput formControlName="dmNotes" rows="5"></textarea>
    </mat-form-field>
    <mat-checkbox formControlName="visible" color="accent">Visibile</mat-checkbox>
    <mat-checkbox formControlName="completed" color="accent">Completata</mat-checkbox>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline" *ngIf="form.value.completed">
        <mat-label>Esito</mat-label>
        <textarea matInput formControlName="result" rows="5"></textarea>
    </mat-form-field>
    <!-- <div formArrayName="steps">
        <div *ngFor="let step of steps.controls; let i = index" [formGroupName]="i">
            <mat-form-field color="accent" class="custom-form-field" appearance="outline">
                <mat-label>Descrizione</mat-label>
                <textarea matInput formControlName="text" rows="5"></textarea>
            </mat-form-field>
            <mat-checkbox formControlName="visible" color="accent">Visibile</mat-checkbox>
        </div>
    </div>
    <button mat-raised-button color="accent" class="add-button" (click)="addStep()">
        <mat-icon>add</mat-icon> Aggiungi passaggio
    </button> -->
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>
        <mat-icon>close</mat-icon> Annulla
    </button>
    <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="confirm()">
        <mat-icon>{{data.quest ? 'check' : 'add'}}</mat-icon> {{data.quest ? 'Modifica' : 'Aggiungi'}}
    </button>
</div>