<div mat-dialog-title class="dialog-title">{{data.quest ? 'Modifica' : 'Nuova'}} missione</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div class="description">
        Indica un <strong>titolo</strong> e una <strong>descrizione</strong> per la missione da svolgere. Se visibile i giocatori potranno vedere queste
        informazioni, mentre il campo "Note del DM" è solo per te. Quando "Completata" compila anche la sezione
        aggiuntiva.
    </div>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Titolo</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Descrizione</mat-label>
        <textarea matInput formControlName="description" rows="5"></textarea>
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Note del DM</mat-label>
        <textarea matInput formControlName="dmNotes" rows="5"></textarea>
    </mat-form-field>
    <mat-checkbox formControlName="visible" color="accent">Visibile</mat-checkbox>

    <div class="competenze-label">Progresso</div>
    @if (form.value.visible) {
        <ng-container formArrayName="steps">
            <ng-container class="action-container" *ngFor="let s of steps.controls; let i = index">
                <div [formGroupName]="i" class="action-container">
                    <mat-form-field class="line-input" color="accent" appearance="outline">
                        <mat-label>Descrizione passo</mat-label>
                        <input matInput formControlName="text">
                        <mat-icon matSuffix (click)="removeStep(i)">close</mat-icon>
                    </mat-form-field>
                </div>
            </ng-container>
        </ng-container>

        <div class="button-container">
            <button mat-mini-fab class="add-step-button" color="accent" (click)="addStep()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    } @else {
        <div class="description">Per poter tenere traccia dei passi effettuati dai giocatori, rendi prima la missione visibile.</div>
    }
        
    <mat-checkbox formControlName="completed" color="accent">Completata</mat-checkbox>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline" *ngIf="form.value.completed">
        <mat-label>Esito</mat-label>
        <textarea matInput formControlName="result" rows="5"></textarea>
    </mat-form-field>
    <!-- <div formArrayName="steps">
        <div *ngFor="let step of steps.controls; let i = index" [formGroupName]="i">
            <mat-form-field color="accent" class="custom-form-field" appearance="outline">
                <mat-label>Descrizione</mat-label>
                <textarea matInput formControlName="text" rows="5"></textarea>
            </mat-form-field>
            <mat-checkbox formControlName="visible" color="accent">Visibile</mat-checkbox>
        </div>
    </div>
    <button mat-raised-button color="accent" class="add-button" (click)="addStep()">
        <mat-icon>add</mat-icon> Aggiungi passaggio
    </button> -->
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>
        <mat-icon>close</mat-icon> Annulla
    </button>
    <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="confirm()">
        <mat-icon>{{data.quest ? 'check' : 'add'}}</mat-icon> {{data.quest ? 'Modifica' : 'Aggiungi'}}
    </button>
</div>