<div mat-dialog-title class="dialog-title">Impostazioni</div>
<div mat-dialog-content class="dialog-content">
  <div class="subtitle">Autenticazione dddice.com</div>
  <div class="description">Qui puoi autenticarti al servizio per lanciare dadi virtuali in tutta l'app. È
    consigliabile essere autenticati <a href="https://dddice.com" target="_blank">qui</a> prima di iniziare la
    procedura di collegamento (evitando di esaurire il tempo limite a disposizione).</div>

  <div class="authentication-container">
    <button mat-raised-button color="accent" (click)="getActivationCode()"
      *ngIf="firebaseService.user.value.dddiceToken === undefined && activationCode === '' && !dddice.authenticated.value">
      <mat-icon>vpn_key</mat-icon> Ottieni codice
    </button>
    <div class="inner-container" *ngIf="activationCode !== ''">
      <div class="auth-code">{{activationCode}}</div>
      <a href="https://dddice.com/activate" target="_blank">
        <button mat-raised-button color="accent">
          <mat-icon>open_in_new</mat-icon> Inserisci codice
        </button>
      </a>
      <span class="spinner-span" *ngIf="activationCode && !dddice.authenticated.value">
        <mat-spinner color="accent"></mat-spinner>
        In attesa...
      </span>
    </div>
    <span class="spinner-span" *ngIf="dddice.authenticated.value">
      <mat-icon>check</mat-icon> Autenticazione eseguita!
    </span>
  </div>

  <div class="subtitle">Tema dei dadi</div>
  <!-- <div class="description">Inserisci il tema dei dadi che preferisci e usali nell'app. Puoi trovare i temi esplorado
    l'apposita sezione alla <a href="https://dddice.com/dice">pagina</a> su dddice.com. Trovi l'ID del tema in fondo
    all'URL della pagina visualizzata.</div> -->
  <div class="description">Puoi scegliere il tuo tema dei dadi preferito direttamente da <a
      href="https://dddice.com/dice">dddice.com</a>. Una volta deciso, copia e incolla l'url di quella pagina nello
    spazio qui sotto poi premi 'Applica'. Verrà effettuato un tiro di prova. Assicurati che il tema scelto non sia tra
    quelli a pagamento o non funzionerà.</div>
  <form [formGroup]="form">
    <div class="form-container">
      <mat-form-field class="form-field" color="accent" appearance="outline">
        <mat-label>Tema dadi</mat-label>
        <input matInput formControlName="rollTheme">
      </mat-form-field>
      <div class="buttons-container">
        <button mat-raised-button class="save-roll-button" color="accent" (click)="resetTheme()"
          [disabled]="!form.valid || !dddice.authenticated.value">
          <mat-icon>restart_alt</mat-icon> Reset
        </button>
        <button mat-raised-button class="save-roll-button" color="accent" (click)="setDiceTheme()"
          [disabled]="!form.valid || !dddice.authenticated.value">
          <mat-icon>save</mat-icon> Applica
        </button>
      </div>
    </div>
  </form>

  <div class="admin-container" *ngIf="isAdmin">
    <div class="subtitle">Admin Panel</div>
    <button mat-raised-button (click)="resetStatusAllCharacter()" color="accent">Aggiorna tutti i personaggi</button>
    <a href="https://console.firebase.google.com/project/dnd-character-sheet-2023/overview" target="_blank">Firebase Console</a>
    <a href="https://github.com/Gianluks90/adventurer-studio/issues" target="_blank">Github issues</a>
    <!-- <button mat-raised-button (click)="resetSpellCharacters()" color="accent" disabled>Update model magie</button>
    <button mat-raised-button (click)="updateUserCampaigns()" color="accent">Novità campagna</button> -->
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="accent">Chiudi</button>
</div>