.dialog-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dialog-content {
    width: 100%;
}

.custom-form-field {
    width: 100%;
    margin-top: 20px;
}

.spinner-span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.authentication-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 8px;
}

.auth-code {
    font-size: xx-large;
    letter-spacing: 12px;
    font-weight: bold;
}

mat-spinner {
    width: 24px !important;
    height: 24px !important;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-field {
    width: 100%;
    margin: 12px 0;
}