<div mat-dialog-title class="dialog-title">Aggiungi oggetto</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
  <div class="section-title">Informazioni basilari</div>

  <mat-form-field color="accent" class="custom-form-field" appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <div class="line-container">
    <mat-form-field class="line-input" color="accent" class="custom-form-field" appearance="outline">
      <mat-label>Quantità</mat-label>
      <input type="number" matInput formControlName="quantity" min="1" inputmode="numeric">
    </mat-form-field>

    <mat-form-field class="line-input" color="accent" appearance="outline">
      <mat-label>Icona</mat-label>
      <mat-select formControlName="icon">
        <mat-option *ngFor="let icon of selectIcons" [value]="icon.link">
          <div class="option-line">
            <img class="icon-image" [src]="icon.link" alt="">
            <div>{{icon.name}}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="line-container">
    <mat-form-field class="line-input" color="accent" class="custom-form-field" appearance="outline">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="category">
        <mat-option value="arma">Arma</mat-option>
        <mat-option value="armatura">Armatura</mat-option>
        <mat-option value="scudo">Scudo</mat-option>
        <mat-option value="anello">Anello</mat-option>
        <mat-option value="pozione">Pozione</mat-option>
        <mat-option value="bastone">Bastone</mat-option>
        <mat-option value="verga">Verga</mat-option>
        <mat-option value="bacchetta">Bacchetta</mat-option>
        <mat-option value="oggetto_meraviglioso">Oggetto Meraviglioso</mat-option>
        <mat-option value="oggetto_insolito">Oggetto Insolito</mat-option>
        <mat-option value="equip_avventura">Equipaggiamento d'avventura</mat-option>
        <mat-option value="strumento">Strumento</mat-option>
        <mat-option value="pergamena">Pergamena</mat-option>
        <mat-option value="altro">Altro</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="line-input" color="accent" appearance="outline">
      <mat-label>Rarità</mat-label>
      <mat-select formControlName="rarity">
        <mat-option value="comune">Comune</mat-option>
        <mat-option value="non_comune">Non Comune</mat-option>
        <mat-option value="raro">Raro</mat-option>
        <mat-option value="molto_raro">Molto Raro</mat-option>
        <mat-option value="leggendario">Leggendario</mat-option>
        <mat-option value="unico">Unico</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field color="accent" appearance="outline" class="text-area-input">
    <mat-label>Descrizione</mat-label>
    <textarea matInput formControlName="description" rows="3"></textarea>
  </mat-form-field>

  <div class="line-container">
    <mat-form-field class="line-input" color="accent" class="custom-form-field" appearance="outline">
      <mat-label>Valore [MO]</mat-label>
      <input type="number" matInput formControlName="value" min="0" inputmode="numeric">
    </mat-form-field>

    <mat-form-field class="line-input" color="accent" class="custom-form-field" appearance="outline">
      <mat-label>Peso [Kg]</mat-label>
      <input type="number" matInput formControlName="weight" min="0" inputmode="numeric">
    </mat-form-field>
  </div>
  
  <div class="section-title">Caratteristiche avanzate</div>
  <div>
    <mat-button-toggle-group class="toggle-group" (change)="setType($event)">
      <mat-button-toggle class="toggle-button" value="armor">Armatura</mat-button-toggle>
      <mat-button-toggle class="toggle-button" value="weapon">Arma</mat-button-toggle>
    </mat-button-toggle-group>
  
    <div [ngSwitch]="type" >

      <!-- ARMATURA -->
      <div *ngSwitchCase="'armor'" class="switch-container">
        <div class="line-container">
          <mat-form-field class="line-input" color="accent" class="custom-form-field" appearance="outline">
            <mat-label>CA</mat-label>
            <input type="number" matInput formControlName="CA" min="0" inputmode="numeric">
          </mat-form-field>
      
          <mat-form-field class="line-input" color="accent" class="custom-form-field" appearance="outline">
            <mat-label>Forza Minima</mat-label>
            <input type="number" matInput formControlName="minStrength" min="0" inputmode="numeric">
          </mat-form-field>
        </div>
        
        <div class="checkbox-container">
          <mat-checkbox formControlName="plusDexterity">
            + modificatore Destrezza
          </mat-checkbox>
          <mat-checkbox formControlName="shiled">
            È uno scudo
          </mat-checkbox>
          <mat-checkbox formControlName="stealthDisadvantage">
            Svantaggio Furtività
          </mat-checkbox>
        </div>
      </div>

      <!-- ARMA -->
      <div *ngSwitchCase="'weapon'" class="switch-container">
        <div class="line-container">
          <mat-form-field class="line-input" color="accent" class="custom-form-field" appearance="outline">
            <mat-label>Formula Danni (senza spazi)</mat-label>
            <input type="text" matInput formControlName="damageFormula" placeholder="Es. 1d6+1">
          </mat-form-field>
      
          <!-- <mat-form-field class="line-input" color="accent" class="custom-form-field" appearance="outline">
            <mat-label>Tipologia Danni</mat-label>
            <input type="text" matInput formControlName="damageType">
          </mat-form-field> -->

          <mat-form-field class="line-input" color="accent" appearance="outline">
            <mat-label>Tipo di danno</mat-label>
            <mat-select formControlName="damageType">
              <mat-option value="acido">Acido</mat-option>
              <mat-option value="contundente">Contundente</mat-option>
              <mat-option value="forza">Forza</mat-option>
              <mat-option value="freddo">Freddo</mat-option>
              <mat-option value="fulmine">Fulmine</mat-option>
              <mat-option value="fuoco">Fuoco</mat-option>
              <mat-option value="necrotico">Necrotico</mat-option>
              <mat-option value="perforante">Perforante</mat-option>
              <mat-option value="psichico">Psichico</mat-option>
              <mat-option value="radioso">Radioso</mat-option>
              <mat-option value="tagliente">Tagliente</mat-option>
              <mat-option value="tuono">Tuono</mat-option>
              <mat-option value="veleno">Veleno</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field class="switch-input" color="accent" appearance="outline">
          <mat-label>Proprietà</mat-label>
          <mat-select formControlName="weaponProperties" multiple>
            <mat-option *ngFor="let prop of weaponProperties" [value]="prop.name">
              <div class="option-label">{{prop.name}}</div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="checkbox-container">
    <mat-checkbox formControlName="weared">
      Equipaggiato
    </mat-checkbox>

    <mat-checkbox formControlName="focus">
      Focus da incantatore
    </mat-checkbox>

    <mat-checkbox formControlName="cursed">
      Maledetto
    </mat-checkbox>

    <mat-checkbox formControlName="magicItem">
      Oggetto Magico
    </mat-checkbox>

    <mat-checkbox formControlName="artifact">
      Artefatto
    </mat-checkbox>

    <mat-checkbox formControlName="attunementRequired" *ngIf="this.form.value.magicItem || this.form.value.artifact">
      Richiede Sintonia
    </mat-checkbox>
  </div>

  <mat-form-field *ngIf="form.value.cursed" color="accent" appearance="outline" class="text-area-input">
    <mat-label>Descrizione Maledizione</mat-label>
    <textarea matInput formControlName="cursedDescription" rows="3"></textarea>
  </mat-form-field>

  <div class="magic-item-container" *ngIf="form.value.magicItem">
    <div class="section-title">Proprietà Magiche</div>
    <ng-container class="" formArrayName="traits">
      <ng-container *ngFor="let traitForm of traits.controls; let i = index;">
        <div class="step-form" [formGroupName]="i">
          <mat-form-field class="line-input" color="accent" appearance="outline">
            <mat-label>Titolo</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>
          
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Descrizione</mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
          </mat-form-field>

          <div class="delete-button">
            <button mat-raised-button color="accent" (click)="deleteTrait(i)">
              <mat-icon>delete</mat-icon> Rimuovi
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div class="button-container">
      <button mat-raised-button color="accent" (click)="addTrait()">
        <mat-icon>add</mat-icon>
        Aggiungi nuovo
      </button>
    </div>
  </div>

  <div class="magic-item-container" *ngIf="form.value.artifact">
    <div class="section-title">Proprietà Artefatto</div>
    <ng-container class="" formArrayName="artifactProperties">
      <ng-container *ngFor="let propForm of artifactProperties.controls; let i = index;">
        <div class="step-form" [formGroupName]="i">
          <mat-form-field class="line-input" color="accent" appearance="outline">
            <mat-label>Titolo</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>
          
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Descrizione</mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
          </mat-form-field>

          <div class="delete-button">
            <button mat-raised-button color="accent" (click)="deleteProp(i)">
              <mat-icon>delete</mat-icon> Rimuovi
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div class="button-container">
      <button mat-raised-button color="accent" (click)="addProp()">
        <mat-icon>add</mat-icon>
        Aggiungi nuovo
      </button>
    </div>
  </div>

  <mat-form-field color="accent" class="custom-form-field" appearance="outline">
    <mat-label>Riferimento (sigla manuale/pagina)</mat-label>
    <input matInput formControlName="reference" placeholder="Es. PHB 123">
  </mat-form-field>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Annulla</button>
  <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="confirm()">Aggiungi</button>
</div>