<div mat-dialog-title class="dialog-title">{{data.attack ? 'Modifica' : 'Aggiungi'}} Attacco</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div class="step-form" [formGroup]="form">
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <div class="line-container">
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Bonus Attacco</mat-label>
                <input matInput type="number" formControlName="attackBonus" inputmode="numeric">
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Formula danno</mat-label>
                <input matInput formControlName="damage" placeholder="Formula senza spazi (es. 2d6+1)">
            </mat-form-field>
        </div>

        <div class="line-container">
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Tipo di danno</mat-label>
                <mat-select formControlName="damageType">
                    <mat-option value="acido">Acido</mat-option>
                    <mat-option value="contundente">Contundente</mat-option>
                    <mat-option value="forza">Forza</mat-option>
                    <mat-option value="freddo">Freddo</mat-option>
                    <mat-option value="fulmine">Fulmine</mat-option>
                    <mat-option value="fuoco">Fuoco</mat-option>
                    <mat-option value="necrotico">Necrotico</mat-option>
                    <mat-option value="perforante">Perforante</mat-option>
                    <mat-option value="psichico">Psichico</mat-option>
                    <mat-option value="radioso">Radioso</mat-option>
                    <mat-option value="tagliente">Tagliente</mat-option>
                    <mat-option value="tuono">Tuono</mat-option>
                    <mat-option value="veleno">Veleno</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Gittata</mat-label>
                <input matInput formControlName="range">
            </mat-form-field>
        </div>
        
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Note</mat-label>
            <textarea matInput formControlName="notes" rows="5"></textarea>
        </mat-form-field>
        <div class="line-container">
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Icona</mat-label>
                <mat-select formControlName="icon">
                    <mat-option *ngFor="let icon of selectIcons" [value]="icon.link">
                        <div class="option-line">
                            <img class="icon-image" [src]="icon.link" alt="">
                            <div>{{icon.name}}</div>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Costo</mat-label>
                <input matInput formControlName="cost">
            </mat-form-field>
        </div>
    </div>
</div>
<div as-buttons-container mat-dialog-actions align="end" *ngIf="!isMobile">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div> <div>Annulla</div>
    </button>
    <button *ngIf="data.attack" as-btn as-btn-warn mat-dialog-close (click)="delete()">
        <div class="material-symbols-outlined">delete</div> <div>Elimina</div>
    </button>
    <button as-btn [disabled]="!form.valid" (click)="confirm()">
        <div class="material-symbols-outlined">{{data.attack ? 'check' : 'add'}}</div> <div>{{data.attack ? 'Modifica' : 'Aggiungi'}}</div>
    </button>
</div>