<div as-section-title [ngStyle]="{'color': charData.status.sheetTitleColor}">Equipaggiamento</div>
@if (editModeData) {
    <div class="buttons-container">
        <button as-mini-circle-btn (click)="openManageDialog()">
            <div class="material-symbols-outlined">settings</div>
        </button>
        <button as-mini-circle-btn [disabled]="setsData.length <= 1" (click)="changeSet()">
            <div class="material-symbols-outlined">restart_alt</div>
        </button>
        <button as-mini-circle-btn disabled>
            <div class="material-symbols-outlined">info</div>
        </button>
    </div>
}
<!-- Elenco equipaggiamento come icone -->
@if (wearedItems.length > 0) {
    <div class="equip-container">
        @for (i of wearedItems; track $index) {
            <img class="equip-card" [src]="i.icon" [ngStyle]="{'border-color': setColor(i.rarity)}"
            (mouseover)="showTooltip($event, i)" (mouseleave)="hideTooltip()">
            <app-item-tooltip id="item-tooltip-equip" [item]="i" *ngIf="showItemTooltip && i === currentTooltipItem" class="tooltip" [ngStyle]="{'top.px': tooltipPosition.top, 'left.px': tooltipPosition.left}"></app-item-tooltip>
        }
    </div>
    } @else {
        <div [ngStyle]="{'color': charData.status.sheetTitleColor}" class="no-equip">Nessun oggetto equipaggiato</div>
    }

<div class="parameter-grid">
    <div class="grid-item"><span class="parameter-label">CA</span> {{CA}}</div>
    @if (setsData.length > 0) {
        @if (setsData[setIndex].mainHand && setsData[setIndex].mainHand.name !== '') {
        <div class="grid-item"><span class="parameter-label">Danni ({{setsData[setIndex].name}})</span> 
            {{ 
                (setsData[setIndex].versatile ? getDamagesString(setsData[setIndex].mainHand.versatileDice, setsData[setIndex].mainHand.extraDamages) : 
                    (setsData[setIndex].dualWield ? getDamagesString(setsData[setIndex].mainHand.damageFormula + '+' + setsData[setIndex].offHand.damageFormula) :
                        (getDamagesString(setsData[setIndex].mainHand.damageFormula, setsData[setIndex].mainHand.extraDamages) || '1')
                    )
                )
            }}            
        </div> 
        } @else {
        <div class="grid-item"><span class="parameter-label">Danni ({{setsData[setIndex].name}})</span> 1</div>
        }
    } @else {
        <div class="grid-item"><span class="parameter-label">Danni</span> 1</div>
    }
    <!-- <div class="grid-item"><span class="parameter-label">Danni ({{setsData[setIndex].name}})</span> {{getDamagesString(setsData[setIndex].mainHand, setsData[setIndex].mainHand.damageFormula || '1' )}}</div> -->
    <div class="grid-item"><span class="parameter-label">Iniziativa</span> {{charData.iniziativa > 0 ? '+' + charData.iniziativa : charData.iniziativa}}</div>
    <div class="grid-item speed-title">
        <span class="parameter-label">Velocità (spazi)</span> <div class="speed-container">
            {{charData.velocita/1.5}}<span class="parameter-label">({{charData.velocita}}m)</span>
        </div>
    </div>
</div>
<!-- Qui sotto ci andrà l'elenco di tratti, ecc... -->