<div as-section-title>Capitolo {{campaignData.archive.length +1}}</div>
<div [ngClass]="{'chapter-container': chapterUrl !== ''}">
    <div class="description">{{descriptionData}}</div>
    <img *ngIf="chapterUrl !== ''" [src]="chapterUrl" class="chapter-image">
</div>
<div as-section-title>Resoconto sessioni</div>
<div class="button-container">
    <button as-mini-circle-btn (click)="openArchiveStoryDialog()" [disabled]="archiveData.length === 0">
        <div class="material-symbols-outlined">inventory_2</div>
    </button>
    <button as-mini-circle-btn (click)="openStoryDialog()" *ngIf="isOwnerData">
        <div class="material-symbols-outlined">add</div>
    </button>
</div>
<div class="story-container">
    <div class="story-item" *ngFor="let story of storyData; let i = index;">
        <ng-container *ngIf="story.visible">
            <div class="story-number-container">
                <div class="story-divider"></div>
                <div class="story-number">{{sessionNumberData - i}}</div>
                <div class="story-divider"></div>
            </div>
            <div class="story-title">{{story.title}}</div>
            <div class="story-content">{{story.content}}</div>
        </ng-container>
        <div class="button-container">
            <button as-btn (click)="openStoryDialog(story, i)" *ngIf="isOwnerData">
                <div class="material-symbols-outlined">edit</div>
                <div>Modifica</div>
            </button>
        </div>
    </div>
</div>