.section-title {
    margin-bottom: 10px;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.description {
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-style: italic;
    margin-bottom: 20px;
}

.description::first-letter {
    font-size: large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 4px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.add-button {
    width: 30px;
    height: 30px;
}

.archive-button {
    width: 30px;
    height: 30px;
}

.archive-button mat-icon {
    font-size: medium;
    margin-top: 6px;
}

.edit-button {
    // width: 100%;
    border: none;
    background-color: #212121;
    color: whitesmoke;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.story-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.story-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #212121;
}

.story-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-style: italic;
    opacity: 0.6;
}

.story-number-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

.story-number {
    font-size: large;
    font-weight: bold;
    color: rgba($color: #212121, $alpha: 0.6);
    // font-family: 'Times New Roman', Times, serif;
}

.story-divider {
    border-bottom: 1px dotted rgba($color: #212121, $alpha: 0.3);
    width: 100%;
}