<div mat-dialog-title class="dialog-title">{{data.story ? 'Modifica' : 'Nuovo'}} resoconto</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div as-description-text>
        Inserisci un titolo e una descrizione per il resoconto della sessione di gioco. Ricorda che non puoi decidere di
        rendere invisibile un resoconto, essi vengono sempre mostrati a tutti dal momento in cui vengono creati.
    </div>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Titolo</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Descrizione</mat-label>
        <textarea matInput formControlName="content" rows="5"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <div as-buttons-container>
        <button as-btn mat-dialog-close>
            <div class="material-symbols-outlined">close</div> <div>Annulla</div>
        </button>
        <button as-btn [disabled]="!form.valid" (click)="confirm()">
            <div class="material-symbols-outlined">{{data.story ? 'edit' : 'add'}}</div> <div>{{data.story ? 'Modifica' : 'Aggiungi'}}</div>
        </button>
    </div>
</div>