.dialog-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dialog-content {
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.description {
  margin-bottom: 8px;
  text-align: justify;
}

.custom-form-field {
  width: 100%;
}

button {
  border-radius: 0;
}