<div class="section-title">Impostazioni</div>
<div class="subtitle">Colore scheda</div>
<div class="input-container">
    <input type="color" class="color-picker" [value]="sheetColorData" #picker>
    <div class="divider"></div>
    <button mat-raised-button color="accent" (click)="updateSheetColor(picker.value)">
        <mat-icon>check</mat-icon> Applica
    </button>
    <button mat-raised-button color="accent" (click)="resetColor()">
        <mat-icon>refresh</mat-icon> Predefinito
    </button>
</div>
<div class="description-text"><strong>Attenzione</strong>: una volta premuto uno dei tasti 'Applica' o 'Predefinito' la pagina verrà
    ricaricata ed ogni modifica non salvata sarà persa. Assicurati di salvare prima di effettuare questa modifica.</div>
<div class="subtitle">Esportazione</div>
<div class="export-container">
    <a class="export-button" href="" target="_blank" id="export-button">
        <button mat-raised-button color="accent" (click)="parseExport()">
            <mat-icon>download</mat-icon> Esporta JSON
        </button>
      </a>
    
    <button class="export-button" mat-raised-button color="accent" disabled>
        <mat-icon>picture_as_pdf</mat-icon> Esporta PDF
    </button>
</div>
<div class="description-text">Il file <strong>JSON</strong> permette di creare una copia di questo personaggio dalla sezione Personaggi. Il file <strong>PDF</strong> (funzione disponibile prossimamente) è invece la scheda personaggio ufficiale in formato .pdf pre-compilata con le informazioni inserite finora.</div>

<div class="subtitle">Campagne (prossimamente)</div>
<div class="description-text">Questo personaggio non è in alcuna Campagna attiva.</div>