<div mat-dialog-title class="dialog-title">Modifica {{form.value.tipologia}}</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div as-description-text>
        Correggi o aggiorna il privilegio, tratto o talento selezionato.
    </div>
    <div class="line-container">
        <mat-form-field class="line-input" color="accent" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
          </mat-form-field>
          <mat-form-field class="line-input" color="accent" appearance="outline">
            <mat-label>Tipologia</mat-label>
            <mat-select formControlName="tipologia">
              <mat-option value="tratto">Tratto</mat-option>
              <mat-option value="privilegio">Privilegio</mat-option>
              <mat-option value="talento">Talento</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="line-container">
        <mat-form-field class="line-input" color="accent" appearance="outline">
            <mat-label>Tag</mat-label>
            <input matInput formControlName="tag">
          </mat-form-field>
          <mat-form-field class="line-input" color="accent" appearance="outline">
            <mat-label>Pagina riferimento</mat-label>
            <input matInput formControlName="riferimento">
          </mat-form-field>
    </div>
    <mat-form-field class="custom-form-field" color="accent" appearance="outline">
        <mat-label>Descrizione</mat-label>
        <textarea matInput formControlName="descrizione" rows="5"></textarea>
    </mat-form-field>
    
</div>
<div as-buttons-container mat-dialog-actions align="end">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div> Annulla
    </button>
    <button as-btn [disabled]="!form.valid" (click)="confirm()">
        <div class="material-symbols-outlined">done</div> Conferma
    </button>
</div>