// .material-symbols-outlined {
//     font-variation-settings:
//     'FILL' 0,
//     'wght' 400,
//     'GRAD' 0,
//     'opsz' 24
//   }

.main-trucchetti-incantesimi-container {
    height: 100%;
    overflow-y: auto;
    padding: 8px;
}

.section-title {
    margin-bottom: 8px;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.subtitle {
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
    margin: 20px 0;
}

.ti-container {
    display: flex;
    width: 100%;
    gap: 4px;
    margin-bottom: 4px;
}

.ti-element {
    background: lightgray;
    padding: 4px 8px;
    width: 50%;
}

.ti-label {
    font-weight: bold;
}

.spell-container {
    display: flex;
    flex-direction: column;
    // gap: 2px;
}

.spell-title {
    background-color: #212121;
    color: white;
    padding: 8px;
    // border-radius: 8px;
    margin-bottom: 4px;
}

.spell-attributes {
    font-size: small;
    opacity: 0.5;
    font-style: italic;
    padding: 8px;
}

.spell-info {
    font-size: smaller;
    padding: 8px;
}

.spell-label {
    font-weight: bold;
}

.spell-description {
    text-align: justify;
    font-size: smaller;
    padding: 8px;
    white-space: pre-wrap;
}

.spell-attributes::first-letter {
    text-transform: uppercase;
}

.slot-container-line {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8px;
    gap: 4px;
}

.risorse-container-line {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
}

.risorsa-container {
    background-color: #212121;
    padding: 8px 16px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    gap: 4px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 8px;
}

.risorsa-title {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

.resource-circle {
    height: 16px;
    font-family: Arial, Helvetica, sans-serif;

    &>.material-symbols-outlined {
        font-size: 1rem;
    }
}

.active {
    color: #8b82f2;
    text-shadow: 0 0 2px lightblue;
    cursor: pointer;
}

.active-static {
    text-shadow: 0 0 2px lightblue;
}

.not-active-static {
    color: lightgrey;
    text-shadow: none;
    opacity: 0.3;
}

.icon-button {
    cursor: pointer;
}

.used {
    color: lightgrey;
    text-shadow: none;
    opacity: 0.3;
    cursor: pointer;
}

.t-container {
    margin-bottom: 4px;
}

.t-name {
    background-color: black;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-header-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.spell-icon {
    width: 24px;
    height: 24px;
}

.spell-level {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 8px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 4px 0 12px 0;
    position: sticky;
}

.search-input {
    width: 100%;
}

.add-button {
    border-radius: 0;
    background-color: #212121;
    box-shadow: none;
    height: 30px;
    width: 30px;

    &:hover {
        box-shadow: none;
    }
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.edit-spell-button {
    background-color: #212121;
    color: white;
    border-radius: 4px;
    margin: 4px;
    // font-size: xx-small;
    border: none;
    cursor: pointer;
    padding: 4px;
    flex-grow: 1;
}

.sort-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.sort-button>img {
    width: 32px;
    height: 32px;
    cursor: pointer;

}

@media screen and (max-width: 500px) {
    .ti-container {
        flex-direction: column;
    }

    .ti-element {
        width: 100%;
        box-sizing: border-box;
    }
}

.warn-prepared-spells {
    color: crimson;
}