<div class="section-title">Trucchetti e Incantesimi</div>
<div class="ti-container">
    <div class="ti-element"> <span class="ti-label">Classe Incantatore</span> {{classeIncantatore}}</div>
    <div class="ti-element"> <span class="ti-label">Caratteristica</span> {{caratteristicaIncantatore}}</div>
</div>
    <div class="ti-container">
    <div class="ti-element"> <span class="ti-label">CD Tiro salvezza</span> {{CDTiroSalvezza}}</div>
    <div class="ti-element"> <span class="ti-label">Bonus attacco</span> +{{bonusAttaccoIncantesimi}}</div>
</div>

<div class="section-title">Elenco</div>
<div *ngFor="let t of lista; let i = index;">
    <div class="spell-container">
        <div class="spell-title">{{t.nome}}</div>
        <div class="spell-attributes">{{t.tipologia}}, {{t.scuola}}, {{t.componenti}}, {{t.riferimento}}</div>
        <div class="spell-info"> <span class="spell-label">Durata</span> {{t.durata}} <span class="spell-label">Tempo di lancio</span> {{t.tempoLancio}} <span class="spell-label">Gittata</span> {{t.gittata}} </div>
        <div class="spell-description"> <span class="spell-label">Descrizione</span> {{t.descrizione}}</div>
        <div *ngIf="t.livelloSuperiore !== ''" class="spell-description"> <span class="spell-label">Ai livelli superiori</span> {{t.livelloSuperiore}}</div>
    </div>
</div>
