<div mat-dialog-title class="dialog-title">Creazione nuovo personaggio</div>
<div mat-dialog-content class="dialog-content" [formGroup]="charForm">
  <div as-description-text>Inserisci un Nome poi Conferma per creare un Personaggio
    <strong>OPPURE</strong> carica un backup (in formato JSON) che hai esportato precedentemente, questo genererà un
    Personaggio già precompilato.</div>

  <mat-form-field color="accent" class="custom-form-field" appearance="outline">
    <mat-label>Nome personaggio</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <div class="custom-form-field">
    <mat-label>Allega un file JSON (precedentemente esportato) </mat-label>
    <input type="file" accept=".json" (change)="uploadFile($event)">
  </div>
</div>
<div as-buttons-container mat-dialog-actions align="end">
  <button as-btn mat-dialog-close>
    <div class="material-symbols-outlined">close</div> <div>Annulla</div>
  </button>
  <button as-btn [disabled]="!charForm.valid" (click)="confirm()">
    <div class="material-symbols-outlined">done</div> <div>Conferma</div>
  </button>
</div>