.dialog-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dialog-content {
    width: 100%;
}

.custom-form-field {
    width: 100%;
    margin-top: 20px;
}

button {
    border-radius: 0;
}