<div>
  <ng-container *ngIf="group">
    <div class="coins-viewer" >
      <div class="single-coins-viewer">
        <mat-icon class="mat-18"><img src="../assets/coins/copper.svg" alt=""></mat-icon>
        <div>
          {{group.value.MR}} MR
        </div>
      </div>
      <div class="single-coins-viewer">
        <mat-icon class="mat-18"><img src="../assets/coins/silver.svg" alt=""></mat-icon>
        <div>
          {{group.value.MA}} MA
        </div>
      </div>
      <div class="single-coins-viewer">
        <mat-icon class="mat-18"><img src="../assets/coins/electrum.svg" alt=""></mat-icon>
        <div>
          {{group.value.ME}} ME
        </div>
      </div>
      <div class="single-coins-viewer">
        <mat-icon class="mat-18"><img src="../assets/coins/gold.svg" alt=""></mat-icon>
        <div>
          {{group.value.MO}} MO
        </div>
      </div>
      <div class="single-coins-viewer">
        <mat-icon class="mat-18"><img src="../assets/coins/platinum.svg" alt=""></mat-icon>
        <div>
          {{group.value.MP}} MP
        </div>
      </div>
    </div>
  </ng-container>
  <div class="coins-input">
    <div class="input-container" [formGroup]="form">
      <mat-form-field class="input-field" color="accent" appearance="outline">
        <mat-label>Quantità</mat-label>
        <input min="0" type="number" matInput formControlName="value">
      </mat-form-field>
      <mat-form-field class="input-field" color="accent" appearance="outline">
        <mat-label class="label-style">Taglio</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let tipo of tipiMonete" [value]="tipo">
            {{tipo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button class="button-money" mat-raised-button color="accent" (click)="add_subtract(form.value.type,form.value.value,'add')" [disabled]="!form.valid">
        <mat-icon>add</mat-icon> Somma
      </button>
      <button class="button-money" mat-raised-button color="accent" (click)="add_subtract(form.value.type,form.value.value,'remove')" [disabled]="!form.valid">
        <mat-icon>remove</mat-icon> Sottrai
      </button>
    </div>
  </div>
</div>
