<div class="container" *ngIf="characters.length > 0">
  <div class="card-container" *ngFor="let c of characters">
    <img class="immagine-personaggio" *ngIf="c.informazioniBase.urlImmaginePersonaggio != ''"
      referrerpolicy="no-referrer" [src]="c.informazioniBase.urlImmaginePersonaggio">
    <div class="character-info-container">
      <div class="character-name">
        {{c.informazioniBase.nomePersonaggio}}
      </div>
      <div class="character-info" *ngIf="c.informazioniBase.classi.length > 0">
        <div *ngFor="let c of c.informazioniBase.classi">
          {{c.nome}} {{c.livello}}
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="button-container">
      <button mat-raised-button color="accent" [routerLink]="'/edit/' + c.id">
        <mat-icon>edit</mat-icon>
        Modifica
      </button>
      <button mat-raised-button color="accent" [routerLink]="'/view/' + c.id">
        <mat-icon>visibility</mat-icon>
        Visualizza
      </button>
      <button mat-raised-button color="accent" disabled>
        <mat-icon>arrow_upward</mat-icon>
        LV+
      </button>
    </div>
  </div>
</div>

<div class="container" *ngIf="characters.length == 0">
  <div class="card-container">
    <div class="character-info-container">
      <div class="character-name">
        Nessun personaggio trovato
      </div>
    </div>
  </div>
</div>

<div class="sidenav-buttons" id="menu-button">
  <button class="step-button" mat-icon-button (click)="openSidenav()" matTooltip="Menu" matTooltipPosition="right">
      <mat-icon>{{menuIcon}}</mat-icon>
  </button>
</div>
