.card-container{
  display: flex;
  background-color: #fff;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 10px;
}

.character-name {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.character-name::first-letter {
  font-size: large;
}

.character-info {
  opacity: 0.5;
  text-transform: uppercase;
}

.button-container {
  display: flex;
  gap: 12px;
}
