.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.empty-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.empty-message {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: x-large;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  max-width: 60%;
  line-height: 1.3;
}

.empty-char-button {
  position: relative;
  width: fit-content;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-details {
  background-color: white;
  flex-direction: column;
  height: max-content;
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  max-width: 200px;
  border-radius: 12px;
}

.character-info-container {
  padding: 8px;
}

.character-name {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  // padding: 4px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.character-name::first-letter {
  font-size: large;
}

.character-class {
  // margin: 4px 0;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.character-info {
  opacity: 0.5;
  text-transform: uppercase;
  margin: 4px 0;
}

.immagine-personaggio {
  width: 196px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  max-width: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-body {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

// .button-container > button {
//   // flex-grow: 1;
//   width: 200px;
//   border-radius: 0;
// }

.second-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

// .second-buttons > button {
//   width: 200px;
//   border-radius: 0;
// }

.sidenav-buttons {
  position: fixed;
  bottom: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
}

.add-buttons {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  gap: 8px;
}

.step-button {
  background-color: #212121;
  color: white;
  border-radius: 0;
  padding: 8px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.step-button:disabled {
  background-color: #e0e0e0;
}

@media screen and (max-width: 500px) {
  .card-container {
    justify-content: center;
    // padding: 20px 0 70px 0;

  }

  .card-details {
    max-width: 200px;
  }

  .card-header {
    width: 100%;
  }

  .side-container {
    width: 100%;
  }

  .character-name {
    width: 170px;
    margin-left: 8px;
  }

  .character-info {
    margin-left: 8px;
  }

  .button-container {
    width: 100%;
  }

  .button-container > button {
    width: auto;
  }

  .second-buttons > button {
    flex-grow: 1;

  }
}