.card-container{
  display: flex;
  background-color: #fff;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 10px;
}

.character-name {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.character-name::first-letter {
  font-size: large;
}

.character-info {
  opacity: 0.5;
  text-transform: uppercase;
}

.button-container {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 500px) {
  .card-container {
    flex-direction: column;
  }

  .character-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .button-container {
    flex-direction: column;
  }

}
