@defer (when user) {
  <div class="main-container">
    <div class="card-container">
      @for (c of characters; track c.id) {
      <div class="card-details">
        <div class="card-header">
          <img class="immagine-personaggio" *ngIf="c.informazioniBase.urlImmaginePersonaggio != ''"
            referrerpolicy="no-referrer" [src]="c.informazioniBase.urlImmaginePersonaggio">
          <img class="immagine-personaggio" *ngIf="c.informazioniBase.urlImmaginePersonaggio == ''"
            src="./assets/images/hero-placeholder.png">
          <div class="side-container">
            <div class="character-info-container">
              <div class="character-name">
                {{c.informazioniBase.nomePersonaggio}}
              </div>
              <div class="character-info">
                @for (cl of c.informazioniBase.classi; track $index) {
                <div class="character-class">
                  {{cl.nome}} {{cl.livello}}° LV <span *ngIf="cl.sottoclasse != ''">, {{cl.sottoclasse}}</span>
                </div>
                } @empty {
                <div class="character-info">
                  Senza classe
                </div>
                }
              </div>
            </div>
  
          </div>
          <div class="card-body">
            <div class="button-container">
              @switch(c.status.statusCode){
              @case(0){
              <button as-btn [routerLink]="'/create/' + c.id">
                <div class="material-symbols-outlined">star</div>
                <div>Crea</div>
              </button>
              }
              @case(1){
              <button as-btn [routerLink]="'/create/' + c.id">
                <div class="material-symbols-outlined">edit</div>
                <div>Modifica</div>
              </button>
              }
              @case(2){
              <button as-btn [routerLink]="'/view/' + c.id">
                <div class="material-symbols-outlined material-no-fill">visibility</div>
                <div>Visualizza</div>
              </button>
              }
              }
              <div class="second-buttons">
                <button as-btn [routerLink]="'/levelup/' + c.id"
                  [disabled]="c.status.statusCode !== 2 || c.informazioniBase.livello == 20">
                  <div class="material-symbols-outlined">trending_up</div>
                  <div>LV+</div>
                </button>
                <button as-btn as-btn-warn (click)="deleteCharacter(c.id)">
                  <div class="material-symbols-outlined">delete</div>
                  <div>Elimina</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      } @empty {
      <div class="empty-card-container">
        <div class="empty-message">Qui puoi creare i tuoi Personaggi, premi il tasto qui sotto per iniziare.</div>
        <button as-btn (click)="createCharacter()">
          <div class="material-symbols-outlined">add</div> Nuovo personaggio
        </button>
      </div>
      }
    </div>
  
    <div as-bottom-buttons-container as-bottom-left id="menu-button">
      <button as-bottom-btn (click)="openSidenav()"
        (mouseover)="tooltip.showTooltip($event, 'up-right', true, 'menu-tooltip', true)"
        (mouseleave)="tooltip.hideTooltip()">
        <div class="material-symbols-outlined">menu</div>
      </button>
    </div>
    @if (user) {
      <div as-bottom-buttons-container as-bottom-right id="add-button">
        <button as-bottom-btn (click)="createCharacter()" [disabled]="user.charactersLimit == characters.length"
          (mouseover)="tooltip.showTooltip($event, 'up-left', true, 'add-tooltip', true)"
          (mouseleave)="tooltip.hideTooltip()">
          <div class="material-symbols-outlined">add</div>
        </button>
      </div>
    }
  </div>
}@error {
  <div class="error-container">
    <div class="error-message">Errore nel caricamento dell'utente. Riprovare.</div>
    <button as-btn (click)="reload()">
      <div class="material-symbols-outlined">refresh</div> <div>Ricarica</div>
    </button>
  </div>
}@loading {
  <div class="loading-container">
    <div as-pill>Caricamento in corso...</div>
  </div>
}


<app-description-tooltip id="add-tooltip" info="newChar" *ngIf="tooltip.show && tooltip.id === 'add-tooltip'"
  [ngStyle]="{'top.px': tooltip.tooltipPosition.top, 'left.px': tooltip.tooltipPosition.left}"></app-description-tooltip>
<app-description-tooltip id="menu-tooltip" info="openSidemenu" *ngIf="tooltip.show && tooltip.id === 'menu-tooltip'"
  [ngStyle]="{'top.px': tooltip.tooltipPosition.top, 'left.px': tooltip.tooltipPosition.left}"></app-description-tooltip>