@if (charData) {
<div as-section-title>{{charData.informazioniBase.nomePersonaggioEsteso !== '' ? charData.informazioniBase.nomePersonaggioEsteso : charData.informazioniBase.nomePersonaggio}}</div>
<div as-description-text>Questo è un riassunto della tua scheda personaggio, puoi visualizzare quella intera premendo il tasto infondo a questa sezione.</div>
<div as-subtitle>Informazioni</div>
<div as-pills-container>
    <div as-pill>{{charData.informazioniBase.razzaPersonalizzata !== '' || charData.informazioniBase.razza}}</div>
    @for(c of charData.informazioniBase.classi; track $index) {
        <div as-pill>
            {{c.nomePersonalizzato && c.nomePersonalizzato !== '' ? c.nomePersonalizzato : c.nome}} di {{c.livello}}° livello
        </div>
    }
    <div as-pill>{{charData.informazioniBase.allineamento}}</div>
    <div as-pill>{{charData.informazioniBase.background}} <span *ngIf="charData.informazioniBase.dettaglioBackground !== ''"> ({{charData.informazioniBase.dettaglioBackground}})</span></div>
</div>
<!-- <div as-subtitle>Caratteristiche</div>
<div class="skill-container">
    <div class="skill-line">
        <div class="skill">
            <div class="skill-title">FOR</div>
            <div class="skill-value">{{charData.caratteristiche.forza}}</div>
            <div class="skill-title">{{calcModifier(charData.caratteristiche.forza)}}</div>
        </div>
        <div class="skill">
            <div class="skill-title">DES</div>
            <div class="skill-value">{{charData.caratteristiche.destrezza}}</div>
            <div class="skill-title">{{calcModifier(charData.caratteristiche.destrezza)}}</div>
        </div>
        <div class="skill">
            <div class="skill-title">COS</div>
            <div class="skill-value">{{charData.caratteristiche.costituzione}}</div>
            <div class="skill-title">{{calcModifier(charData.caratteristiche.costituzione)}}</div>
        </div>
    </div>
    <div class="skill-line">
        <div class="skill">
            <div class="skill-title">INT</div>
            <div class="skill-value">{{charData.caratteristiche.intelligenza}}</div>
            <div class="skill-title">{{calcModifier(charData.caratteristiche.intelligenza)}}</div>
        </div>
        <div class="skill">
            <div class="skill-title">SAG</div>
            <div class="skill-value">{{charData.caratteristiche.saggezza}}</div>
            <div class="skill-title">{{calcModifier(charData.caratteristiche.saggezza)}}</div>
        </div>
        <div class="skill">
            <div class="skill-title">CAR</div>
            <div class="skill-value">{{charData.caratteristiche.carisma}}</div>
            <div class="skill-title">{{calcModifier(charData.caratteristiche.carisma)}}</div>
        </div>
    </div>
</div> -->
<!-- <div as-subtitle>Tiri salvezza</div>
<div class="proficiency-container">
    <div class="prof-label">Bonus Competenza</div>
    <div class="prof-label">{{charData.tiriSalvezza.bonusCompetenza > 0 ? "+ " + charData.tiriSalvezza.bonusCompetenza : charData.tiriSalvezza.bonusCompetenza}}</div>
</div>
<div class="skill-container">
    <div class="skill-line">
        <div class="skill" [ngStyle]="{'border-bottom' : charData.tiriSalvezza.forza ? '6px solid #212121' : ''}">
            <div class="skill-title">FOR</div>
            <div class="skill-value">{{calcSaveThrow(charData.caratteristiche.forza, 'forza')}}</div>
        </div>
        <div class="skill" [ngStyle]="{'border-bottom' : charData.tiriSalvezza.destrezza ? '6px solid #212121' : ''}">
            <div class="skill-title">DES</div>
            <div class="skill-value">{{calcSaveThrow(charData.caratteristiche.destrezza, 'destrezza')}}</div>
        </div>
        <div class="skill" [ngStyle]="{'border-bottom' : charData.tiriSalvezza.costituzione ? '6px solid #212121' : ''}">
            <div class="skill-title">COS</div>
            <div class="skill-value">{{calcSaveThrow(charData.caratteristiche.costituzione, 'costituzione')}}</div>
        </div>
    </div>
    <div class="skill-line">
        <div class="skill" [ngStyle]="{'border-bottom' : charData.tiriSalvezza.intelligenza ? '6px solid #212121' : ''}">
            <div class="skill-title">INT</div>
            <div class="skill-value">{{calcSaveThrow(charData.caratteristiche.intelligenza, 'intelligenza')}}</div>
        </div>
        <div class="skill" [ngStyle]="{'border-bottom' : charData.tiriSalvezza.saggezza ? '6px solid #212121' : ''}">
            <div class="skill-title">SAG</div>
            <div class="skill-value">{{calcSaveThrow(charData.caratteristiche.saggezza, 'saggezza')}}</div>
        </div>
        <div class="skill" [ngStyle]="{'border-bottom' : charData.tiriSalvezza.carisma ? '6px solid #212121' : ''}">
            <div class="skill-title">CAR</div>
            <div class="skill-value">{{calcSaveThrow(charData.caratteristiche.carisma, 'carisma')}}</div>
        </div>
    </div>
</div> -->
<app-money-controller [char]="charData"></app-money-controller>

<div as-subtitle>Abilità</div>
<div class="a-container">
    @for(a of abilitaData; track i; let i = $index) {
        <div class="a-line" [ngClass]="{'even-a': getEvenLine(i)}">
            <div class="a-label">{{a.name}} ({{a.short}})<span class="proficiency-identifier" *ngIf="a.value" matTooltip="Competente" matTooltipPosition="above">•</span></div>
            <div class="a-value">{{a.mod}}</div>
        </div>
    }
</div>
<!-- <div as-subtitle>Privilegi, tratti e talenti</div> -->
<!-- <div as-buttons-container>
    <button as-mini-circle-btn (click)="collapseAll()">
        <div class="material-symbols-outlined">unfold_less</div>
    </button>
</div> -->
<app-privilegi-tratti-tab-view [character]="charData"></app-privilegi-tratti-tab-view>
<!-- <app-equipaggiamento-tab-view [character]="charData"></app-equipaggiamento-tab-view> -->
@if (charData.magia.trucchettiIncantesimi.length > 0) {
    <app-trucchetti-incantesimi-tab-view [character]="charData"></app-trucchetti-incantesimi-tab-view>
}
@if (charData.attacchi.length > 0) {
    <app-attacchi-tab-view [attacchi]="charData.attacchi"></app-attacchi-tab-view>
}


}

<div as-buttons-container>
    <button as-btn (click)="navigateToChar(charData.id)">
        <div class="material-symbols-outlined">open_in_new</div> <div>Apri scheda</div>
    </button>
</div>