<ng-container *ngIf="groupInfo">
    <div class="step-form" [formGroup]="groupInfo">

        <div class="section-title">{{groupInfo.value.nomePersonaggio}}</div>

        <div class="description-text">A seconda del metodo che tu e il tuo gruppo state usando per "livellare" i
            personaggi capiterà ad un certo punto di fare questo salto. Quando un Personaggio acquisisce un nuovo
            livello puoi aggiungere tutto quello che il Manuale del Giocatore ti assegna. Chiedi
            aiuto al Master se non sai da che parte cominciare.</div>

        <div class="section-title">Classe/i</div>
        <div class="description-text">Solo alcune Classi hanno una <strong>Sottoclasse</strong> al 1° Livello quindi è
            probabile che lascerai quel campo vuoto al momento.</div>

        <details>
            <summary class="summary-label">Multiclasse</summary>
            <div class="description-text summary-text">
                L'avanzamento <strong>Multiclasse</strong> consente a un personaggio di guadagnare livelli in più
                classi.
                In questo modo, è possibile combinare le abilità di
                quelle classi per realizzare un tipo di personaggio
                che potrebbe non essere rappresentato a dovere
                dalle opzioni di classe standard.
                Grazie a questa regola, un personaggio può
                acquisire un livello in una nuova classe ogni volta
                che avanza di livello, anziché guadagnare un livello
                nella sua classe attuale. I livelli in tutte le sue classi,
                sommati, determinano il suo livello del personaggio.
                Ad esempio, con tre livelli da mago e due da
                guerriero, si ottiene un personaggio di 5° livello.
                Man mano che un personaggio avanza di livello,
                può continuare a concentrarsi principalmente sulla
                propria classe originale e acquisire soltanto pochi
                livelli in un'altra classe, oppure può cambiare rotta
                definitivamente, senza mai voltarsi a guardare la
                classe che si è lasciato alle spalle. Potrebbe perfino
                iniziare ad avanzare di livello in una terza o una
                quarta classe. Rispetto a un personaggio monoclasse,
                rinuncerà a certe specializzazioni, ma guadagnerà in
                versatilità. Per maggiori informazioni sulla Multiclasse vai a pagina PHB 163.
            </div>
        </details>

        <!-- <ng-container class="" formArrayName="classi">
            <ng-container *ngFor="let c of classi.controls; let i = index;">
                <div class="step-form" [formGroupName]="i">
                    <div class="line-container">
                        <mat-form-field class="line-input" color="accent" appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput formControlName="nome">
                            <mat-icon class="suffix-icon" matSuffix matTooltip="PHB 45-113, TCoE 9"
                                matTooltipPosition="left">auto_stories</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="line-input" color="accent" appearance="outline">
                            <mat-label>Livello</mat-label>
                            <input type="number" matInput formControlName="livello" min="1" max="20" (change)="onLevelChange($event)">
                        </mat-form-field>
                        <mat-form-field class="line-input" color="accent" appearance="outline">
                            <mat-label>Sottoclasse</mat-label>
                            <input matInput formControlName="sottoclasse">
                            <mat-icon class="suffix-icon" matSuffix
                                matTooltip="PHB 45-113, XGoE 8-59, TCoE 14-78, FToD 12-13"
                                matTooltipPosition="left">auto_stories</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="delete-button">
                        <button mat-raised-button color="accent" (click)="deleteClasse(i)">
                            <mat-icon>delete</mat-icon> Rimuovi
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container> -->

        <ng-container formArrayName="classi">
            <ng-container class="classe-container" *ngFor="let c of classi.controls; let i = index;" >
              <div class="step-form" [formGroupName]="i">
                <div class="line-container">
      
                  <mat-form-field class="line-input" color="accent" appearance="outline" *ngIf="c.get('nome').value === '' || c.get('nome').value !== 'Altro'">
                    <mat-label>Nome</mat-label>
                    <mat-select formControlName="nome">
                      <mat-option value="Barbaro">Barbaro</mat-option>
                      <mat-option value="Bardo">Bardo</mat-option>
                      <mat-option value="Chierico">Chierico</mat-option>
                      <mat-option value="Druido">Druido</mat-option>
                      <mat-option value="Guerriero">Guerriero</mat-option>
                      <mat-option value="Ladro">Ladro</mat-option>
                      <mat-option value="Mago">Mago</mat-option>
                      <mat-option value="Monaco">Monaco</mat-option>
                      <mat-option value="Paladino">Paladino</mat-option>
                      <mat-option value="Ranger">Ranger</mat-option>
                      <mat-option value="Stregone">Stregone</mat-option>
                      <mat-option value="Warlock">Warlock</mat-option>
                      <mat-option value="Altro">Altro (specificare)</mat-option>
                    </mat-select>
                  </mat-form-field>
      
                  <mat-form-field class="line-input" color="accent" appearance="outline" *ngIf="c.get('nome').value === 'Altro'">
                    <mat-label class="input-field">Nome personalizzato</mat-label>
                    <input matInput formControlName="nomePersonalizzato">
                  </mat-form-field>
      
                  <!-- <mat-form-field class="line-input" color="accent" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome">
                  </mat-form-field> -->
                  <mat-form-field class="line-input" color="accent" appearance="outline">
                    <mat-label>Livello</mat-label>
                    <input type="number" matInput formControlName="livello" min="1" max="20" (change)="onLevelChange($event)">
                  </mat-form-field>
                  <mat-form-field class="line-input" color="accent" appearance="outline">
                    <mat-label>Sottoclasse</mat-label>
                    <input matInput formControlName="sottoclasse">
                  </mat-form-field>
                </div>
                <div class="delete-button">
                  <button mat-raised-button color="accent" (click)="deleteClasse(i)">
                    <mat-icon>delete</mat-icon> Rimuovi
                  </button>
                </div>
              </div>
            </ng-container>
          </ng-container>
          
        <div class="button-container">
            <button mat-raised-button color="accent" (click)="addClasse()" [disabled]="totalLevel >= 20">
                <mat-icon>add</mat-icon>
                Aggiungi nuova
            </button>
        </div>

        <div class="section-title">Risorse aggiuntive</div>

        <div class="description-text">Alcune Classi possono assegnare (solitamente a livelli superiori al 1°) delle
            <strong>Risorse Aggiuntive</strong>, come punti o dadi, da spendere per utilizzare delle capacità speciali.
            È quindi probabile
            che lascerai questo campo vuoto al momento.
        </div>

        <ng-container class="" formArrayName="risorseAggiuntive">
            <ng-container *ngFor="let r of risorseAggiuntive.controls; let i = index;">
                <div class="step-form" [formGroupName]="i">
                    <div class="line-container">
                        <mat-form-field class="line-input" color="accent" appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput formControlName="nome">
                        </mat-form-field>
                        <mat-form-field class="line-input" color="accent" appearance="outline">
                            <mat-label>Valore massimo</mat-label>
                            <input #valoreRisorsa type="number" matInput formControlName="valoreMassimo" min="1"
                                (change)="setValoreAttuale(i, valoreRisorsa.value)">
                        </mat-form-field>
                        <mat-form-field class="line-input" color="accent" appearance="outline">
                            <mat-label>Colore</mat-label>
                            <mat-select formControlName="color">
                                <mat-option value="red"><span style="color: red;"> Rosso</span></mat-option>
                                <mat-option value="blue"> <span style="color: blue;">Blu</span></mat-option>
                                <mat-option value="lightblue"> <span
                                        style="color: lightblue;">Azzurro</span></mat-option>
                                <mat-option value="green"> <span style="color: green;">Verde</span></mat-option>
                                <mat-option value="limegreen"> <span style="color: limegreen;">Lime</span></mat-option>
                                <mat-option value="orange"> <span style="color: orange;">Arancione</span></mat-option>
                                <mat-option value="purple"> <span style="color: purple;">Viola</span></mat-option>
                                <mat-option value="palevioletred"> <span
                                        style="color: palevioletred;">Rosa</span></mat-option>
                                <mat-option value="brown"> <span style="color: brown;">Marrone</span></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="delete-button">
                        <button mat-raised-button color="accent" (click)="deleteRisorsa(i)">
                            <mat-icon>delete</mat-icon> Rimuovi
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <div class="button-container">
            <button mat-raised-button color="accent" (click)="addRisorsa()">
                <mat-icon>add</mat-icon>
                Aggiungi nuova
            </button>
        </div>
    </div>
</ng-container>