<ng-container *ngIf="groupInfo">
    <div class="step-form" [formGroup]="groupInfo">

        <div class="section-title">{{groupInfo.value.nomePersonaggio}}</div>

        <div class="description-text">Quando accumuli un certo quantitativo di esperienza (o quando raggiungi un
            obbiettivo specifico) il Personaggio potrà aumentare il suo Livello. Con l'aiuto del Master e del Manuale
            del Giocatore aggiungi tutte le novità dei livelli superiori al primo.</div>

        <div class="section-title">Classe/i</div>

        <details>
            <summary class="summary-label">Multiclasse</summary>
            <div class="description-text summary-text">Al 1° Livello un Personaggio può avere una singola
                <strong>Classe</strong> tuttavia
                progredendo con l'esperienza sarà possibile creare Personaggi con una <strong>Multiclasse</strong>. Le
                opzioni di
                Multiclasse consentono a un Personaggio di acquisire livelli in più classi. Così facendo, un Personaggio
                è in
                grado di mescolare le capacità di quelle classi per dare vita a un concetto di Personaggio che forse non
                era
                rappresentato a dovere dalle opzioni delle classi standard.
                Grazie a queste regole, un Personaggio ha la possibilità di acquisire livelli in una nuova Classe ogni
                volta che
                avanza di livello, anziché acquisire un livello nella sua Classe attuale. I livelli in tutte le sue
                classi,
                sommati assieme, determinano il suo livello del Personaggio. Per maggiori informazioni sulla Multiclasse
                vai a
                pagina PHB 163.
            </div>
        </details>

        <ng-container class="" formArrayName="classi">
            <ng-container *ngFor="let c of classi.controls; let i = index;">
                <div class="step-form" [formGroupName]="i">
                    <div class="line-container">
                        <mat-form-field class="line-input" color="accent" appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput formControlName="nome">
                            <mat-icon class="suffix-icon" matSuffix matTooltip="PHB 45-113, TCoE 9"
                                matTooltipPosition="left">auto_stories</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="line-input" color="accent" appearance="outline">
                            <mat-label>Livello</mat-label>
                            <input type="number" matInput formControlName="livello" min="1" max="20">
                        </mat-form-field>
                        <mat-form-field class="line-input" color="accent" appearance="outline">
                            <mat-label>Sottoclasse</mat-label>
                            <input matInput formControlName="sottoclasse">
                            <mat-icon class="suffix-icon" matSuffix
                                matTooltip="PHB 45-113, XGoE 8-59, TCoE 14-78, FToD 12-13"
                                matTooltipPosition="left">auto_stories</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="delete-button">
                        <button mat-raised-button color="accent" (click)="deleteClasse(i)">
                            <mat-icon>delete</mat-icon> Rimuovi
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <div class="button-container">
            <button mat-raised-button color="accent" (click)="addClasse()">
                <mat-icon>add</mat-icon>
                Aggiungi nuova
            </button>
        </div>

        <div class="description-text">Solo alcune Classi hanno una <strong>Sottoclasse</strong> al 1° Livello quindi è
            probabile che lascerai quel campo vuoto al momento.</div>

        <div class="section-title">Risorse aggiuntive</div>

        <div class="description-text">Alcune Classi possono assegnare (solitamente a livelli superiori al 1°) delle
            <strong>Risorse Aggiuntive</strong>, come punti o dadi, da spendere per utilizzare delle capacità speciali.
            È quindi probabile
            che lascerai questo campo vuoto al momento.
        </div>

        <ng-container class="" formArrayName="risorseAggiuntive">
            <ng-container *ngFor="let r of risorseAggiuntive.controls; let i = index;">
                <div class="step-form" [formGroupName]="i">
                    <div class="line-container">
                        <mat-form-field class="line-input" color="accent" appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput formControlName="nome">
                        </mat-form-field>
                        <mat-form-field class="line-input" color="accent" appearance="outline">
                            <mat-label>Valore massimo</mat-label>
                            <input #valoreRisorsa type="number" matInput formControlName="valoreMassimo" min="1"
                                (change)="setValoreAttuale(i, valoreRisorsa.value)">
                        </mat-form-field>
                        <mat-form-field class="line-input" color="accent" appearance="outline">
                            <mat-label>Colore</mat-label>
                            <mat-select formControlName="color">
                              <mat-option value="red"><span style="color: red;"> Rosso</span></mat-option>
                              <mat-option value="blue"> <span style="color: blue;">Blu</span></mat-option>
                              <mat-option value="lightblue"> <span style="color: lightblue;">Azzurro</span></mat-option>
                              <mat-option value="green"> <span style="color: green;">Verde</span></mat-option>
                              <mat-option value="limegreen"> <span style="color: limegreen;">Lime</span></mat-option>
                              <mat-option value="orange"> <span style="color: orange;">Arancione</span></mat-option>
                              <mat-option value="purple"> <span style="color: purple;">Viola</span></mat-option>
                              <mat-option value="palevioletred"> <span style="color: palevioletred;">Rosa</span></mat-option>
                              <mat-option value="brown"> <span style="color: brown;">Marrone</span></mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>

                    <div class="delete-button">
                        <button mat-raised-button color="accent" (click)="deleteRisorsa(i)">
                            <mat-icon>delete</mat-icon> Rimuovi
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <div class="button-container">
            <button mat-raised-button color="accent" (click)="addRisorsa()">
                <mat-icon>add</mat-icon>
                Aggiungi nuova
            </button>
        </div>
    </div>
</ng-container>