<ng-container *ngIf=" group2">
  <div class="step-form" [formGroup]="group2">
    <div class="section-title">Denaro</div>

    <app-monete></app-monete>
  </div>
</ng-container>

<div class="section-title">Equipaggiamento</div>

<ng-container *ngIf="group">
  <div class="step-form" [formGroup]="group">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Equipaggiamento</mat-label>
      <textarea matInput formControlName="equipaggiamento" rows="10"></textarea>
    </mat-form-field>
  </div>
</ng-container>