<ng-container *ngIf=" denaroGroup">
  <div class="step-form" [formGroup]="denaroGroup">
    <div as-section-title>Denaro</div>

    <app-money [denaro]="denaroGroup"></app-money>
  </div>
</ng-container>

<div as-section-title>Equipaggiamento</div>

<div class="description-text">Inserisci uno a uno gli oggetti del tuo inventario, puoi farlo anche successivamente dopo aver completato il tuo personaggio.</div>

<app-inventory [inventory]="equipaggiamentoGroup"></app-inventory>

<!-- <ng-container *ngIf="group">
  <div class="step-form" [formGroup]="group">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Equipaggiamento</mat-label>
      <textarea matInput formControlName="equipaggiamento" rows="10"></textarea>
    </mat-form-field>
  </div>
</ng-container> -->