<div mat-dialog-title class="dialog-title">Modifica storia</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div as-description-text>
        Usa questo strumento per correggere errori o incongruenze della storia del tuo personaggio. Confrontati sempre
        con il DM in caso di modifiche importanti al tuo background.
    </div>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Storia Personaggio</mat-label>
        <textarea matInput formControlName="story" rows="5"></textarea>
    </mat-form-field>
</div>
<div as-buttons-container mat-dialog-actions align="end">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div> <div>Annulla</div>
    </button>
    <button as-btn [disabled]="!form.dirty" (click)="confirm()">
        <div class="material-symbols-outlined">check</div> <div>Conferma</div>
    </button>
</div>