.main {
    min-height: 100%;
    width: 100%;
    display: flex;
}

.first-section{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.second-section{
  width: 100%;
  margin: 8px;
}

.blurred-background {
  background-image: url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

@media screen and (max-width: 500px) {
  .main {
    flex-direction: column;
  }

  .first-section {
    width: 100%;
  }

  .second-section {
    width: auto;
    // width: 100%;
  }
}
