.step-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .input-field {
    width: 100%;
  }
  
  .delete-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
  }

  .section-title {
    margin-bottom: 20px;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: black, $alpha: 0.3);
}

.description-text {
  font-size: small;
  opacity: 0.5;
  font-style: italic;
  margin-bottom: 20px;
}