.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 80%;
    padding: 16px;
    max-width: 1200px;
}

.iPad-padding {
    padding: 32px 16px; 
}

.header-container {
    background-color: rgba(#212121, 0.8);
    padding: 20px;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    max-width: 1200px;
    box-sizing: border-box;
}

.header-title {
    font-family: 'Cinzel', serif;
    font-size: large;
}

.header-subtitle {
    font-size: small;
    font-style: italic;
}

.view-container {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 40%;
    gap: 12px;

    &>.editor-container,
    .preview-container {
        padding: 20px;
        overflow: auto;
    }
}

.editor-container {
    background-color: whitesmoke;
    box-sizing: border-box;
}

.preview-container {
    background-color: whitesmoke;
    border-radius: 12px;
    box-sizing: border-box;
}

.chapter-summary {
    display: flex;
    align-items: center;
    gap: 12px;
}

.chapter-number {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}

.chapter-container {
    padding: 8px;
}

.icon-bookmarked>.material-symbols-outlined {
    color: #FFD700;
}

.element-type {
    font-size: x-small;
    opacity: 0.7;
}

.element-warning {
    color: crimson;
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 4px;

    &>.material-symbols-outlined {
        font-size: x-small;
    }
}

.element-simple-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.element-descriptive-text {
    padding: 4px;
}

.element-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 12px;
}

.element-list-item {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.element-table-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2px;
}

.table-header-left, .table-header-right {
    font-weight: bold;
}

.table-container {
    margin-bottom: 8px;
}

.element-table-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 2px;
}

.even-row {
    background-color: rgba(0, 0, 0, 0.05);
}

.element-organization-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
}

.element-organization {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #212121;
    max-height: 32px;

    &>.organization-item-image{
        width: 32px;
        height: 32px;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .view-container {
        display: flex;
        flex-direction: column;
    }

    .editor-container,
    .preview-container {
        width: 100%;
        height: 100%;
    }
}