mat-form-field {
    // width: 100% !important;
    margin-bottom: 12px;
}

.line-container {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.line-input {
    flex-grow: 1;
    min-width: 30%;
}

.addon-group {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
    width: 100%;
}

.addon-input {
    flex-grow: 1;
    margin-bottom: 0;
}