<div as-section-title>Incontro</div>
<div as-description-text>
    Quando è in corso un Incontro puoi vedere in questa sezione l'ordine di azione dei personaggi e delle creature
    coinvolte.
</div>
@if (isOwnerData) {
<div as-mini-buttons-container>
    <button as-mini-circle-btn as-btn-warn (click)="clearEncounter()" [disabled]="encounterData.length <= 0">
        <div class="material-symbols-outlined">delete</div>
    </button>
    <button as-mini-circle-btn (click)="openNewEncounterDialog()">
        <div class="material-symbols-outlined">add</div>
    </button>
</div>
}
@if (encounterData && encounterData.length > 0) {
<div class="encounter-container">
    @for(e of encounterData; track e.id; let i = $index) {
    <div class="encounter-card">
        <div class="initiative-label" [ngStyle]="{'opacity':  e.type === 'enemy' && e.HP <= 0 ? '0.5' : '1' }">{{i+1}}
        </div>
        <img [src]="e.imgUrl" [ngClass]="{'defeated-enemy': e.type === 'enemy' && e.HP <= 0}">
        <div class="encounter-content">
            <div class="name-label">{{e.name}}</div>
            @if(e.type === 'enemy') {
            @if (isOwnerData) {
            <div class="enemy-health-container">
                <!-- <div class="health-situation">{{getHealthSituationString(e.HP, e.HPmax)}}</div> -->
                <div class="material-symbols-outlined">favorite</div> <span>{{e.HP}} / {{e.HPmax}}</span>
                <button as-mini-circle-light-btn (click)="HPaction('remove', i)">
                    <div class="material-symbols-outlined">remove</div>
                </button>
                <button as-mini-circle-light-btn (click)="HPaction('add', i)">
                    <div class="material-symbols-outlined">add</div>
                </button>
                <div class="counter_span" [id]="'counter_' + i">12</div>
            </div>
            } @else {
            <div class="health-situation">{{getHealthSituationString(e.HP, e.HPmax)}}</div>
            }

            }
        </div>
    </div>
    }
    @if (isOwnerData) {
        <app-npcs [npcs]="[]" [organizations]="[]" [addons]="enemiesSelected()" [tab]="false" [dm]="true" [isCampaignOwner]="isOwnerData" listTitle="Schede dell'incontro"></app-npcs>
    }
</div>

} @else {
<div as-description-text>
    Non esiste un Incontro attivo in corso.
</div>
}