<ng-container *ngIf="group">
  <div class="step-form" [formGroup]="group">
    <section class="checkbox-section">
      <mat-checkbox formControlName="acrobazia">Acrobazia (Des)</mat-checkbox>
      <mat-checkbox formControlName="addestrareAnimali">Addestrare animali (Sag)</mat-checkbox>
      <mat-checkbox formControlName="arcano">Arcano (Int)</mat-checkbox>
      <mat-checkbox formControlName="atletica">Atletica (For)</mat-checkbox>
      <mat-checkbox formControlName="furtivita">Furtività (Des)</mat-checkbox>
      <mat-checkbox formControlName="indagare">Indagare (Int)</mat-checkbox>
      <mat-checkbox formControlName="inganno">Inganno (Car)</mat-checkbox>
      <mat-checkbox formControlName="intimidire">Intimidire (Car)</mat-checkbox>
      <mat-checkbox formControlName="intrattenere">Intrattenere (Car)</mat-checkbox>
      <mat-checkbox formControlName="intuizione">Intuizione (Sag)</mat-checkbox>
      <mat-checkbox formControlName="medicina">Medicina (Sag)</mat-checkbox>
      <mat-checkbox formControlName="natura">Natura (Int)</mat-checkbox>
      <mat-checkbox formControlName="percezione">Percezione (Sag)</mat-checkbox>
      <mat-checkbox formControlName="persuasione">Persuasione (Car)</mat-checkbox>
      <mat-checkbox formControlName="rapiditaDiMano">Rapidità di mano (Des)</mat-checkbox>
      <mat-checkbox formControlName="religione">Religione (Int)</mat-checkbox>
      <mat-checkbox formControlName="sopravvivenza">Sopravvivenza (Sag)</mat-checkbox>
      <mat-checkbox formControlName="storia">Storia (Int)</mat-checkbox>
    </section>
  </div>
</ng-container>
