<ng-container *ngIf="group">
    <div class="step-form" [formGroup]="group">
        <div class="description-text">
            Verifica sul Manuale e con il Master quando avviene l'<strong>aumento del Bonus di Competenza</strong>
            nel capitolo dedicato alla Classe del tuo Personaggio.
        </div>
        <mat-form-field color="accent" appearance="outline">
            <mat-label class="input-field">Bonus Competenza</mat-label>
            <input class="" type="number" matInput formControlName="bonusCompetenza" min="2" max="6">
        </mat-form-field>
    </div>
</ng-container>