.step-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field {
  width: 100%;
}

button {
  border-radius: 0;
}

mat-form-field {
  width: 100% !important;
  margin-bottom: 12px;
}

details {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;
  background-color: whitesmoke;
}

details[open] {
  display: flex;
  flex-direction: column;
}

details[open] summary {
  margin-bottom: 4px;
}

summary {
  font-weight: bold;
  text-transform: uppercase;
}

.description-text {
  font-size: small;
  opacity: 0.5;
  font-style: italic;
  margin-bottom: 20px;
  text-align: justify;
}