<!-- <ng-container *ngIf="group">
  <div class="step-form" [formGroup]="group">
    <label for="stor">Storia del personaggio</label>
    <textarea name="sto" id="sto" formControlName="storiaPersonaggio"></textarea>
    <label for="all">Alleati e Organizzazioni</label>
    <textarea name="all" id="all" formControlName="alleatiOrganizzazioni"></textarea>
    <label for="prev">Trattti e privilegi aggiuntivi</label>
    <textarea name="prev" id="prev" formControlName="trattiPrivilegiAggiuntivi"></textarea>
    <label for="tes">tesoro</label>
    <textarea name="tes" id="tes" formControlName="tesoro"></textarea>
  </div>
</ng-container> -->

<ng-container *ngIf="group">
  <div class="step-form" [formGroup]="group">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Storia del Personaggio</mat-label>
      <textarea matInput formControlName="storiaPersonaggio" rows="5"></textarea>
    </mat-form-field>
  </div>

  <div class="step-form" [formGroup]="group">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Alleati e Organizzazioni</mat-label>
      <textarea matInput formControlName="alleatiOrganizzazioni" rows="5"></textarea>
    </mat-form-field>
  </div>

  <details>
    <summary>Tesoro, Tratti e privilegi aggiunti</summary>
    <div class="description-text">
      Nella scheda del personaggio assieme alla Storia e alle Alleanze si trovano altre due sezioni nominate <strong>
        Tratti e privilegi aggiuntivi</strong> e <strong>Tesoro</strong>. Se quindi stai trasferendo qui sopra le
      informazioni da una scheda cartacea pre compilata potresti avere dei dubbi su dove inserire quei dati: inserisci i
      vari <strong>Tesori</strong> come oggetti nella sezione 7 inventario e tutti i <strong>Privilegi e Tratti
        Aggiuntivi</strong> come elementi della sezione "Privilegi e Tratti", la numero 8.
    </div>
  </details>

  <!-- <div class="step-form" [formGroup]="group">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Tratti e Privilegi Aggiuntivi</mat-label>
      <textarea matInput formControlName="trattiPrivilegiAggiuntivi" rows="5"></textarea>
    </mat-form-field>
  </div>

  <div class="step-form" [formGroup]="group">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Tesoro</mat-label>
      <textarea matInput formControlName="tesoro" rows="5"></textarea>
    </mat-form-field>
  </div> -->
</ng-container>