.dialog-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dialog-content {
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.description {
  margin-bottom: 8px;
  text-align: justify;
}

.custom-form-field {
  width: 100%;
}

.description-text {
  text-align: justify;
  opacity: 0.7;
  font-size: small;
  margin-bottom: 20px;
}

mat-form-field {
  // width: 100% !important;
  margin-bottom: 12px;
}

.line-container {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.line-input {
  flex-grow: 1;
  min-width: 30%;
}