<div mat-dialog-title class="dialog-title">{{data.entry ? 'Modifica' : 'Nuova'}} Annotazione</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <!-- <div class="description">
        Inserisci un titolo e una descrizione per il resoconto della sessione di gioco. Ricorda che non puoi decidere di rendere invisibile un resoconto, essi vengono sempre mostrati a tutti dal momento in cui vengono creati.
    </div> -->
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Titolo</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Descrizione</mat-label>
        <textarea matInput formControlName="content" rows="5"></textarea>
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Tag</mat-label>
        <input matInput formControlName="tag">
    </mat-form-field>
    <div class="description-text">Usa il <em>tag</em> per creare delle collezioni di annotazioni. Queste verranno raggruppate nell'omonima sezione sulla Vista della Campagna.</div>
    <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Colore sfondo</mat-label>
        <input matInput type="color" class="color-picker" formControlName="backgroundColor">
    </mat-form-field>
    <mat-form-field class="custom-form-field" appearance="outline">
        <mat-label>Colore testo</mat-label>
        <input matInput type="color" class="color-picker" formControlName="contrastColor">
    </mat-form-field>
    <!-- <mat-checkbox color="accent" formControlName="visible">Visibile</mat-checkbox> -->
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>
        <mat-icon>close</mat-icon> Annulla
    </button>
    <button mat-raised-button color="warn" *ngIf="data.entry" (click)="delete()">
        <mat-icon>delete</mat-icon> Elimina
    </button>
    <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="confirm()">
        <mat-icon>{{data.entry ? 'check' : 'add'}}</mat-icon> {{data.entry ? 'Modifica' : 'Aggiungi'}}
    </button>
</div>