.dialog-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dialog-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.custom-form-field {
  flex-grow: 1;
  margin-top: 20px;
}

button {
  border-radius: 0;
}
