<ng-container *ngIf="group">
  <div class="" [formGroup]="group">
    <div class="">
      <mat-form-field color="primary" class="" >
        <mat-label class="">Insert player name</mat-label>
        <input class="" matInput formControlName="name" >
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field color="accent" class="" >
        <mat-label class="">Insert character name</mat-label>
        <input class="" matInput formControlName="characterName" >
      </mat-form-field>
    </div>
  </div>
</ng-container>
