<ng-container *ngIf="groupInfo && groupCaratteristiche">
  <div class="step-form" [formGroup]="groupInfo">
    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Nome giocatore</mat-label>
      <input class="" matInput formControlName="nomeGiocatore">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Nome personaggio</mat-label>
      <input class="" matInput formControlName="nomePersonaggio">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Classe</mat-label>
      <input class="" matInput formControlName="classe">
      <mat-icon class="suffix-icon" matSuffix 
      matTooltip="Da PHB 45">auto_stories</mat-icon>
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Specializzazione</mat-label>
      <input class="" matInput formControlName="specializzazione">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Livello</mat-label>
      <input class="" type="number" matInput formControlName="livello">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Background</mat-label>
      <input class="" matInput formControlName="background">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Razza</mat-label>
      <input class="" matInput formControlName="razza">
      <!-- <span matTextSuffix class="suffix">
        <mat-icon>auto_stories</mat-icon> PHB 17
      </span> -->
      <mat-icon class="suffix-icon" matSuffix 
      matTooltip="Da PHB 17">auto_stories</mat-icon>
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Sottorazza</mat-label>
      <input class="" matInput formControlName="sottorazza">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Allineamento</mat-label>
      <input class="" matInput formControlName="allineamento">
      <!-- <span matTextSuffix class="suffix">
        <mat-icon>auto_stories</mat-icon> PHB 122
      </span> -->
      <mat-icon class="suffix-icon" matSuffix 
      matTooltip="PHB 122">auto_stories</mat-icon>
    </mat-form-field>
  </div>

  <div class="section-title">Caratteristiche fisiche</div>

  <div class="step-form" [formGroup]="groupCaratteristiche">
    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Eta personaggio</mat-label>
      <input class="" type="number" matInput formControlName="eta">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Altezza</mat-label>
      <input class="" type="number" matInput formControlName="altezza">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Peso</mat-label>
      <input class="" type="number" matInput formControlName="peso">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Colore occhi</mat-label>
      <input class="" matInput formControlName="occhi">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Carnagione</mat-label>
      <input class="" matInput formControlName="carnagione">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label class="input-field">Capelli</mat-label>
      <input class="" matInput formControlName="capelli">
    </mat-form-field>
  </div>

  <div class="section-title">Immagine personaggio</div>

  <div class="step-form step-form-buttons" [formGroup]="groupInfo">
    <img *ngIf="groupInfo.value.urlImmaginePersonaggio !== ''" class="image-preview" [src]="groupInfo.value!.urlImmaginePersonaggio">
    <button class="image-button" mat-raised-button color="accent" (click)="file.click()">
      <mat-icon>add_a_photo</mat-icon>
      <span>Carica immagine</span>
    </button>
    <button class="image-button" mat-raised-button color="accent" [disabled]="groupInfo.value!.urlImmaginePersonaggio === ''" (click)="deletePic(groupInfo.value!.nomeImmaginePersonaggio)">
      <mat-icon>delete</mat-icon>
      <span>Rimuovi immagine</span>
    </button>
      <input #file id="file" hidden class="" type="file" accept="image" (change)="onPicSelected($event)">
  </div>

</ng-container>
