.step-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .input-field {
    width: 100%;
  }
  
  .description-text {
    font-size: small;
    opacity: 0.5;
    font-style: italic;
    margin-bottom: 20px;
    text-align: justify;
  }

  button {
    border-radius: 0;
  }