.dialog-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dialog-content {
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;
}

.form-container {
    // margin: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &>mat-form-field {
        flex-grow: 1;
    }
} 

.line-container {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;

    &>.line-input {
        flex-grow: 1;
    }
}

.set-line {
    margin-bottom: 8px;
}

.new-set-button {
    justify-content: flex-start;
}

.checkbox-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 4px;
    flex-wrap: wrap;
}