:host {
    position: fixed;
    background-color: #fff;
    // border: 1px solid #ccc;
    // padding: 12px;
    z-index: 4000;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    width: 280px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    animation: slideIn 0.3s forwards;
    pointer-events: none;
    // box-sizing: border-box;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        // transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.tooltip-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    box-sizing: border-box;
    background-color: rgba(#212121, 0.9);
    color: whitesmoke;
    min-height: 32px;
    // box-shadow: inset 0 0 15px 5px rgba(255, 0, 0, 0.5);

    &>img {
        width: 32px;
        height: 32px;
    }
}

.tooltip-title {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    width: 100%;

    &::first-letter {
        font-size: 1.3rem;
    }
}

.tooltip-content {
    padding: 12px;
    box-sizing: border-box;
    background-color: whitesmoke;
    color: #212121;
    font-size: 0.8rem;
    border-left: 1px solid #212121;
    border-right: 1px solid #212121;
    border-bottom: 1px solid #212121;
    display: flex;
    flex-direction: column;
    gap: 4px;
}