<div class="home-container" *ngIf="campaignData">
    <div class="header-container">
        <div class="header-title">
            {{campaignData.title}}
        </div>
        <div class="header-info">
            <!-- <div>Stato: {{campaignData.status.statusMessage}}</div> -->
            <div>Capitolo {{campaignData.archive.length +1}}</div>
            <div>Sessioni {{sessionNumber}}</div>
        </div>
    </div>
    <div class="view-tabs">
        <div class="status-container">
            <app-campaign-char-list [characters]="charData"></app-campaign-char-list>
        </div>
        <mat-tab-group color="accent">
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="./assets/campaign-tabs-icon/story.svg" class="label-icon" matTooltipPosition="below" matTooltip="Storia">
                </ng-template>
                <app-campaign-story-tab [description]="campaignData.description" [campaign]="campaignData" [sessionNumber]="sessionNumber" [isOwner]="isOwner"></app-campaign-story-tab>
            </mat-tab>
            <!-- <mat-tab disabled *ngIf="charData.length > 0 && partecipantIndex === -1">
                <ng-template mat-tab-label>
                    <img class="player-tab" [src]="charData[0].informazioniBase.urlImmaginePersonaggio" matTooltipPosition="below" [matTooltip]="charData[0].informazioniBase.nomePersonaggioEsteso !== '' || charData[0].informazioniBase.nomePersonaggio">
                </ng-template>
            </mat-tab> -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="./assets/campaign-tabs-icon/quests.svg" class="label-icon" matTooltipPosition="below" matTooltip="Missioni">
                </ng-template>
                <app-campaign-quests-tab [campaign]="campaignData" [isOwner]="isOwner"></app-campaign-quests-tab>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="./assets/campaign-tabs-icon/rules.svg" class="label-icon" matTooltipPosition="below" matTooltip="Annotazioni">
                </ng-template>
                <app-campaign-entries-tab [entries]="campaignData.entries" [isOwner]="isOwner"></app-campaign-entries-tab>
            </mat-tab>
            <mat-tab disabled>
                <ng-template mat-tab-label>
                    <img src="./assets/campaign-tabs-icon/npcs.svg" class="label-icon" matTooltipPosition="below" matTooltip="Personaggi">
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="./assets/campaign-tabs-icon/trophy.svg" class="label-icon" matTooltipPosition="below" matTooltip="Trofei">
                </ng-template>
                <app-campaign-achievements-tab [campaign]="campaignData" [isOwner]="isOwner" [characters]="charData"></app-campaign-achievements-tab>
            </mat-tab>
            <mat-tab *ngIf="isOwner">
                <ng-template mat-tab-label >
                    <img src="./assets/tabs-icons/cog.svg" class="label-icon" matTooltipPosition="below" matTooltip="Impostazioni">
                </ng-template>
                <app-campaign-settings-tab [campaign]="campaignData" [isOwner]="isOwner"></app-campaign-settings-tab>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<div class="sidenav-buttons" id="menu-button">
    <button class="step-button" mat-icon-button (click)="openSidenav()" matTooltip="Menu" matTooltipPosition="right">
        <mat-icon>menu</mat-icon>
    </button>
</div>

<!-- <div class="dice-buttons" id="dice-button" *ngIf="campaignData && campaignData.dddiceSlug !== undefined">
    <button class="step-button" mat-icon-button (click)="openDiceSelector()" matTooltip="Dadi"
        matTooltipPosition="right" [disabled]="campaignData.dddiceSlug === ''">
        <img src="./assets/dice/dice-d20-white.svg" alt="">
    </button>
</div> -->

<div class="dice-buttons" id="dice-button" *ngIf="campaignData && campaignData.dddiceSlug !== undefined">
    <button class="step-button" mat-icon-button (click)="openDiceSelector()" matTooltip="Dadi"
        matTooltipPosition="right" disabled>
        <img src="./assets/dice/dice-d20-white.svg" alt="">
    </button>
</div>