<div class="home-container" *ngIf="campaignData">
    <div class="header-container">
        <div class="header-title">
            {{campaignData.title}}
        </div>
        <!-- <button mat-icon-button class="header-button" [matMenuTriggerFor]="menu">
            <mat-icon>info</mat-icon>
        </button> -->
        <!-- <mat-menu #menu="matMenu">
            <div class="menu-container" (click)="$event.stopPropagation();">
                <div class="subtitle">Informazioni</div>
                <div *ngIf="!isOwner" class="campaign-id">DM: {{campaignData.dmName}}</div>
                <div class="campaign-id">Giocatori iscritti (n°): {{campaignData.characters.length}}</div>
                <div class="campaign-id">Iniziata il {{campaignData.createdAt.seconds*1000 | date:'dd/MM/yyyy'}}</div>
            </div>
            <div class="menu-container" (click)="$event.stopPropagation();">
                <div class="subtitle">Stato campagna</div>
                <div class="status-message-container">
                    {{campaignData.status.statusMessage}}
                </div>
            </div>
            <div class="menu-container" *ngIf="isOwner" (click)="$event.stopPropagation();">
                <div class="subtitle">ID Campagna</div>
                <div class="campaign-id">{{campaignData.id}}</div>
                <div class="subtitle">Password</div>
                <div class="campaign-id">{{campaignData.password}}</div>
            </div>
            <button mat-menu-item disabled *ngIf="isOwner">
                <mat-icon>settings</mat-icon> Gestisci
            </button>
            <button mat-menu-item disabled *ngIf="isOwner">
                <mat-icon>delete</mat-icon> Elimina campagna
            </button>
        </mat-menu> -->
    </div>
    <div class="view-tabs">
        <div class="status-container">
            <app-campaign-char-list [characters]="campaignData.characters"></app-campaign-char-list>
        </div>
        <mat-tab-group color="accent">
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="./assets/campaign-tabs-icon/story.svg" class="label-icon" matTooltipPosition="below" matTooltip="Storia">
                </ng-template>
                <app-campaign-story-tab [description]="campaignData.description" [story]="campaignData.story" [isOwner]="isOwner"></app-campaign-story-tab>
            </mat-tab>
            <mat-tab disabled>
                <ng-template mat-tab-label>
                    <img src="./assets/campaign-tabs-icon/quests.svg" class="label-icon" matTooltipPosition="below" matTooltip="Missioni">
                </ng-template>
            </mat-tab>
            <mat-tab disabled>
                <ng-template mat-tab-label>
                    <img src="./assets/campaign-tabs-icon/npcs.svg" class="label-icon" matTooltipPosition="below" matTooltip="Personaggi">
                </ng-template>
            </mat-tab>
            <mat-tab disabled>
                <ng-template mat-tab-label>
                    <img src="./assets/campaign-tabs-icon/achievements.svg" class="label-icon" matTooltipPosition="below" matTooltip="Ricompense">
                </ng-template>
            </mat-tab>
            <mat-tab *ngIf="isOwner">
                <ng-template mat-tab-label >
                    <img src="./assets/tabs-icons/cog.svg" class="label-icon" matTooltipPosition="below" matTooltip="Impostazioni">
                </ng-template>
                <app-campaign-settings-tab [campaign]="campaignData" [isOwner]="isOwner"></app-campaign-settings-tab>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<div class="sidenav-buttons" id="menu-button">
    <button class="step-button" mat-icon-button (click)="openSidenav()" matTooltip="Menu" matTooltipPosition="right">
        <mat-icon>menu</mat-icon>
    </button>
</div>

<div class="dice-buttons" id="dice-button">
    <button class="step-button" mat-icon-button (click)="openDiceSelector()" matTooltip="Dadi"
        matTooltipPosition="right" disabled>
        <img src="./assets/dice/dice-d20-white.svg" alt="">
    </button>
</div>