.home-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 80%;
    padding: 16px 0;
    box-sizing: border-box;
    max-width: 1200px;
}

.iPad-padding {
    padding: 32px 0;
}

.header-container {
    background-color: rgba($color: #212121, $alpha: 0.9);
    color: whitesmoke;
    display: flex;
    // flex-direction: column;
    // gap: 12px;
    // justify-content: space-between;
    align-items: center;
    gap: 12px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    height: 110px;
    // padding: 4px 16px;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

.title-subtitle {
    display: flex;
    gap: 12px;
}

.header-info>div {
    font-style: italic;
}

.header-title {
    font-family: 'Cinzel', serif;
    font-size: large;
    letter-spacing: 2px;
}

.header-title::first-letter {
    font-size: x-large;
}

.header-button {
    margin-right: 12px;
}

.header-date {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

.menu-container {
    padding: 8px;
    border-bottom: 1px solid lightgray;
}

.subtitle {
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    opacity: 0.7;
}

.campaign-id {
    font-size: small;
}

.status-message-container {
    background-color: #212121;
    color: whitesmoke;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.characters-line {
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
}

.character-item {
    display: flex;
    flex-direction: column;
    // width: 100%;
    max-width: 200px;
    max-height: 250px;
    position: relative;
}

.character-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.character-name {
    background-color: rgba($color: #212121, $alpha: 0.9);
    color: whitesmoke;
    font-size: small;
    text-align: center;
    padding: 8px 0;
    font-family: 'Cinzel', serif;
    // position: absolute;
    // bottom: 0;
}

.character-class {
    background-color: #212121;
    color: whitesmoke;
    font-size: small;
    text-align: center;
    padding: 8px 0;
}

.sidenav-buttons {
    position: fixed;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dice-buttons {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 2000;
}

.step-button {
    background-color: #212121;
    color: white;
    border-radius: 0;
    padding: 8px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.step-button[disabled] {
    background-color: #212121;
    color: white;
    border-radius: 0;
    padding: 8px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

.view-tabs {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
    max-width: 1200px;
}

.view-tabs>mat-tab-group {
    width: 50%;
    flex-grow: 1;
    background-color: white;
    // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.label-icon {
    height: 30px;
}

.status-container {
    background: rgba($color: #FFFFFF, $alpha: 0.5);
    flex-grow: 1;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-sizing: border-box;
    max-width: 45%;
    min-width: 45%;
}

.mat-tab-label {
    background: #e7e7e7;
    color: #212121;
    min-width: 60px !important;
}

::ng-deep.mat-mdc-tab-header {
    padding: 20px;
}

::ng-deep.mat-mdc-tab-body-content {
    padding: 0 20px;
    // overflow-y: hidden !important;
}

::ng-deep mat-tab-group .mat-mdc-tab-body-wrapper {
    height: 100%;
}

@media screen and (min-width: 501px) {
    .status-container {
        max-height: 100%;
        overflow: auto;
        flex-grow: 1;
        box-sizing: border-box;
        max-width: 45%;
        min-width: 45%;
    }

    .view-tabs {
        overflow: hidden;
    }

    .view-tabs>mat-tab-group {
        max-height: 100%;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {

    .home-container {
        width: 90%;
    }

    .view-tabs>mat-tab-group {
        max-width: 100%;
        margin-bottom: 50px;
    }

    .status-container {
        width: 100%;
        min-width: none;
        max-width: 100%;
        box-sizing: border-box;
    }

    .view-tabs {
        margin-bottom: 20px;
        overflow: auto;
        flex-wrap: wrap
    }

    .sidenav-buttons {
        flex-direction: row;
        z-index: 2000;
        left: 8px;
    }

    ::ng-deep.mat-mdc-tab-header {
        padding: 10px;
    }

    .character-info-container {
        gap: 0;
        font-size: x-small;
    }

    .character-name {
        font-size: unset;
    }

    .character-name::first-letter {
        font-size: medium;
    }
}

::ng-deep.mdc-tab {
    min-width: 50px !important;
    max-width: 50px !important;
}

::ng-deep.mat-mdc-tab-labels {
    justify-content: space-evenly;
}

.player-tab {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
    .header-container {
        // padding: 16px;
        font-size: smaller;
    }
}

@media screen and (min-width: 1500px) {
    .home-container, .view-tabs {
        max-width: 1450px;
    }

    .view-tabs>mat-tab-group {
        flex-grow: 1;
    }

    .status-container {
        max-width: 35%;
        min-width: 35%;
    }
}

.pride-flag-column {
    display: flex;
    width: 10px;
    height: 100%;
    flex-direction: column;
    align-self: flex-end;

    &>div {
        width: 100%;
        opacity: 0.9;
    }

    &>div.red {
        background-color: red;
        height: calc(100% / 6);
    }
    &>div.orange {

        background-color: orange;
        height: calc(100% / 6);
    }
    &>div.yellow {
        background-color: yellow;
        height: calc(100% / 6);
    }
    &>div.green {
        background-color: green;
        height: calc(100% / 6);
    }
    &>div.blue {
        background-color: blue;
        height: calc(100% / 6);
    }
    &>div.purple {
        background-color: purple;
        height: calc(100% / 6);
    }
}