<div class="home-container" *ngIf="campaignData">
    <div class="header-container">
        <div class="header-title">
            {{campaignData.title}}
        </div>
        <button mat-icon-button class="header-button" disabled>
            <mat-icon>info</mat-icon>
        </button>
    </div>
    <div class="status-message-container">
        {{campaignData.status.statusMessage}}
    </div>
</div>

<div class="sidenav-buttons" id="menu-button">
    <!-- <app-dice></app-dice> -->
    <button class="step-button" mat-icon-button (click)="openSidenav()" matTooltip="Menu" matTooltipPosition="right">
        <mat-icon>menu</mat-icon>
    </button>
</div>

<div class="dice-buttons" id="dice-button">
    <button class="step-button" mat-icon-button (click)="openDiceSelector()" matTooltip="Dadi" matTooltipPosition="right" disabled>
        <img src="./assets/dice/dice-d20-white.svg" alt="">
    </button>
</div>