.chapter-number {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

.chapter-title-divider {
    margin: 16px 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.7);
    width: 100%;
}

.chapter-title {
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;

    &::first-letter {
        font-size: 2.5rem;
    }
}

.chapter-subtitle {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 1.5rem;
}

.chapter-description {
    margin-bottom: 16px;
    white-space: pre-wrap;
}

.element-container {
    display: grid;
    grid-template-columns: 10px 1fr;
    gap: 4px;
    margin-bottom: 8px;
}

.micro-icon {
    align-self: start;
    font-size: x-small;
    color: rgba($color: #212121, $alpha: 0.2);

    &:hover {
        color: #212121;
        cursor: pointer;
    }
}

.bookmarked {
    color: #FFD700;
}

.element-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    border-bottom: 1px solid;

    &::first-letter {
        font-size: 2rem;
    }

    font-size: 1.8rem;
    margin: 0;
}

.element-subtitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;

    &::first-letter {
        font-size: 1.6rem;
    }

    font-size: 1.2rem;
    margin: 0;
}

.element-simple-text {
    text-align: justify;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: pre-wrap;
}

.element-descriptive-text {
    text-align: justify;
    line-height: 1.5;
    font-style: italic;
    padding: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-left: 1px dotted rgba(0, 0, 0, 0.7);
    border-right: 1px dotted rgba(0, 0, 0, 0.7);
    white-space: pre-wrap;
}

.element-note {
    padding: 12px;

    &>.element-note-title {
        font-weight: bold;
        margin-bottom: 4px;
    }

    &>.element-note-text {
        text-align: justify;
        line-height: 1.5;
    }

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    white-space: pre-wrap;
}

.element-image {
    width: 100%;
}

.element-caption {
    font-size: smaller;
    opacity: 0.8;
    text-align: right;
}

.element-list-item {
    text-align: justify;
    line-height: 1.5;
}

.element-list-item-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.element-table-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2px;
}

.table-header-left, .table-header-right {
    font-weight: bold;
}

// .table-container {
//     margin-bottom: 8px;
// }

.element-table-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 2px;
}

.even-row {
    background-color: rgba(0, 0, 0, 0.05);
}

// .element-skill-container {
//     // border: 1px solid rgba($color: #212121, $alpha: 0.8);
//     margin-bottom: 8px;
// }

.element-skill-title {
    font-weight: bold;
    opacity: 0.4;
    font-size: smaller;
    text-transform: uppercase;
}

.skill-title {
    font-family: 'Cinzel', serif;
    text-align: center;
    background-color: rgba($color: #212121, $alpha: 0.9);
    color: whitesmoke;
    padding: 8px;
}

.skill-cd {
    text-align: center;
    font-size: large;
    border-left: 1px solid rgba($color: #212121, $alpha: 0.8);
    border-right: 1px solid rgba($color: #212121, $alpha: 0.8);
    padding: 8px;
    font-family: 'Cinzel', serif;
    font-size: x-large;
}

.skill-info {
    background-color: rgba($color: #212121, $alpha: 0.5);
    color: whitesmoke;
    padding: 12px;
}

.element-result-container {
    border-left: 1px solid rgba($color: #212121, $alpha: 0.8);
    border-right: 1px solid rgba($color: #212121, $alpha: 0.8);
    padding: 8px;
    display: grid;
    grid-template-columns: 25% 1fr;
    background-color: rgba($color: #212121, $alpha: 0.9);
    color: whitesmoke;
    
    &>p {
        font-size: smaller;
        margin: 0;
    }
}

.p-divider {
    border-bottom: 1px solid whitesmoke;
}

.element-result-label {
    font-weight: bold;
    font-size: x-small;
}

.element-org-container {
    width: 100%;
    background-color: rgba($color: #212121, $alpha: 0.9);
    border: 1px solid rgba($color: #212121, $alpha: 0.9);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-height: 70px;
}

.element-org-container>img {
    object-fit: cover;
    height: 70px;
    min-width: 70px;
    border-top: 1px solid #212121;
    box-sizing: border-box;
}

.element-org-container>button {
    margin-right: 8px;
}

.org-title-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 2px;
    flex-grow: 1;
    color: whitesmoke;
}

.org-title {
    font-family: 'Cinzel', serif;
    font-size: large;
    display: flex;
    align-items: center;
}

.org-place {
    font-size: smaller;
}

.element-org-description {
    background-color: whitesmoke;
    color: #212121;
    font-size: small;
    padding: 8px;
    border: 1px solid rgba($color: #212121, $alpha: 0.9);
    margin-bottom: 8px;
}

.npc-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.npc-footer>img {
    height: 16px;
    width: 16px;
}

.addon-name {
    background-color: #212121;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-summary {
    opacity: 0.9;
}

.bg-description {
    padding: 8px;
}

.main-details[open] {
    border: 1px solid #212121;
}

details>summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: url("/assets/icons/chevron_right.svg");
    cursor: pointer;
}

details[open]>summary::after {
    content: url("/assets/icons/chevron_down.svg");
    cursor: pointer;
}

.caratteristiche-main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 4px;
    padding: 4px;
    box-sizing: border-box;
}

.caratteristiche-line {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 4px;
}

.caratteristiche-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    width: 100%;
    border: 1px solid #212121;
    min-width: 30%;
}

.caratteristica-label {
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    background-color: #212121;
    padding: 5px 0;
    color: whitesmoke;
}

.caratteristica-value {
    font-size: small;
    padding: 4px 0;
    font-weight: bold;
    background-color: whitesmoke;
    width: 100%;
    letter-spacing: 2px;
}

.caratteristica-mod {
    font-size: small;
    font-weight: 700;
    background-color: #212121;
    width: 100%;
    padding: 5px 0;
    color: whitesmoke;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    width: 100%;
}

.info-line {
    display: flex;
    gap: 8px;
}

.info-label {
    font-size: small;
    font-weight: bold;
    letter-spacing: 1px;
}

.info-value {
    font-size: small;
}

.hp-container {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    // height: 25px;
    position: relative;
}

.hp-value {
    position: absolute;
    font-weight: bold;
    background-color: white;
    color: #212121;
    padding: 0 5px;
    // top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.hp-bar {
    flex-grow: 1;
    height: 8px;
    background-color: lightgray;
}

.hp-button {
    height: 25px;
    width: 25px;
}

.hp-button>mat-icon {
    overflow: clip !important;
}

.inner-details {
    padding: 0 4px;
    padding-bottom: 4px;
}

.inner-line {
    padding: 4px;
}

.inner-label {
    font-size: small;
    font-weight: bold;
}

.inner-value {
    font-size: smaller;
}

.section-title {
    margin: 8px 0;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.element-encounter-title {
    font-size: small;
    text-transform: uppercase;
    opacity: 0.6;
}

.element-encounter {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #212121;
    max-height: 32px;

    &>.encounter-item-image{
        width: 32px;
        height: 32px;
        object-fit: cover;
    }
}

.element-item {
    background-color: rgba($color: #212121, $alpha: 0.9);
    color: whitesmoke;
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.element-item-title {
    font-size: small;
    font-family: 'Cinzel', serif;
}

.item-description {
    padding: 8px;
    border: 1px solid #212121;
    border-top: 0;
    opacity: 0.7;
    font-size: small;
    white-space: pre-wrap;
}

.element-quest-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &>.quest-description, .quest-result {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
    }
    &>.dm-notes-label {
        font-weight: bold;
        opacity: 0.7;
    }
    &>.quest-dm-notes {
        opacity: 0.7;
    }
}

.pills-container {
    margin-bottom: 0 !important;
}