<div mat-dialog-title class="dialog-title">Elimina personaggio</div>
<mat-dialog-content class="mat-typography" [formGroup]="form">
    <div as-description-text>Conferma per cancellare il Personaggio. <strong>ATTENZIONE: L'AZIONE È IRREVERSIBILE.</strong> Continuare?</div>
    <div class="sections-container" >
        <mat-checkbox formControlName="confirm">
            Si, voglio eliminare il Personaggio.
          </mat-checkbox>
      </div>
</mat-dialog-content>
<div as-buttons-container mat-dialog-actions align="end">
  <button as-btn mat-dialog-close>
    <div class="material-symbols-outlined">close</div> <div>Annulla</div>
  </button>
  <button as-btn as-btn-warn [disabled]="!form.valid" (click)="confirm()">
    <div class="material-symbols-outlined">warning</div> <div>Conferma</div>
  </button>
</div>