<div mat-dialog-title class="dialog-title">Elimina Campagna</div>
<div mat-dialog-content class="dialog-content">
    <div as-description-text>
        Stai per rimuovere dalla tua collezione questa Campagna. L'eliminazione andrà anche ad eliminare ogni traccia di
        essa dai personaggi che erano già iscritti (se presenti). L'azione è irreversibile. Procedere?
    </div>
</div>
<div as-buttons-container mat-dialog-actions align="end">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div> <div>Annulla</div>
    </button>
    <button as-btn as-btn-warn (click)="confirm()">
        <div class="material-symbols-outlined">warning</div> <div>Conferma</div>
    </button>
</div>