<div mat-dialog-title class="dialog-title">Creazione nuovo personaggio</div>
<div mat-dialog-content class="dialog-content" [formGroup]="charForm">
  <mat-form-field color="accent" class="custom-form-field" appearance="outline">
    <mat-label>Nome personaggio</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Annulla</button>
  <button mat-raised-button color="accent" [disabled]="!charForm.valid" (click)="confirm()">Conferma</button>
</div>