.step-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field-container {
  display: flex;
  gap: 12px;
  align-items: baseline;
}

.modificatore {
  font-size: x-large;
  background-color: #212121;
  padding: 12px;
  border-radius: 4px;
  color: white;
  width: 60px;
  text-align: center;
}

.input-field {
  width: 100%;
}

mat-form-field {
  width: 100% !important;
  margin-bottom: 12px;
}

.description-text {
  font-size: small;
  opacity: 0.5;
  font-style: italic;
  margin-bottom: 20px;
  text-align: justify;
}

details {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;
  background-color: whitesmoke;
}

details[open] {
  display: flex;
  flex-direction: column;
}

details[open] summary {
  margin-bottom: 4px;
}

summary {
  font-weight: bold;
  text-transform: uppercase;
}

.summary-text {
  opacity: 0.5;
}

button {
  border-radius: 0;
}