<div class="section-title">Denaro</div>
<div class="coins-viewer" >
    <div class="single-coins-viewer">
      <mat-icon class="mat-18"><img src="../assets/coins/copper.svg" alt=""></mat-icon>
      <div>
        {{denaroData.MR}} MR
      </div>
    </div>
    <div class="single-coins-viewer">
      <mat-icon class="mat-18"><img src="../assets/coins/silver.svg" alt=""></mat-icon>
      <div>
        {{denaroData.MA}} MA
      </div>
    </div>
    <div class="single-coins-viewer">
      <mat-icon class="mat-18"><img src="../assets/coins/electrum.svg" alt=""></mat-icon>
      <div>
        {{denaroData.ME}} ME
      </div>
    </div>
    <div class="single-coins-viewer">
      <mat-icon class="mat-18"><img src="../assets/coins/gold.svg" alt=""></mat-icon>
      <div>
        {{denaroData.MO}} MO
      </div>
    </div>
    <div class="single-coins-viewer">
      <mat-icon class="mat-18"><img src="../assets/coins/platinum.svg" alt=""></mat-icon>
      <div>
        {{denaroData.MP}} MP
      </div>
    </div>
  </div>
<!-- <app-monete></app-monete> -->
<div class="section-title">Equipaggiamento</div>
{{equipaggiamentoData}}
