.description-text {
  font-size: small;
  opacity: 0.5;
  font-style: italic;
  margin-bottom: 20px;
  text-align: justify;
}

.section-title {
  margin-bottom: 16px;
  font-size: medium;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.coins-viewer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.single-coins-viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.money-button {
  background-color: #212121;
  border-radius: 0px;
  color: white;
  box-shadow: 0 0 4px #212121;
}

.money-button-mobile {
  display: none;
}

.equips {
  white-space: pre-wrap;
}

.inventory-container {
  height: 100%;
  max-height: 100%;
}

@media screen and (max-width: 500px) {
  .desktop {
    display: none;
  }

  .coins-viewer {
    margin-bottom: 10px;
  }

  .money-button-mobile {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

}