.description-text {
  font-size: small;
  opacity: 0.5;
  font-style: italic;
  margin-bottom: 20px;
  text-align: justify;
}

.section-title {
  margin-bottom: 16px;
  font-size: medium;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba($color: black, $alpha: 0.3);
}

.coins-viewer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.single-coins-viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.money-button {
  background-color: black;
  border-radius: 4px;
  color: white;
  box-shadow: 0 0 4px black;
}