<div mat-dialog-title class="dialog-title">Archivio Trofei</div>
<div mat-dialog-content class="dialog-content">
    <div as-description-text>
        Nei gruppi sottostanti troverai le Missioni scoperte e completate durante la tua Campagna.
    </div>
    @for(a of data.archive; track i; let i = $index) {
    <details>
        <summary class="summary-name">Capitolo {{i + 1}} - {{a.title}}</summary>
        @if(a.achievements.length === 0) {
        <div class="empty-message">Nessun trofeo presente in questo Capitolo.</div>
        }
        @for (t of a.achievements; track idx; let idx = $index) {
        <div class="story-container" [ngClass]="{'divider': !$last}">
            <div class="achievement-line">
                <div class="material-symbols-outlined">{{t.reclamedBy ? 'check' : 'close'}}</div>
                <div><span class="story-title">{{t.title}}</span> {{t.content}}</div>
            </div>
        </div>
        }
    </details>
    }
</div>
<div as-buttons-container mat-dialog-actions align="end">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div> <div>Annulla</div>
    </button>
</div>