.main-abilita-container{
    height: 100%;
    overflow-y: auto;
    padding: 8px;
}

.section-title {
    margin-bottom: 10px;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.a-container {
    padding: 6px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.a-container:nth-child(even) {
    background-color: #f2f2f2;
}

.a-container.last-item {
    margin-bottom: 12px;
}

.a-name {
    font-size: medium;
}

.maestria-icon {
    font-size: smaller;
}

.a-name::first-letter {
    text-transform: uppercase;
}

.a-divider {
    border-bottom: 1px dotted lightgray;
    flex-grow: 1;
    margin: 0 12px;
}

.a-value {
    font-weight: bold;
    font-size: medium;
}

.a-master {
    font-size: xx-small;
    vertical-align: text-bottom;
}

.competenze-container {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.competenze-label {
    // font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
    margin-bottom: 4px;

}

.competenza {
    background: #212121;
    color: #efefef;
    padding: 4px 8px;  
    text-align: center;
    border-radius: 4px;
}

.competenza::first-letter {
    text-transform: uppercase;
}

@media screen and (max-width: 500px) {
    .a-name {
        font-size: small;
    }

    .a-divider {
        margin: 0 6px;
    }
}