<div as-section-title>Competenze Abilità</div>
<div class="section-header">
    <!-- <mat-slide-toggle class="last-toggle" color="accent" (change)="showSkillInfo($event)">
        <div class="toggle-label">Info abilità</div>
    </mat-slide-toggle> -->
    <label as-toggle-button>
        <input type="checkbox" (change)="showSkillInfo($event)">
        <span as-slider></span>
    </label> Info abilità
</div>
<div class="abilita-container">
    @for (a of abilitaData; track i; let i = $index) {
    <div [ngClass]="{'dice-rolls': diceService.roomConnected, 'even-a': getEvenLine(i)}" class="a-container"
        (click)="rollDice(a.name, a.mod)">
        <div class="a-inner-container">
            <div class="material-symbols-outlined material-no-fill" *ngIf="!a.value && !a.maestria">
                radio_button_unchecked</div>
            <div class="material-symbols-outlined material-no-fill" *ngIf="a.value && !a.maestria"
                (mouseover)="tooltip.showTooltip($event, 'center', a.value && !a.maestria, 'a-tooltip')"
                (mouseleave)="tooltip.hideTooltip()">radio_button_checked</div>
            <div class="material-symbols-outlined" *ngIf="a.maestria"
                (mouseover)="tooltip.showTooltip($event, 'center', a.maestria, 'm-tooltip')"
                (mouseleave)="tooltip.hideTooltip()">stars</div>
            <div class="a-name">{{capitalizeSkillName(a.name)}} ({{a.short}})
                <!-- <span matTooltip="Competenza" matTooltipPosition="right" *ngIf="a.value && !a.maestria">•</span>
                <span class="a-master" matTooltip="Maestria" matTooltipPosition="right" *ngIf="a.maestria">★</span> -->
                <!-- <span class="material-symbols-outlined a-master" *ngIf="a.value && !a.maestria"
                    (mouseover)="tooltip.showTooltip($event, 'center', a.value && !a.maestria, 'a-tooltip')"
                    (mouseleave)="tooltip.hideTooltip()">circle</span>
                <span class="material-symbols-outlined a-master" *ngIf="a.maestria"
                    (mouseover)="tooltip.showTooltip($event, 'center', a.maestria, 'm-tooltip')"
                    (mouseleave)="tooltip.hideTooltip()">star</span> -->
            </div>
            <div class="a-value">{{a.mod}}</div>
        </div>
        <div class="a-description" *ngIf="showInfo">
            {{skillInfo[a.name].description}}
        </div>
    </div>
    }
</div>
<div *ngIf="competenzeData">
    <div as-section-title>Linguaggi e altre competenze</div>
    @if(competenzeData.linguaggi.length > 0) {
    <div as-subtitle>Linguaggi</div>
    <div class="competenze-container">
        <div *ngFor="let l of competenzeData.linguaggi">
            <div as-pill>{{l}}</div>
        </div>
    </div>
    }
    @if (competenzeData.armi && competenzeData.armi.length > 0) {
    <div as-subtitle>Armi</div>
    <div class="competenze-container">
        @for(a of competenzeData.armi; track $index) {
        <div as-pill>{{a}}</div>
        }
    </div>
    }
    @if (competenzeData.armature && competenzeData.armature.length > 0) {
    <div as-subtitle>Armature</div>
    <div class="competenze-container">
        @for(a of competenzeData.armature; track $index) {
        <div as-pill>{{a}}</div>
        }
    </div>
    }
    @if (competenzeData.strumenti && competenzeData.strumenti.length > 0) {
    <div as-subtitle>Strumenti</div>
    <div class="competenze-container">
        @for(s of competenzeData.strumenti; track $index) {
        <div as-pill>{{s}}</div>
        }
    </div>
    }
</div>
<app-description-tooltip id="a-tooltip" info="competenzaAbilita" *ngIf="tooltip.show && tooltip.id === 'a-tooltip'"
    [ngStyle]="{'top.px': tooltip.tooltipPosition.top, 'left.px': tooltip.tooltipPosition.left}"></app-description-tooltip>
<app-description-tooltip id="m-tooltip" info="maestriaAbilita" *ngIf="tooltip.show && tooltip.id === 'm-tooltip'"
    [ngStyle]="{'top.px': tooltip.tooltipPosition.top, 'left.px': tooltip.tooltipPosition.left}"></app-description-tooltip>