<!-- <div class="main-abilita-container"> -->
    <div class="section-title">Competenze Abilità</div>
    <div *ngFor="let a of abilitaData" class="a-container">
        <div class="a-name">{{a.name}} ({{a.short}})
            <span matTooltip="Competenza" matTooltipPosition="right" *ngIf="a.value && !a.maestria">•</span>
            <span class="a-master" matTooltip="Maestria" matTooltipPosition="right" *ngIf="a.maestria">★</span>
        </div>
        <div class="a-divider"></div>
        <div class="a-value">{{a.mod}}</div>
    </div>
    <div *ngIf="competenzeData">
        <div class="section-title">Linguaggi e altre competenze</div>
        <div *ngIf="competenzeData.linguaggi.length > 0" class="competenze-label">Linguaggi</div>
        <div *ngIf="competenzeData.linguaggi.length > 0" class="competenze-container">
            <div *ngFor="let l of competenzeData.linguaggi">
                <div class="competenza">{{l}}</div>
            </div>
        </div>
        <div *ngIf="competenzeData.armi.length > 0" class="competenze-label">Armi</div>
        <div *ngIf="competenzeData.armi.length > 0" class="competenze-container">
            <div *ngFor="let a of competenzeData.armi">
                <div class="competenza">{{a}}</div>
            </div>
        </div>
        <div *ngIf="competenzeData.armature.length > 0" class="competenze-label">Armature</div>
        <div *ngIf="competenzeData.armature.length > 0" class="competenze-container">
            <div *ngFor="let a of competenzeData.armature">
                <div class="competenza">{{a}}</div>
            </div>
        </div>
        <div *ngIf="competenzeData.strumenti.length > 0" class="competenze-label">Strumenti</div>
        <div *ngIf="competenzeData.strumenti.length > 0" class="competenze-container">
            <div *ngFor="let s of competenzeData.strumenti">
                <div class="competenza">{{s}}</div>
            </div>
        </div>
        <div *ngIf="competenzeData.altro.length > 0" class="competenze-label">Altro</div>
        <div *ngIf="competenzeData.altro.length > 0" class="competenze-container">
            <div *ngFor="let a of competenzeData.altro">
                <div class="competenza">{{a}}</div>
            </div>
        </div>
    </div>
<!-- </div> -->