// CUSTOM THEME

@use '@angular/material' as mat;

@include mat.core();

$dark-primary-text: rgba(#212121, 0.87);
$dark-secondary-text: rgba(#212121, 0.54);
$dark-disabled-text: rgba(#212121, 0.38);
$dark-dividers: rgba(#212121, 0.12);
$dark-focused: rgba(#212121, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$custom-palette: (
  50 : #ffffff,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #212121,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: white,
  )
);

$custom-error: (
  50 : #fcf2e7,
  100 : #f8dec3,
  200 : #f3c89c,
  300 : #eeb274,
  400 : #eaa256,
  500 : #e69138,
  600 : #e38932,
  700 : #df7e2b,
  800 : #db7424,
  900 : #d56217,
  A100 : #ffffff,
  A200 : #ffe3d4,
  A400 : #ffc3a1,
  A700 : #ffb287,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-primary: mat.define-palette($custom-palette, 50);
$my-accent: mat.define-palette($custom-palette, A700);
$my-warn: mat.define-palette($custom-palette, A700);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
      ),
      //  typography: mat.define-typography-config(),
      //  density: 0,
    ));

@include mat.core-theme($my-theme);
// @include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

// OTHER RULES

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;900&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // font-size: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300))) !important;
  box-sizing: border-box;
  // scrollbar-width: thin;
  // overflow-y: auto;
}

//Chrome
// ::-webkit-scrollbar,
// ::-webkit-scrollbar-thumb,
// ::-webkit-scrollbar-track {
//     width: 8px;
//     border: none;
//     background: transparent;
// }

// ::-webkit-scrollbar-button,
// ::-webkit-scrollbar-track-piece,
// ::-webkit-scrollbar-corner,
// ::-webkit-resizer {
//     display: none;
// }

// ::-webkit-scrollbar-thumb {
//     border-radius: 6px;
// }

// ::-webkit-scrollbar-track {
//     background-repeat: repeat-y;
//     background-size: contain;
// }





// ::-webkit-scrollbar-track {
//   // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   // background-color: #F5F5F5;
// }

::-webkit-scrollbar {
  width: 0px !important;
  // background-color: #F5F5F5 !important;
}

::-webkit-scrollbar-thumb {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  // background-color: #212121;
  border: none;
}

//Firefox
* {
  scrollbar-width: none;
}

.custom-snackbar,
.mdc-snackbar__surface {
  color: white !important;
  // border-radius: 8px;
  text-align: center;
}

app-character-list {
  display: flex;
  // width: 100% !important;
}

app-character-view {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.mdc-button__label {
  z-index: 0 !important;
}

.background-red {
  background-color: red !important;
}

.background-green {
  background-color: green !important;
}

.background-yellow {
  background-color: yellow !important;
}

progress {
  border: none;
  background: red;
}

progress::-moz-progress-bar {
  background: red;
}

progress::-webkit-progress-value {
  background: red;
}

.item-info-sheet {
  max-width: 450px !important;
} 