// CUSTOM THEME

@use '@angular/material' as mat;

@include mat.core();

$dark-primary-text: rgba(#212121, 0.87);
$dark-secondary-text: rgba(#212121, 0.54);
$dark-disabled-text: rgba(#212121, 0.38);
$dark-dividers: rgba(#212121, 0.12);
$dark-focused: rgba(#212121, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$custom-palette: (
  50 : #ffffff,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #212121,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: white,
  )
);

$custom-error: (
  50 : #fcf2e7,
  100 : #f8dec3,
  200 : #f3c89c,
  300 : #eeb274,
  400 : #eaa256,
  500 : #e69138,
  600 : #e38932,
  700 : #df7e2b,
  800 : #db7424,
  900 : #d56217,
  A100 : #ffffff,
  A200 : #ffe3d4,
  A400 : #ffc3a1,
  A700 : #ffb287,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-primary: mat.define-palette($custom-palette, 50);
$my-accent: mat.define-palette($custom-palette, A700);
$my-warn: mat.define-palette($custom-palette, 800);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
      ),
      //  typography: mat.define-typography-config(),
      //  density: 0,
    ));

@include mat.core-theme($my-theme);
// @include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

// OTHER RULES

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;900&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px !important;
}

::-webkit-scrollbar-thumb {
  border: none;
}

//Firefox
* {
  scrollbar-width: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.custom-snackbar,
.mdc-snackbar__surface {
  color: white !important;
  text-align: center;
}

app-character-list {
  display: flex;
}

app-campaign-list {
  display: flex;
  width: 100% !important;
}

app-campaign-view {
  display: flex;
  width: 100% !important;
  justify-content: center;
}

app-character-view {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.mdc-button__label {
  z-index: 0 !important;
}

.background-red {
  background-color: crimson !important;
}

.background-green {
  background-color: green !important;
}

.background-yellow {
  background-color: yellow !important;
}

progress {
  border: none;
  background: crimson;
}

progress::-moz-progress-bar {
  background: crimson;
}

progress::-webkit-progress-value {
  background: crimson;
}

.item-info-sheet {
  max-width: 450px !important;
}

mat-bottom-sheet-container {
  padding: 0 !important;
  margin: 0 !important;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

// CUSTOM ATTRIBUTES =========================

// MAT ICONS
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  font-size: 1.2rem;
}

// Da aggiungere alle icone che vogliamo senza riempimento.
.material-no-fill {
  font-variation-settings:
  'FILL' 0,
}

.material-mini {
  font-size: 0.8rem;
}

div[as-buttons-container] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 8px;
}

div[as-mini-buttons-container] {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 8px;
}

div[as-buttons-container][as-buttons-container-details] {
  padding: 0 8px;
}

@media screen and (max-width: 768px) {
  div[as-buttons-container] {
    flex-direction: column;
    align-items: center;

    &>button[as-btn] {
      width: 100%;
    }
    &>a[as-btn-link] {
      width: 100%;
      &>button[as-btn] {
        width: 100%;
      }
    }
  }
}

// Piccolo bottone rotondo, occupa pochissimo spazio. Da usare con una mat-icon come font.
button[as-mini-circle-btn] {
  border: none;
  box-shadow: none;

  background-color: #212121;
  color: whitesmoke;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  .material-symbols-outlined {
    color: whitesmoke;
  }
}

button[as-mini-circle-btn][inverted-color] {
  background-color: whitesmoke;
  color: #212121;

  .material-symbols-outlined {
    color: #212121;
  }
}

// Come sopra ma senza riempimento, per sfondi bianchi.
button[as-mini-circle-light-btn] {
  border: none;
  box-shadow: none;

  background-color: transparent;
  color: #212121;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    background-color: rgba(#212121, 0.2)
  }
}

button[as-mini-circle-btn][disabled] {
  cursor: default;
  opacity: 0.5;
}

// Bottone pensato per prevedere una mat icon e un testo all'interno di due div (funziona anche con solo testo).
button[as-btn] {
  border: none;
  box-shadow: none;

  background-color: #212121;
  color: whitesmoke;

  min-width: 120px;
  min-height: 32px;
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  font-size: 1rem;

  cursor: pointer;

  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  }
}

button[as-btn][disabled] {
  cursor: default;
  opacity: 0.5;

  &:hover {
    box-shadow: none;
  }
}

button[as-btn-warn] {
  background-color: crimson;
  color: whitesmoke;
}

a[as-btn-link] {
  text-decoration: none;
}

div[as-bottom-buttons-container] {
  position: fixed;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
}

div[as-bottom-buttons-container][as-bottom-left] {
  left: 16px;
}

div[as-bottom-buttons-container][as-bottom-right] {
  right: 16px;
}

button[as-bottom-btn] {
  border: none;
  box-shadow: none;

  background-color: #212121;
  color: whitesmoke;

  height: 48px;
  width: 48px;

  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;

  &>.material-symbols-outlined {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  div[as-bottom-buttons-container][as-bottom-left] {
    left: 8px;
  }
  
  div[as-bottom-buttons-container][as-bottom-right] {
    right: 8px;
  }
}

button[as-bottom-btn][disabled] {
  cursor: default;
  opacity: 0.5;
}

button[as-bottom-btn]:hover {
  opacity: 0.9;
}

// Dettaglio espandibile con icona personalizzata e contenuto ristretto.
details[open] {
  border: 1px solid #212121;
}

details[as-details] {
  margin-bottom: 4px;
}

details[as-npc-details] {
  margin-bottom: 0;
}

details[as-inner-details] {
  margin: 4px;
}

details[as-details]>summary {
  list-style: none;
}

details[as-details] summary::-webkit-details-marker {
  display: none;
}

summary[as-summary]::after {
  content: url("/assets/icons/chevron_right.svg");
  cursor: pointer;
}

details[open]>summary[as-summary]::after {
  content: url("/assets/icons/chevron_down.svg");
  cursor: pointer;
}

summary[as-summary] {
  background-color: #212121;
  color: white;
  padding: 8px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

summary[as-npc-details] {
  margin-bottom: 0;
}

// temporaneo finchè non cambiamo lo sfondo alle icone da black a #212121
summary[as-summary-with-icon] {
  background-color: black;
}

// Dettaglio ma per Campagna

// Dettaglio espandibile con icona personalizzata e contenuto ristretto.
details[as-camp-details] {
  margin-bottom: 4px;
}

details[as-camp-details][open] {
  border: none;
}

details[as-camp-details]>summary {
  list-style: none;
}

details[as-camp-details] summary::-webkit-details-marker {
  display: none;
}

summary[as-camp-summary]::after {
  content: url("/assets/icons/chevron_right.svg");
  cursor: pointer;
}

details[open]>summary[as-camp-summary]::after {
  content: url("/assets/icons/chevron_down.svg");
  cursor: pointer;
}

summary[as-camp-summary] {
  background-color: #212121;
  color: white;
  padding: 8px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  // margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  summary[as-camp-summary] {
    padding: 4px 8px;
  }
}

// Pillola per mostrare una serie di informazioni di una, massimo due parole, senza interazione.
div[as-pills-container] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  margin-bottom: 12px;
}

div[as-pill] {
  display: flex;
  align-items: center;
  background-color: #212121;
  color: whitesmoke;
  padding: 6px 24px;
  text-align: center;
  border-radius: 12px;

  .material-symbols-outlined {
    font-size: 1rem;
    margin-right: 4px;
  }

  span {
    margin-left: 4px;
  }
}

// Titolo di sezione, con bordo inferiore.
div[as-section-title] {
  margin: 8px 0;
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

// Sottotitolo di sezione, con bordo inferiore e leggero rientro a sinistra.
div[as-subtitle] {
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
  margin: 8px 0;
  text-transform: uppercase;
}

div[as-label] {
  font-weight: 600;
  font-size: small;
  margin: 8px 0;
}

// Descrizione di qualcosa, con testo giustificato e leggermente trasparente.
div[as-description-text] {
  font-size: small;
  opacity: 0.9;
  margin: 12px 0;
  text-align: justify;
}

// Slider toggle button, diventa verde quando attivo.
label[as-toggle-button] {
  --secondary-container: #3a4b39;
  --primary: #84da89;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1.2em;
  margin-bottom: 8px;
}

label[as-toggle-button] input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

span[as-slider] {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313033;
  transition: .2s;
  border-radius: 30px;
}

span[as-slider]:before {
  position: absolute;
  content: "";
  height: 0.9em;
  width: 0.9em;
  border-radius: 20px;
  left: 0.15em;
  bottom: 0.15em;
  background-color: #b3b3b3;
  transition: .4s;
}

input:checked+span[as-slider]::before {
  background-color: var(--primary);
}

input:checked+span[as-slider] {
  background-color: var(--secondary-container);
}

input:focus+span[as-slider] {
  box-shadow: 0 0 1px var(--secondary-container);
}

input:checked+span[as-slider]:before {
  transform: translateX(0.75em);
}

input[disabled]+span[as-slider] {
  opacity: 0.5;
  cursor: default;
}