// CUSTOM THEME

@use '@angular/material' as mat;

@include mat.core();

$dark-primary-text: rgba(#212121, 0.87);
$dark-secondary-text: rgba(#212121, 0.54);
$dark-disabled-text: rgba(#212121, 0.38);
$dark-dividers: rgba(#212121, 0.12);
$dark-focused: rgba(#212121, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$custom-palette: (
  50 : #ffffff,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #212121,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: white,
  )
);

$custom-error: (
  50 : #fcf2e7,
  100 : #f8dec3,
  200 : #f3c89c,
  300 : #eeb274,
  400 : #eaa256,
  500 : #e69138,
  600 : #e38932,
  700 : #df7e2b,
  800 : #db7424,
  900 : #d56217,
  A100 : #ffffff,
  A200 : #ffe3d4,
  A400 : #ffc3a1,
  A700 : #ffb287,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-primary: mat.define-palette($custom-palette, 50);
$my-accent: mat.define-palette($custom-palette, A700);
$my-warn: mat.define-palette($custom-palette, 800);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
      ),
      //  typography: mat.define-typography-config(),
      //  density: 0,
    ));

@include mat.core-theme($my-theme);
// @include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

// OTHER RULES

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;900&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px !important;
}

::-webkit-scrollbar-thumb {
  border: none;
}

//Firefox
* {
  scrollbar-width: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.custom-snackbar,
.mdc-snackbar__surface {
  color: white !important;
  text-align: center;
}

app-character-list {
  display: flex;
}

app-campaign-list {
  display: flex;
  width: 100% !important;
}

app-campaign-view {
  display: flex;
  width: 100% !important;
  justify-content: center;
}

app-character-view {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.mdc-button__label {
  z-index: 0 !important;
}

.background-red {
  background-color: crimson !important;
}

.background-green {
  background-color: green !important;
}

.background-yellow {
  background-color: yellow !important;
}

progress {
  border: none;
  background: crimson;
}

progress::-moz-progress-bar {
  background: crimson;
}

progress::-webkit-progress-value {
  background: crimson;
}

.item-info-sheet {
  max-width: 450px !important;
}

// CUSTOM ATTRIBUTES =========================

// MAT ICONS
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 1.2rem;
}

// Piccolo bottone rotondo, occupa pochissimo spazio. Da usare con una mat-icon come font.
button[as-mini-circle-btn] {
  border: none;
  box-shadow: none;

  background-color: #212121;
  color: whitesmoke;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

// Versione disabled
button[as-mini-circle-btn][disabled] {
  opacity: 0.5;
}

// Dettaglio espandibile con icona personalizzata e contenuto ristretto.
details[open] {
  border: 1px solid #212121;
  margin-bottom: 4px;
}

details[as-details] {
  margin-bottom: 4px;
}

details[as-details]>summary {
  list-style: none;
}

details[as-details] summary::-webkit-details-marker {
  display: none;
}

summary[as-summary]::after {
  content: url("/assets/icons/chevron_right.svg");
  cursor: pointer;
}

details[open]>summary[as-summary]::after {
  content: url("/assets/icons/chevron_down.svg");
  cursor: pointer;
}

summary[as-summary] {
  background-color: #212121;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

// temporaneo finchè non cambiamo lo sfondo alle icone da black a #212121
summary[as-summary-with-icon] {
  background-color: black;
}

// Pillola per mostrare una serie di informazioni di una, massimo due parole, senza interazione.
div[as-pill] {
  display: block;
  background-color: #212121;
  color: whitesmoke;
  padding: 6px 24px;
  text-align: center;
  border-radius: 12px;
}

// Titolo di sezione, con bordo inferiore.
div[as-section-title] {
  margin: 8px 0;
  font-size: medium;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

// Sottotitolo di sezione, con bordo inferiore e leggero rientro a sinistra.
div[as-subtitle] {
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
  margin: 0 0 8px 8px;
}

div[as-description-text] {
  font-size: small;
  opacity: 0.7;
  margin: 12px 0;
  text-align: justify;
}