<div mat-dialog-title class="dialog-title">{{data.achievement ? 'Modifica' : 'Nuovo'}} Riconoscimento</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div as-description-text>
        Dopo aver inserito un titolo pensa se il Riconoscimento sarà visibile o no anche se non reclamato. Se sarà
        visibile puoi decidere di rendere la descrizione un po' criptica per spingere i giocatori a capire come
        sbloccarlo.
    </div>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Titolo</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Descrizione (breve)</mat-label>
        <input matInput formControlName="content">
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Note del DM</mat-label>
        <textarea matInput formControlName="dmNotes" rows="5"></textarea>
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline" *ngIf="data.characters.length > 0">
        <mat-label>Reclamato da</mat-label>
        <mat-select formControlName="reclamedBy" multiple [compareWith]="compareFn">
            <mat-option *ngFor="let character of data.characters" [value]="{id: character.id, url: character.informazioniBase.urlImmaginePersonaggio}">
                {{character.informazioniBase.nomePersonaggio}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-checkbox color="accent" formControlName="visible">Visibile</mat-checkbox>
</div>
<div as-buttons-container mat-dialog-actions align="end">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div> <div>Annulla</div>
    </button>
    <button as-btn as-btn-warn *ngIf="data.achievement" (click)="delete()">
        <div class="material-symbols-outlined">delete</div> <div>Elimina</div>
    </button>
    <button as-btn [disabled]="!form.valid" (click)="confirm()">
        <div class="material-symbols-outlined">{{data.achievement ? 'check' : 'add'}}</div> <div>{{data.achievement ? 'Modifica' : 'Aggiungi'}}</div>
    </button>
</div>