.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // width: 100vw !important;
}

.second-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 16px 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title {
    background-color: black;
    color: white;
    font-family: Cinzel, serif;
    font-size: large;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-box {
    background-color: white;
    width: 100%;
    border-radius: 8px;
    padding: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.user-identity-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.stepper-container {
    // width: 80%;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

::ng-deep.mat-step-text-label {
    text-transform: uppercase;
}

::ng-deep.mat-step-icon {
    background-color: black !important;
    color: white !important;
}

::ng-deep.mat-step-label {
    font-size: large;
}

.stepper-buttons {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.step-button {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 8px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.action-buttons {
    position: fixed;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidenav-buttons {
    position: fixed;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (max-width: 500px) {
    .home-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100vw !important;
    }

    .second-section {
        width: 90%;
        height: auto;
    }

    // .stepper-buttons {
    //     display: none;
    // }

    // .mobile-stepper-buttons {
    //     display: flex;
    // }
}

.step-button:disabled {
    background-color: #e0e0e0;
}
