.blurred-background {
    background-image: url("../../../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.first-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    width: 20%;
    margin: 8px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    // background-color: blue;
}

.home-title {
    background-color: black;
    color: white;
    font-family: Cinzel, serif;
    font-size: large;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-box {
    background-color: white;
    width: 100%;
    border-radius: 8px;
    padding: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.user-identity-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    margin: 8px;
}

.form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stepper-container {
    width: 80%;
    border-radius: 12px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

@media screen and (max-width: 600px) {
    .home-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .first-section, .second-section {
        width: 90%;
        height: auto;
    }
}