<div class="blurred-background">
</div>

<div class="home-container">

    <div class="second-section">
      <form class="form-container">
        <mat-stepper class="stepper-container" orientation="vertical" #stepper>
          <!-- <ng-template matStepperIcon="edit">
            <mat-icon><img src="./assets/image/falling-blob.svg" alt=""></mat-icon>
        </ng-template> -->

          <mat-step label="Informazioni base">
            <form>
              <br>
              <app-basic-information></app-basic-information>
              <!-- <div> -->
              <button mat-stroked-button matStepperNext>Seguente</button>
              <!-- </div> -->
            </form>
          </mat-step>
          <mat-step label="Caratteristiche" >
            <form>
              <br>
              <app-caratteristiche></app-caratteristiche>
              <!-- <div> -->
              <button mat-stroked-button matStepperNext>Seguente</button>
              <!-- </div> -->
            </form>
          </mat-step>
          <mat-step label="Tiri salvezza" >
            <form>
              <br>
              <app-tiri-salvezza></app-tiri-salvezza>
              <!-- <div> -->
              <button mat-stroked-button matStepperNext>Seguente</button>
              <!-- </div> -->
            </form>
          </mat-step>
          <mat-step label="Abilità" >
            <form>
              <br>
              <!-- <div> -->
                <app-abilita></app-abilita>
              <button mat-stroked-button matStepperNext>Seguente</button>
              <!-- </div> -->
            </form>
          </mat-step>
          <mat-step label="Parametri vitali" >
            <form>
              <br>
              <app-parametri-vitali></app-parametri-vitali>
              <!-- <div> -->
              <button mat-stroked-button matStepperNext>Seguente</button>
              <!-- </div> -->
            </form>
          </mat-step>
          <mat-step label="Competenze e linguaggi" >
            <form>
              <br>
              <app-linguaggi-competenze></app-linguaggi-competenze>
              <!-- <div> -->
              <button mat-stroked-button matStepperNext>Seguente</button>
              <!-- </div> -->
            </form>
          </mat-step>
          <mat-step label="Equipaggiamento" >
            <form>
              <br>
              <app-equipaggiamento></app-equipaggiamento>
              <!-- <div> -->
              <button mat-stroked-button matStepperNext>Seguente</button>
              <!-- </div> -->
            </form>
          </mat-step>
          <mat-step label="Privilegi e tratti" >
            <form>
              <br>
              <app-privilegi-tratti></app-privilegi-tratti>
              <!-- <div> -->
              <button mat-stroked-button matStepperNext>Seguente</button>
              <!-- </div> -->
            </form>
          </mat-step>
          <mat-step label="Background" >
            <form>
              <br>
              <!-- <div> -->
              <button mat-stroked-button matStepperNext>Seguente</button>
              <!-- </div> -->
            </form>
          </mat-step>
          <mat-step label="Storia del personaggio">
            <form>
              <br>
              <!-- <div> -->
              <button mat-stroked-button matStepperNext>Seguente</button>
              <!-- </div> -->
            </form>
          </mat-step>
          <mat-step>
            <form>
              <ng-template matStepLabel>
                <div class="step-label">Completa</div>
              </ng-template>
              <div class="button-container">
                <button mat-stroked-button matStepperPrevious>Indietro</button>
                <button mat-raised-button color="accent">
                  <mat-icon>save</mat-icon> Salva</button>
              </div>
            </form>
          </mat-step>
        </mat-stepper>
      </form>
    </div>
</div>

<!-- <div class="">
  <div class=""> -->
    <!-- <div class="col-span-7 lg:col-span-2 order-2 lg:order-1">
      <h2>Upload Submission</h2>
      <div id="drop-area">
        <form class="my-form">
          <div class="border border-dotted text-center border-euPrimary p-10 bg-euPrimary/5 rounded-md">
            <div class="text-center mb-6"><img class="inline-block" src="./assets/images/ico_upload.png" alt=""></div>
            <p>Drag and drop a compatible file</p>
            <input type="file" id="fileElem" accept=".xml,.xlsx,.xlsm,.xlsb,.xls,.csv" (change)="uploadFile($event)" >
            <div class="mb-6"></div>
            <label class="text-sm" for="fileElem">Or choose the file from file manager</label>
          </div>
        </form>
      </div>
    </div> -->
    <!-- <div class="">
      <div class="">
        <h2 class=""></h2>

      </div>
    </div>
  </div>
</div> -->
