<div class="main-container">
  <div class="card-container" *ngIf="ownedCampaigns.length > 0">
    <div class="cart-title">Le tue campagne</div>
    <div class="card-details" *ngFor="let c of ownedCampaigns">
      <div class="card-info-container">
        <div class="campaign-title">{{c.title}}</div>
        <div class="campaign-description">{{c.description}}</div>
        <div class="campaign-status">{{c.status.statusMessage}}</div>
      </div>
      <button class="play-button" mat-icon-button [routerLink]="'/campaign-view/' + c.id">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
  </div>

  <div class="card-container" *ngIf="partecipantCampaigns.length > 0">
    <div class="cart-title">Iscrizioni</div>
    <div class="card-details" *ngFor="let c of partecipantCampaigns">
      <div class="card-info-container">
        <div class="campaign-title">{{c.title}}</div>
        <div class="campaign-dm">DM | {{c.dmName}}</div>
        <div class="character-list">
          <!-- <div class="character"> -->
            <img  *ngFor="let char of c.characters" src="{{char.basicInfo.urlImmaginePersonaggio}}" class="character-image" matTooltip="{{char.basicInfo.nomePersonaggio}}" matTooltipPosition="below">
          <!-- </div> -->
        </div>
        <div class="campaign-description">{{c.description}}</div>
        <div class="campaign-status">{{c.status.statusMessage}}</div>
      </div>
      <button class="play-button" mat-icon-button [routerLink]="'/campaign-view/' + c.id">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
  </div>


  <div class="empty-card-container" *ngIf="ownedCampaigns.length == 0">
    <div class="empty-message">Qui puoi creare le tue Campagne oppure unirti ad una di esse: premi uno dei tasti qui sotto per cominciare!</div>
    <button class="empty-char-button" mat-raised-button color="accent" (click)="createCampaigns()">
      <mat-icon>add</mat-icon> Nuova campagna
    </button>
    <button class="empty-char-button" mat-raised-button color="accent" (click)="ticketCampaign()">
      <mat-icon class="ticket-icon">confirmation_number</mat-icon> Unisciti ad una Campagna
    </button>
  </div>
  <div class="sidenav-buttons" id="menu-button">
    <button class="step-button" mat-icon-button (click)="openSidenav()" matTooltip="Menu" matTooltipPosition="right">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="add-buttons" id="add-button" *ngIf="ownedCampaigns.length > 0 || partecipantCampaigns.length > 0">
    <button class="step-button" (click)="createCampaigns()" mat-icon-button matTooltip="Crea Nuova"
      matTooltipPosition="left" [disabled]="ownedCampaigns.length >= 3">
      <mat-icon>add</mat-icon>
    </button>
    <button class="step-button" mat-icon-button matTooltip="Unisciti ad una Campagnia"
      matTooltipPosition="left" (click)="ticketCampaign()">
      <mat-icon class="ticket-icon">confirmation_number</mat-icon>
    </button>
  </div>
</div>


