.step-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-field {
    width: 100%;
}

.section-title {
    margin-bottom: 20px;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.description-text {
    font-size: small;
    opacity: 0.5;
    font-style: italic;
    margin-bottom: 20px;
    text-align: justify;
}

.line-container {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.line-input {
    flex-grow: 1;
}

.delete-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.button-container {
    margin-bottom: 12px;
}

button {
    border-radius: 0;
  }

@media screen and (max-width: 500px) {
    .delete-button>button {
        width: 100%;
    }

    .button-container>button {
        width: 100%;
    }
}