.main-privilegi-tratti-container {
    height: 100%;
    overflow-y: auto;
    padding: 8px;
}

.description-text {
    font-size: small;
    opacity: 0.5;
    font-style: italic;
    margin-bottom: 20px;
    text-align: justify;
}

.section-title {
    margin-bottom: 16px;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.pt-container {
    margin-bottom: 4px;
}

.pt-name {
    background-color: #212121;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

details[open] {
    border: 1px solid #212121;
    margin-bottom: 4px;
}

details>summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: url("/assets/icons/chevron_right.svg");
    cursor: pointer;
}

details[open] > summary::after {
    content: url("/assets/icons/chevron_down.svg");
    cursor: pointer;
}

.pt-type {
    font-size: small;
    opacity: 0.5;
    font-style: italic;
    padding: 0 4px;
}

.pt-description {
    padding: 0 4px;
    white-space: pre-wrap;
}

.pt-type::first-letter {
    text-transform: uppercase;
}

.razza-container {
    background-color: lightgray;
    padding: 8px;
    width: 100%;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.classe-label {
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
    margin-bottom: 4px;
}

.classi-container {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.classe {
    background: #212121;
    color: #efefef;
    padding: 8px;  
    text-align: center;
    border-radius: 4px;
}

.classe::first-letter {
    text-transform: uppercase;
}

.privilegi-label {
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
    margin-bottom: 4px;
}

.privilegi-label::first-letter {
    text-transform: uppercase;
}