.description-text {
    font-size: small;
    opacity: 0.5;
    font-style: italic;
    margin-bottom: 20px;
    text-align: justify;
}

.section-title {
    margin-bottom: 12px;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
}

.classi-container {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.pt-main-container {
    margin-bottom: 20px;
}

.pt-type {
    font-size: small;
    opacity: 0.5;
    font-style: italic;
    padding: 0 4px;

    &::first-letter {
        text-transform: uppercase;
    }
}

.pt-description {
    padding: 0 4px;
    white-space: pre-wrap;
    margin-bottom: 8px;
    font-style: italic;
}

.razza-container {
    background-color: lightgray;
    padding: 8px;
    width: 100%;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.classe-label {
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
    margin-bottom: 4px;
}

.classe {
    // background: #212121;
    // color: #efefef;
    // padding: 8px;  
    // text-align: center;
    // border-radius: 4px;
    background: rgba($color: #212121, $alpha: 0.9);
    color: #efefef;
    padding: 6px 12px;  
    text-align: center;
    border-radius: 16px;
}

.classe::first-letter {
    text-transform: uppercase;
}

.privilegi-label {
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
    margin: 8px 0;
}

.privilegi-label::first-letter {
    text-transform: uppercase;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.edit-button {
    background-color: #212121;
    color: whitesmoke;
    border: none;
    padding: 4px 16px;
    font-size: small;
    margin: 4px;
    border-radius: 4px;
}

.pt-bonus-title {
    font-weight: bold;
    border-bottom: 1px solid rgba($color: #212121, $alpha: 0.3);
    padding: 4px;
}

.pt-bonus-container {
    padding: 4px;
}