<!-- <div class="main-privilegi-tratti-container"> -->
    <div class="section-title">Razza: {{razzaData}} <span *ngIf="sottorazzaData !==''">({{sottorazzaData}})</span></div>
    <!-- <div class="classe-label">Classi</div> -->
    <div class="classi-container">
        <div *ngFor="let c of classiData">
            <div class="classe">{{c.nome}} <span *ngIf="c.sottoclasse !== ''">({{c.sottoclasse}})</span> di
                {{c.livello}}° livello</div>
        </div>
    </div>
    <div class="section-title">Privilegi, Tratti e Talenti</div>
    <div *ngFor="let pt of privilegiTrattiData">
        <details *ngIf="pt.tag === ''" class="pt-container">
            <summary class="pt-name">{{pt.nome}}</summary>
            <div class="pt-type">{{pt.tipologia}}<span *ngIf="pt.riferimento && pt.riferimento !== ''">,
                    {{pt.riferimento}}</span></div>
            <div class="pt-description">{{pt.descrizione}}</div>
        </details>
    </div>
    <div *ngFor="let t of tags" class="pt-main-container">
        <div class="privilegi-label">{{t}}</div>
        <div *ngFor="let pt of privilegiTrattiData">
            <details *ngIf="pt.tag.toLowerCase() === t" class="pt-container">
                <summary class="pt-name">{{pt.nome}}</summary>
                <div class="pt-type">{{pt.tipologia}}<span *ngIf="pt.riferimento && pt.riferimento !== ''">,
                        {{pt.riferimento}}</span></div>
                <div class="pt-description">{{pt.descrizione}}</div>
            </details>
        </div>
    </div>
<!-- </div> -->