<div mat-dialog-title class="dialog-title">Nuovo incontro</div>
<div mat-dialog-content class="dialog-content">
    <form [formGroup]="form">
        <div as-description-text>
            Decidi chi prenderà parte all'Incontro <em>deselezionando</em> Personaggi assenti e selezionando i nemici.
            Per quanto riguarda i nemici potrai scegliere successivamente la quantità dello stesso tipo.
        </div>
        <div class="line-container">
            <mat-form-field class="line-input" appearance="outline" color="accent">
                <mat-label>Personaggi</mat-label>
                <mat-select formControlName="characters" multiple>
                    <mat-option *ngFor="let character of data.characters" [value]="character">
                        {{character.informazioniBase.nomePersonaggio}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="line-input" appearance="outline" color="accent">
                <mat-label>Schede dei nemici</mat-label>
                <mat-select multiple [value]="selectedAddons" (selectionChange)="onAddonSelectionChange($event)">
                    <mat-option *ngFor="let addon of data.addons" [value]="addon">
                        {{addon.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="addons.controls.length > 0">
            <div as-subtitle>Schede selezionate</div>
            <div formArrayName="addons">
                @for(addon of addons.controls; track i; let i = $index) {
                <div [formGroupName]="i" class="addon-group">
                    <mat-form-field class="addon-input" appearance="outline" color="accent">
                        <mat-label>{{addon.value.addon.name}} (quantità)</mat-label>
                        <input matInput type="number" formControlName="quantity" min="1">
                    </mat-form-field>
                    <button as-mini-circle-btn as-btn-warn (click)="removeEnemy(i)">
                        <div class="material-symbols-outlined">close</div>
                    </button>
                </div>
                }
            </div>
        </div>
        <mat-checkbox formControlName="manualInitiative" color="accent">Inserisci manualmente iniziativa dei Personaggi (es. lanci dal vivo)</mat-checkbox>
        @if (form.get('manualInitiative').value) {
            <div as-subtitle>Iniziativa manuale</div>
            <div formArrayName="initiatives" class="initiative-container"> <!-- Cambiato da 'intiatives' a 'initiatives' -->
              @for (c of initiatives.controls; track i; let i = $index) {
              <div class="grid-item" [formGroupName]="i">
                <mat-form-field class="line-input" appearance="outline" color="accent">
                  <mat-label>Iniziativa di {{c.value.name}}</mat-label>
                  <input matInput type="number" formControlName="initiative">
                </mat-form-field>
              </div>
              } 
            </div>
          }
          
    </form>
</div>
<div as-buttons-container mat-dialog-actions align="end">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div> <div>Annulla</div>
    </button>
    <button as-btn [disabled]="!form.valid" (click)="generateEncounter()">
        <div class="material-symbols-outlined">add</div> <div>Crea incontro</div>
    </button>
</div>